@charset "utf-8";
/* CSS Document */

form, table, p, h1, h2, h3, h4, h5, h6, ul, li, div, dl {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
a {
    color: #000000;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    border: 0 none;
    vertical-align: top;
}
.clsFloatLeft {
    float: left;
}
.clsFloatRight {
    float: right;
}
.clear {
    clear: both;
    height: 0;
}
.clsClearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clsClearfix {
    display:block;
}
html[xmlns] .clsClearfix {
    display: block;
}
* html .clsClearfix {
    height: 1%;
}