body{
	font-family:open sans;
	background:#f5f5f5;
}
.course-header-content {
    background-color: #158d8e;
	padding:14px 0;
}
.fxacw {color: #FFF;
    font-family: open sans;
    font-size: 18px;
    font-weight: bold;
	vertical-align:middle;
}
.flex h1{font:600 24px 'Open Sans', sans-serif; text-transform:capitalize; margin:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.dropdown-menu h3{
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}
ul.course-header-buttons-container {float:right; margin:0; line-height:32px;}
ul.course-header-buttons-container > li {
	display:inline;
	margin: 0px 5px;
}
ul.course-header-buttons-container > li:last-child {
	margin-right: 0px;
}
ul.course-header-buttons-container > li a {
    color: #FFF;
    outline: medium none;
    text-decoration: none;
}
.dropdown-menu,.text-default{
	color: #333;
}
ul.checkbox-inputs{
	margin:20px 0px;
	padding:0;
}
ul.checkbox-inputs li{
	display:block;
	margin:15px 0px;
}
.unsub-wrapper{
	border-top: 1px solid #ddd;
	padding:10px 0px;
}
.unsub-wrapper p{
	border-top: 1px solid #ddd;
	padding:10px 0px;
}
.unsub-wrapper a.lastc{
	padding-bottom:10px;
}
.unsub-wrapper a{
	display:block;
}
.switcher-wrapper > div{
	float:right;
}
ul.share-links-icons li a {
color: #158d8e;
text-decoration: none;
background-color: #fafafa;
}
ul.share-links-icons li a i {
	width:20px;
    padding-right: 5px !important;
}
.course-header-icon:hover, .course-header-icon:focus{
	color:#e59859;
}
#adddiscussions{
	margin-top: -6px;
}
.top-discuss{
	margin:20px 0px 10px 0px;
}
.instructors-container{
	position:relative; min-height:32px; float:left;
}
.instructor-img { position:absolute; left:0; top:0; width:32px; height:32px; }
.instructor-thumb{width:32px;height:32px;border-radius:50%;}
.instructor-title { margin-left:42px; }
.instructor-title a {color:#FFF;cursor:pointer;font:600 14px 'Open Sans', sans-serif; text-transform:capitalize; line-height:32px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; }
.instructor-box .instructor-title:hover{
	color:#e59859;
}
.photography_section{
	margin:0px 0px;
}
.user-course-progress{
	font-size:16px;
	margin:0px 0px 30px 0px; 
}
.ucp-certificate  i{
	font-size:20px;
	float:right;
	line-height: 30px;
}
.ucp-certificate {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
	width: 40px;
}
.user-course-progress .progress {
    height: 12px;
    box-shadow: none;
    background: #D4D4D4;
	margin:5px 0px;
}
.curriculum-items-list {
    background: #fff;
    height: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	padding:0px;
	margin:0px;
}
.curriculum-section-container ul {
	margin:0;
	padding:0;
}
.curriculum-section-container {
    width: 100%;
    overflow: hidden;
}
.section-title {
    padding: 14px 0 14px;
    background-color: #eeeeee;
	margin:0;
}
.section-title h5 {
    margin: 0 15px;
    font-weight: 400;
    font-size: 14px;
}
.user-course-progress .progress {
    height: 10px;
    box-shadow: none;
    background: #D4D4D4;
    margin: 0px;
    border-radius: 0px;
	position:relative;
}
.progress_end_bar { width:2px; background:#fff; position:absolute; height:10px; right:10%; top:0; }
.progress .bar, .progress1 .bar {
    background-color: #d57c33;
    background-image: linear-gradient(to bottom, #d57c33, #d57c33);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    font-size: 12px;
    height: 100%;
    max-width: 100%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
}
.curriculum-item {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
    color: #888;
}
.ci-progress-mask:before {
    font-family: FontAwesome;
    background: #54b551;
    border-radius: 50%;
    content: "";
    float: left;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
}
.perc-100:before {
    font-family: FontAwesome;
    background: #54b551;
    border-radius: 50%;
    content: "\f00c";
    float: left;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
}
.ci-progress-container {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    left: 10px;
    line-height: 0;
    padding: 1px;
    position: absolute;
    top: 9px;
    z-index: 1;
    width: 20px;
    height: 20px;
}
.ci-info {
    border-left: 1px solid #f0f0f0;
    margin-left: 20px;
    padding: 6px 0 10px 10px;
    position: relative;
}
.perc-100 {
    display: inline-block;
    overflow: hidden;
}
.ci-progress-mask {
    display: inline-block;
    overflow: hidden;
}
.ci-title {
    color:#6b6b6b; font:600 14px 'Open Sans', sans-serif; text-transform:capitalize;
    padding: 3px 25px 0 5px;
    line-height: 18px;
    margin: 0;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.curriculum-item .ci-title {
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.ci-details {
    display: inline-block;
    padding: 0 6px;
	color:#6b6b6b; font:600 13px 'Open Sans', sans-serif; text-transform:capitalize;
}
.curriculum-item .ci-details {
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.curriculum-item:hover {
    background: #f1f1f1;
	color:#111 !important;
}
.nav.preview-tabs li{
	width:33%;
    font-family: open sans;
}
.preview-tabs > li > a{
	text-align:center;
	font: 600 14px 'Open Sans', sans-serif;
	background:none;
	color:#6b6b6b;
	padding:10px 0px;
}
.preview-tabs > li.active > a, .preview-tabs > li.active > a:hover, .preview-tabs > li.active > a:focus{
	background:none;
	color:#158d8e;
	font-weight:700;
	box-shadow: 0 -4px 0 0 #158d8e inset;
}
.preview-tabs > li > a:hover, .preview-tabs > li > a:focus{
	background:none;
	color:#158d8e;
	font-weight:700;
	box-shadow: 0 -4px 0 0 #158d8e inset;
	padding-bottom:11px;
}
.tab-content{
	margin:10px 0px 0px 0px;
}
.form-error{ border: 1px solid #ff0000 !important; }
@media (max-width: 768px){
	.flex h1{
		font-size: 20px;
	}
}
.nomargin{
	margin:0px;
}
.txt-orange{
	color:#e59859;
}
.btn-orange{
	padding:5px 10px;
	background-color:#e59859;
	color:#FFF;
	border-radius: 4px;
	text-transform:uppercase;
	font-size:14px;
	font-family: open sans;
}
.btn.btn-orange:hover,.btn.btn-orange:focus{
	color:#FFF;
	background-color:#d57c33;
}
.btn-bg{
	padding:3px 10px;
}
.discussion-search-icon {
	margin-left:-30px;
	margin-right:10px;
	font-size:14px;
	cursor:pointer;
}
.discussion-search{
    width: 40%;
    height: 45px;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 1.43;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.padspace{
	padding:0px 10px;
}
.media.profile .profile_image {
	padding:0px;
	min-height: 30px;
}
.media.profile .profile_image img {
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    margin: 0 15px 0 0;
    padding: 1px;
    width: 28px;
    height: 28px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.activity-post {
    margin: 20px 0 0px 20px;
	font-family:open sans;
}
.thumb-wrapper {
    float: left;
    padding: 0;
}
.thumb {
    width: 24px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
img.thumb {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.activity-post .activity-box {
    margin-left: 40px;
}
.activity-header {
    padding: 2px 0 0 0;
    position: relative;
    margin-bottom: 10px;
}
.header-left {
    font-size: 13px;
}
.activity-time {
    color: #777;
    font-size: 12px;
}
.activity-title {
    color: #158d8e;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
	margin-bottom:10px;
}
.activity-content{
	width:95%;
}
.activity-actions {
    font-size: 13px;
}
.para_lack_hut p{
	border:none;
}
.discussion-comments-block {
    margin: 0px;
    border-bottom: 1px solid #dedede;
   /* padding-bottom: 20px;*/
}
.discussion-comments-container {
    border-left: 10px solid #DEDEDE;
    margin: 10px 0;
    padding-left: 10px;
}
.discussion-comments-container-dark {
    border-left: 10px solid #444444;
    margin: 10px 0;
    padding-left: 10px;
}
.comment-box .activity-box {
    margin: 0 0 15px 34px;
    padding-bottom: 5px;
}
.comment-box .activity-header {
   /* margin-bottom: 5px;*/
     margin-bottom: 15px;
}
.hidden-btns a{
	margin:0px 8px;
	cursor:pointer;
}
.comment-creation {
    text-align: initial;
}
.comment-submit-box {
    margin-left: 34px;
}
.answer-box-edit .comment-creation {
    margin-bottom: 10px;
}
.answer-box-edit .comment-creation .comment-submit-box {
    margin-left: 34px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
}
.header-left a{
	cursor:pointer;
}


.blackhead{ background: #1a1a23; height:60px; width:100%; padding:20px 0px 20px 30px; }
.titlehead{ padding:20px 20px 0px 30px; }
.contenthead{ padding:20px 20px 20px 30px; }
.titlehead h2{ font-size:20px; font-weight:normal; color:#848485; }
.titlehead h2 span{ display:block;font-size:20px; font-weight:normal; color:#FFF; text-transform:capitalize; }
.blackhead a{ font-size:12px; color:#999; text-decoration:none; margin-right: 20px; }
.blackhead a:first-child{ margin-right: 60px;}
.blackhead a:hover{ color:#e59859;}
.righthide {
  background: #010102;
  cursor: pointer;
  margin-top: -11px;
  padding: 10px;
}
.righthide i{  font-size:20px; }
.nopadding{padding:0px;}
.side-tabs{
	border-bottom: 2px solid #b0692f;
}
.nav.side-tabs li{
	text-align:center;
	width:25%;
}
.side-tabs>li {
    margin-bottom: -2px;
}
.side-tabs>li>a>i {
	font-size:24px;
}
.side-tabs>li>a {
    color: #FFF;
	margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
	background-color:#cb8042;
	border-left:1px solid #b0692f;
	border-right:1px solid #fcaa66;
}
.side-tabs>li.active>a, .side-tabs>li.active>a:hover, .side-tabs>li.active>a:focus,.side-tabs>li>a:hover, .side-tabs>li>a:focus {
    color: #FFF;
    background-color: #e59859;
    border: none;
    border-bottom-color: transparent;
    cursor: pointer;
}
.lsidebar{
	border-top:10px solid #000;
	border-left:10px solid #000;
	height: 100%;
}

.curriculum-items-list-dark {
    background: #333333;
    height: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	padding:0px;
	margin:0px;
}
.curriculum-section-container-dark ul {
	margin:0;
	padding:0;
}
.curriculum-section-container-dark {
    width: 100%;
    overflow: hidden;
}
.section-title-dark {
    padding: 2px 0 0;
    border-bottom: 1px solid #333333;
    background-color: #222222;
}
.section-title-dark h5 {
    margin: 10px 15px;
    font-weight: 700;
    font-size: 14px;
}
/*.curriculum-item-container-dark{
	margin-top:-20px;
}*/
.curriculum-item-dark {
    position: relative;
    border-bottom: 1px solid #525252;
    display: block;
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
    color: #888;
}
.ci-progress-mask-dark:before {
    font-family: FontAwesome;
    background: #54b551;
    border-radius: 50%;
    content: "";
    float: left;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
}
.perc-100-dark:before {
    font-family: FontAwesome;
    background: #54b551;
    border-radius: 50%;
    content: "\f00c";
    float: left;
    height: 16px;
    width: 16px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
}
.ci-progress-container-dark {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    left: 10px;
    line-height: 0;
    padding: 1px;
    position: absolute;
    top: 9px;
    z-index: 1;
    width: 20px;
    height: 20px;
}
.ci-info-dark {
   /* border-left: 1px solid #525252;*/
    margin-left: 10px;
    padding: 6px 0 10px 10px;
    position: relative;
}
.perc-100-dark {
    display: inline-block;
    overflow: hidden;
}
.ci-progress-mask-dark {
    display: inline-block;
    overflow: hidden;
}
.ci-title-dark {
    font-size: 13px;
    font-weight: 500;
    padding: 3px 25px 0 5px;
    line-height: 18px;
    margin: 0;
	color:#FFF;
}
.curriculum-item-dark .ci-title-dark {
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.ci-details-dark {
    display: inline-block;
    padding: 0 6px;
}
.curriculum-item-dark .ci-details-dark {
    -webkit-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
.curriculum-item-dark:hover {
    background: #222;
	color:#FFF !important;
	text-decoration:none;
}
.curriculum-item-dark.active {
    background: #222;
	color:#FFF !important;
	text-decoration:none;
}
.use-padding{
	padding:0px 10px;
}
.table a {
	color:#FFF;
	font-weight:bold;
	font-size:16px;
	text-decoration:none;
}
#listnotes{
	margin:20px 0px;
}
#listnotes.table>thead>tr>th, #listnotes.table>tbody>tr>th, #listnotes.table>tfoot>tr>th, #listnotes.table>thead>tr>td, #listnotes.table>tbody>tr>td, #listnotes.table>tfoot>tr>td{
	border:none !important;
}
#listnotes.table {
    background: url(../images/notes-bg.png) no-repeat;
    background-repeat: repeat-y;
    min-height: 100%;
    padding-top: 31px;
	border:none;
}
.lecture-preview { 
	margin: 20px 0 20px 0px;
}	
.lecture-preview a { 
	color:#e59859;
	cursor:pointer;
}
.lecture-preview a:hover { 
	color:#cb8042;
	text-decoration:none;
}
.lecture-preview .discussion-activity-box{
	margin-top:-25px;
}
#listnotes.table tr:first-child {
	border-top: 1px solid #525252;
}
#listnotes.table tr {
	border-bottom:1px solid #525252;
}
.course_student_page { padding:30px 0 30px; }

/*course progress bar*/
.user_course_progress_stat { color:#6b6b6b; font:600 14px 'Open Sans', sans-serif; text-transform:capitalize; position:relative; padding-right:30px; }
.user_course_progress_stat .course_certification { position:absolute;  right:0; top:0;  }
.user_course_progress_stat .course_certification i { font-size:17px; color:#6b6b6b; }
.user_course_progress_stat { margin:0 0 8px;  }

/*curriculam*/
.curriculum-item-container { position:relative; min-height:56px; }
.curriculum-section-container h5 {color:#6b6b6b; font:600 14px 'Open Sans', sans-serif; text-transform:capitalize;}
.curriculum-section-container ul li { border-top:1px solid #d4d4d4; }
.curriculum-section-container ul li:first-child { border-top:0 none; }
.curriculum-section-container ul li.curriculum-item-container:hover { background:#f5f5f5; }
.curriculum-section-container ul li.curriculum-item-container:hover .lecture_link_state { display:block; }
.lecture_link_state { position:absolute; right:15px; top:18px; display:none;  }
.lecture_link_state a { display:inline-block; color:#ffffff; padding:2px 5px; font:600 11px 'Open Sans', sans-serif; text-transform:uppercase; background:#158d8e; border:0 none;   }
.lecture_link_state a:hover { background:#d57c33; color:#fffff;}

.course_media_0 { background:url(../images/video.png) no-repeat scroll left center;  }
.course_media_3 { background:url(../images/text.png) no-repeat scroll left center;  }
.course_media_5 { background:url(../images/presentation.png) no-repeat scroll left center;  }
.course_media_2 { background:url(../images/pdf.png) no-repeat scroll left center;  }
.course_media_1 { background:url(../images/audio.png) no-repeat scroll left center;  }
.ci-details {  background-size: 14px auto; margin-left: 6px; padding-left: 18px;}


/*************************New*********************/
.taken-course .lecture-b ul li h3,.taken-course .section-title-dark span.caps{text-transform:uppercase}
/*.taken-course .lsidebar{height:900px} */
  .cum_scrollbar {
/*  border-left: 10px solid #000;
  border-top: 10px solid #000;*/
  box-sizing: border-box;
  height: 900px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}
.taken-course .ci-title-dark span{font-family:open sans;font-size:15px;line-height:28px}
.taken-course .ci-title-dark{background:url(../../../images/db-arrow.png) left no-repeat;padding:4px 0 4px 20px}
.taken-course .ci-details-container-dark{padding:0 10px;margin-top:10px} .taken-course .section-title-dark h5{margin:16px 23px}
.taken-course .section-title-dark h5,.section-title-dark h5 span{font-family:open sans;font-size:15px;font-weight:400}
.taken-course .section-title-dark{background-color:#383838;border-bottom:1px solid #333}
.taken-course .tab-content.nomargin ul li.curriculum-item-container-dark{padding-left:5px;padding-right:5px}
.taken-course .taken-course .lecture-b ul{list-style:none;padding:0}
.taken-course .lecture-b ul li{float:left;margin:0 50px}
.taken-course .lecture-b ul li h3{color:#848485;font-size:18px;margin:0}
.taken-course .lecture-b ul li span.angle-r{transform:rotate(-35deg)}
.taken-course .titlehead h2{font-family:open sans;font-size:18px}
.taken-course .titlehead h2 span{font-family:open sans;font-size:18px;font-weight:400}
.taken-course .titlehead{float:left;padding-right:0}
.taken-course .arw-nxt a i.fa.fa-angle-left,.arw-nxt a i.fa.fa-angle-right{background:#555354;color:#fff;display:block;font-size:25px;padding:5px 13px}
.taken-course .arw-nxt a i.fa.fa-angle-right{border-bottom-right-radius:4px;border-top-right-radius:4px}
.taken-course .arw-nxt a{float:left;margin-left:4px}
.taken-course .arw-nxt a i.fa.fa-angle-left{border-bottom-left-radius:4px;border-top-left-radius:4px}
.taken-course .arw-nxt{float:right;margin-right:40px;margin-top:50px} .taken-course .blackhead a i{margin-right:4px}
.taken-course .ci-details-container-dark{display:none}
.taken-course .use-padding textarea { border: 1px solid #dedede; border-radius: 2px; color: #333; }
.taken-course .activity-box.discussion-activity-box { margin-left: 0; }
.taken-course .activity-header .header-left { padding-left: 40px; margin-top: -10px;}
.taken-course .discussion-comments-block .discussion-comments-container-dark { border: medium none; padding-left: 0; }
.taken-course .tab-content.nomargin ul li.curriculum-item-container-dark:hover { background:#242424; }
.taken-course .media.profile .profile_image img.img-circle { margin-right: 5px; }
.taken-course .media.profile .profile_image { padding: 0 8px 0 0; }
.taken-course .profile_image a i { color: #e59859; }
.taken-course .comment-box .header-left { padding-left: 0; }
.taken-course .titletext { font-family: open sans; font-size: 20px; text-transform: capitalize; color: #158d8e; }
.taken-course .media.profile .profile_content p { font-family: open sans; font-size: 14px; }
.taken-course .question-answers-creation .comment-submit-box textarea { border: 1px solid #dedede; margin-bottom: 12px; }
.taken-course .media.profile .profile_title a { color: #e59859; font-family: open sans; font-size: 14px; }
.taken-course .media.profile .form-group input[type="text"] { border: medium none;  margin-top: 15px; }
/*.taken-course .btn.cancelbtn, .taken-course .btn.btn-danger.editccancelbtn { padding: 5px 10px; }*/
.taken-course .commentReplyBox .btn.btn-orange.replybtn, .taken-course .commentReplyBox .btn.btn-danger.cancelbtn { margin-top:12px; }
.taken-course .comment-box .btn.btn-orange.updatereplybtn, .taken-course .comment-box .btn.btn-danger.editcancelbtn { margin-top:12px; }
.taken-course .discussion-comments-block .discussion-comments-container-dark { margin-top: 25px; }
.taken-course .lsidebar h2.txt-orange { font-family: open sans; font-size: 20px; margin:0; padding:15px 0 12px; }
.taken-course .lsidebar .header-left span.activity-header-link strong { color: #fff; font-family: open sans; font-weight: 400; }
.taken-course .lsidebar .comment-body.w3c-default p { font-family: open sans; font-size: 14px; }
.taken-course .discussion-comments-block { border-bottom:1px solid #525252; }
.taken-course .description-b p { font-family: open sans; font-size: 14px; }
.taken-course .description-b h4.txt-orange { font-family: open sans; font-size: 16px; }
.taken-course .description-b .table.table-bordered, .taken-course .description-b .table.table-bordered td { border:1px solid #525252; }
.taken-course .description-b .table.table-bordered td a { font-family: open sans; font-size: 15px; font-weight: 400; }
.taken-course .lecture-preview .activity-post span, .taken-course .lecture-preview .activity-post a, .taken-course .lecture-preview .activity-post time { font-family: open sans; }
.taken-course .col-sm-8.contentView.nopadding.col-md-12 { width: 100%; }
.taken-course .rply-box { clear: both; }
.taken-course .rply-box table { margin-bottom: 10px; }
.lecture-preview a { position: relative; z-index: 10; }

        .overview {
            height: auto;
        }
.lsidebar .ajax-comments button, .lsidebar .comment-box button {
  padding: 6px 12px;
}
#listnotes p.list_note {
  float: left;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
}
/************* Take Quiz Page *************/
.quiz-asset{
	margin-top:0px;
}
.quiz-asset .quiz-navigation {
    background: #383838;
    border-bottom: 1px solid #222;
    padding: 10px;
    position: relative;
    z-index: 1;
    width: 100%;
}
.back-btn2 {
    position: relative;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
}
.back-btn2:hover,.back-btn2:active,.back-btn2:focus{
	color:#222;
	text-shadow:none;
	text-decoration:none;
}
.quiz-asset .back-btn2 {
    float: left;
    margin: 0px 10px 0 15px;
    z-index: 1;
}
.quiz-asset .quiz-viewer {
    height: 100%;
    width: 100%;
    position: relative;
    white-space: nowrap;
    font-size: 0;
    left: 0;
	padding:0;
}
.quiz-asset .frame {
    background: #333;
    display: block;
    height: 100%;
    white-space: normal;
    width: 100%;
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
	color:#FFF;
}
.table {
    display: table;
    width: 100%;
    margin: 0;
}
.quiz-asset .table {
    height: 100%;
    table-layout: fixed;
}
.cell {
    display: table-cell;
    vertical-align: middle;
    float: none!important;
}
.quiz-asset .quiz-mask {
    bottom: 0;
    overflow: auto;
    position: relative;
    width: 100%;
}
.quiz-asset .quiz-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}
.quiz-asset .question .quiz-wrapper {
    padding: 0 20px;
}
.quiz-asset .question-text {
    font-size: 21px;
    text-align: left;
    margin: 15px 0;
}
.quiz-asset .assessment-related-lectures li, .quiz-asset .answers li {
    border: 1px solid #555;
    color: #FFF;
    margin-top: 10px;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}
.quiz-asset .assessment-related-lectures li:hover, .quiz-asset .answers li:hover {
    background: #383838;
}
.quiz-asset .assessment-related-lectures li.selected, .quiz-asset .answers li.selected {
    background: #DDDDDD;
    color: #111111;
}
.quiz-asset .assessment-related-lectures li.correct, .quiz-asset .answers li.correct {
    background: #5cb85c;
    color: #fff;
    border: 1px solid #375f1f;
}
.quiz-asset .assessment-related-lectures li.wrong, .quiz-asset .answers li.wrong {
    background: #d57c33;
    color: #fff;
    border: 1px solid #46171f;
}
.quiz-asset .answers .quiz-answer-feedback {
    display: block;
    border-top: 1px solid rgba(255,255,255,.1);
    margin-bottom: 0;
    margin-top: 5px;
    padding-top: 5px;
	font-size: 12px;
    font-style: italic;
	padding-left: 20px;
}
.quiz-asset .answers li i {
    font-size:20px;
	display:none;
}
.quiz-asset .answers li.correct i,.quiz-asset .answers li.wrong i {
	display:block;
}
.quiz-asset ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.quizbuttons button,.quizbuttons a {
	margin:20px 0;
	text-transform:uppercase;
}
.nomarginimp{
	margin:0px !important;
}
.instructor-thumb img{width:32px;height:32px;border-radius:50%;}

.quiz-asset .score {
    float: left;
    width: 300px;
    background: #333;
    height: 100%;
    background-color: #333;
    text-align: center;
    overflow: hidden;
    position: relative;
	min-height:300px;
}
.quiz-asset .score h2 {
    border-radius: 50%;
    font-size: 18px;
    margin: -40px -90px 0;
    padding: 90px 0 90px;
}
.quiz-asset .perc {
    background: #555;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 45px;
    height: 150px;
    line-height: 150px;
    margin-top: -70px;
    position: relative;
    width: 150px;
    padding: 10px;
}
.quiz-asset .perc span {
    background: #f7f7f7;
    border-radius: 50%;
    display: block;
    transform: rotate(rotate(-45deg));
    -ms-transform: rotate(rotate(-45deg));
    -webkit-transform: rotate(rotate(-45deg));
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
}
.quiz-asset .perc span i {
    background: #4cae4c;
    float: right;
    height: 100%;
    width: 0;
}
.quiz-asset .perc b {
    background: #555;
    border-radius: 50%;
    bottom: 25px;
    box-shadow: 0 0 2px #000 inset;
    left: 25px;
    line-height: 95px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2;
}
.quiz-asset .numbers {
    margin-top: 10px;
}
.quiz-asset .numbers p {
    margin: 0;
}
.quiz-asset .numbers .c {
    color: #5cb85c;
}
.quiz-asset .numbers .i {
    color: #d57c33;
}
.quiz-asset .numbers .s {
    color: #999;
}
.quiz-asset .numbers .co {
    font-weight: 700;
    margin-top: 10px;
}
.quiz-asset .review {
    margin-left: 300px;
    height: 100%;
    position: relative;
}
.quiz-asset .review .wrapper {
    overflow: auto;
    position: relative;
    top: 15px;
    bottom: 10px;
    width: 100%;
    padding: 0 20px;
}
.quiz-asset .review h1 {
    font-size: 18px;
}
.quiz-asset .webkit-wrapper {
    margin-top: 10px;
    border:1px solid #555;
}
.quiz-asset .scoreboard {
    display: table;
    width: 100%;
    font-weight: 700;
}
.quiz-asset .scoreboard .h {
    background: #383838;
}
.quiz-asset .scoreboard li {
    display: table-row;
}
.quiz-asset .scoreboard .q {
    background: #333;
	cursor: pointer;
}
.quiz-asset .scoreboard .q:hover,.quiz-asset .scoreboard .q:active,.quiz-asset .scoreboard .q:focus {
    background: #383838;
}
.quiz-asset .scoreboard li>div {
    display: table-cell;
    padding: 10px;
    box-shadow: 1px 0 rgba(0,0,0,.13) inset,2px 0 rgba(50,50,50,.3) inset;
    position: relative;
}
.quiz-asset .scoreboard .h>div {
    border-bottom: 2px solid #2F2F2F;
}
.quiz-asset .scoreboard li>div:first-child {
    box-shadow: none;
}
.quiz-asset .scoreboard .bordered-thumb {
    float: left;
    width: 25px;
    height: 25px;
    margin: -3px 10px 0 0;
}
.quiz-asset .scoreboard .h b {
    color: #999;
}
.quiz-asset .scoreboard .q>div:first-child {
    color: #FFF;
}
.quiz-asset .scoreboard .q>div {
    border-top: 1px solid #555;
}
.quiz-asset .scoreboard .a {
    text-transform: uppercase;
    color: #5cb85c;
}
.quiz-asset .scoreboard .a.i {
    color: #d57c33;
}
.quiz-asset .scoreboard .a.s {
    color: #999;
}
.assessment-stats span.a {
    float: left;
    min-width: 60px;
}


.commentbox ::-moz-placeholder { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;
}
.commentbox ::-moz-placeholder { /* Firefox 19+ */
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;
}
.commentbox ::-moz-placeholder {
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;
}
.commentbox ::-moz-placeholder { /* Firefox 18- */
  white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;
}

.lsidebar .redactor_box, .redactor_box textarea { color:#333333; }
.activity-content.w3c-default.profile_content p { word-wrap: break-word; }

.taken-course .col-sm-4.nopadding.lsidebar .pagination > li > a, .taken-course .col-sm-4.nopadding.lsidebar .pagination > li > span, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > span, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > span:focus, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > a, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > a:hover, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > a:focus {
  background-color: #cb8042;
  border-color: #e59859;
  color: #fff;
  cursor: pointer;
}
.taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > a, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > span, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > a:hover, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > span:hover, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > a:focus, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .active > span:focus {
  background-color: #e59859;
  border-color: #e59859;
  color: #fff;
  cursor: default;
  z-index: 2;
}
.taken-course .col-sm-4.nopadding.lsidebar .pagination li a:hover, .taken-course .col-sm-4.nopadding.lsidebar .pagination > .disabled > span:hover { background-color: #e59859; }

/************* Take Quiz Page *************/

.nopadding.lsidebar .viewport  {
  width: 100% !important;
}
.photography_section .course_student_curriculam .ci-title {
  width: 80%;
}
.nopadding.lsidebar .activity-content.w3c-default.profile_content {
  word-wrap: break-word;
}
@media(min-width:980px) and (max-width:1199px){
	.contenthead video {
  width: 100% !important;
  height: 295px !important;
}
}
@media(min-width:768px) and (max-width:979px){
	.contenthead video {
  width: 100% !important;
  height: 295px !important;
}
#listnotes p.list_note {
  width: 140px;
}
}


@media (min-width: 1200px) {
	
	.taken-course .col-sm-4.nopadding.lsidebar {
  float: right;
  width: 24%;
}
.taken-course .col-sm-8.contentView.nopadding {
  width: 76%;
}

}

@media (min-width: 993px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 992px) {
.course-header-content .col-lg-5 { margin:14px 0 0; }
.photography_section { margin:30px 0 0; }
}

@media (max-width: 767px) {
	.course-header-content .col-lg-5 { margin:14px 0 0; }
	.photography_section { margin:30px 0 0; }
	.nav.preview-tabs li { width:100%; float:none; }
		.contenthead video {
  width: 100% !important; height: 295px !important;
}
.quiz-asset .score {
  float: none;
  width: 100%;
}
.quiz-asset .review {
	margin-left:0px;
}
.lsidebar { border-left:none; }
}

@media (max-width: 480px) {
}
.nopadding.lsidebar .hidden-btns a {
  margin: 8px;
  padding: 0 !important;
}
.nopadding.lsidebar .hidden-btns {
  width: 80px;
}

.taken-course .tab-content.nomargin {
  height: 110vh;
}
#scroller.frame {
  height: 600px;
}


/*01.03.2018*/


.curriculum-items-list .ci-info {
    min-height: 56px;
}

