
body{margin:0px;padding:0px;}
.search_text {
  float: left;
}
.search_right.span3
{
	height: 35px !important;	
}

.search_text
{
	width: 70% !important;	
}
.search.clsClearfix
{
	height: 35px !important;
}


.container{width:1170px !important;}

.search {background: none !important;border:none !important;border-radius: 3px;margin-top: 8px;/*width: 180px;*/margin-right: 24px; width: 100% !important;}

.stext {color: #BBBBBB;font-family: 'PT Sans Caption',sans-serif;font-size: 13px;margin-bottom: 0 !important;border:1px solid #000000 !important;}

.sbutton {background: url("../images/search.png") no-repeat scroll 0 0;border: medium none;padding-top:15px;height:20px;}

.start_button{background:#70afdb;border:1px solid #5594C1;font-size:18px;font-family: 'Roboto', sans-serif;color:#ffffff;bottom: 2px;right: 22px!important;position:absolute;}

.profile_like img{float:left;}

.about_button {  float:right !important;}

.profile_view{display:table !important;margin:0 auto;}

.menudroplist.dropdown-toggle a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}


.menudroplist.dropdown-toggle a:active {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}


/*Home Page*/

/*create_course*/

.category_option  select {outline:0px;}


.banners_colors
{
	background: #494945;	
}

.dropdown-toggle.icon-share
{
	margin: 0px !important;
}
.profile_view.add_p
{
	width:90%;
}
.modal.fade.in
{
	border: none !important;
}
.business_class.move_left.span3
{
	width: 270px;
}
.header_menu.nav.pull-right li a:hover {
  background: none repeat scroll 0 0 #999999 !important;
  border-radius: 3px;
}
.profile_form.span12
{
	width: 1170px;
}
.gender_blocks select {
  min-height: 55px !important;
  padding-top: 18px !important;
  width: 777px !important;
}
.sbutton
{
background:url("../img/h_searchicons.png") no-repeat scroll right center !important;
height: 15px;
width: 15px;
}