/* CSS Document */

@media (min-width: 1200px) {.gender_blocks select
{
  min-height: 55px !important;
  padding-top: 18px !important;
  width: 777px !important;
}
.reg_banner_empty
{
	margin-top: 57px;	
}
.span3.form_left {
    max-width: 300px;
}
.reg_form{margin-top:56px;}
.start_now.second_block.span3 {
  margin-left: 25px !important;
  margin-right: 54px !important;
}
}
@media (min-width: 980px) and (max-width: 1300px) {/*Header style block of css*/}

@media (min-width: 600px) and (max-width: 799px){





}

@media (max-width:1200px){

/*.action-bar a {width: 55px;}*/

.bx-controls-direction {bottom: 140px;left: 30px;}

.video_player {left: 44px;max-width: 297px;
position: absolute;top: 125px;}


.slider_arrow {position: absolute;right: 390px;/*top: 140px;width: 72px;*/}

.get_start {
    background: linear-gradient(to bottom, #3E3E3E 1%, #202020 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-width: 345px;position: absolute;right: 12px;top: 88px;} 
	
	.align_center {margin: 120px 35px 0;}
}

@media (min-width: 980px) and (max-width: 1200px) {




.business_class.move_left.span3 {
    margin: 0 0 0 14px;
}

.post_image > img {max-width: 180px;}

.stext {max-width: 165px;}

.search_button {margin: 1px 10px 0 0;}

.bell_top {
    margin-top: 1px;
}

/* .post_image > img {
    max-width: 200px;
} */


.post_text.span6 {
    margin: 0 0 0 15px;
    width: 35%;
}


.user_fullname {
    float: right;
    line-height: 15px;
    margin-right: 10px;
    min-width: 145px;
}

.imagebottom_left {
  
    margin: 5px 6px;
}


/*.action-bar a {width: 55px;}*/



.bx-controls-direction {bottom: 140px;left: 30px;}

.modal.fade.model_width.in {width: 38%;left: 56%;}

.modal {left: 45%;}
.modal.fade.login_width.in {width: 64%;}

.align_center {margin: 120px 40px 0;}

.reg_textbox {padding: 12px 1px 12px 5px !important;}

/*Home page*/

.join_tutorial {
    color: #FFFFFF;font-family: 'roboto',sans-serif;
    font-size: 22px;font-weight: 400;}

.slider_arrow {position: absolute;
 right: 405px;/*top:182px;*/}


.access {
  /* 
    border-radius: 3px;margin: 8px auto; */max-width: 306px;/* text-align: center; */}
	
	.access > input {width:100%;}

.get_start {
    background: linear-gradient(to bottom, #3E3E3E 1%, #202020 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-width: 353px;position: absolute;right: 0px;top: 25px;}


.title_text {/* color: #F3C20D;font-family: roboto;font-size: 26px;font-weight: 700;line-height: 40px; */
/* margin: 0 auto;max-width: 330px; */padding: 7px 0;/* text-align: center; */}

.getstart_content {color: #FEFEFE;font-family: roboto;font-size: 18px;font-weight: 400;}

.ideas {line-height: 25px;/* margin-top: 15px; *//* text-align: center; */}

.ideas_content { line-height: 28px; margin: 25px auto 4px;/* max-width: 335px; *//* text-align: center; */}

.user_name {/* background: none repeat scroll 0 0 #141517; *//* border-radius: 3px;margin: 1px auto; */max-width: 307px;}

.head_line {color: #FFFFFF;font-family:roboto;font-size: 26px;font-weight:400;left: 4px;line-height: 46px;max-width: 530px;position: absolute;text-align: center;top: 30px;}

.video_player {/* bottom: 28px; */left: 44px;max-width: 380px;position: absolute;top:154px;}


.business_class {border: 1px solid #E1E1E1;border-radius: 3px;max-width: 250px;position: relative;margin-right:0px;}


.learn.span4 {margin-bottom: 25px;margin-right: 0px;max-width: 320px;}

/* .user_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;float: left;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-top: 10px;/* padding: 5px 58px 5px 4px; *//*text-align: left;width: 80%;}*/

/*.mail_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;float: left;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-top: 10px;/* padding: 5px 58px 5px 4px; *//*text-align: left;width: 80%;} */

/*End Home page*/

/*courses*/



.banner_bg {height:auto;/*margin-top:0px;*/}


.video > img {
    margin-top: 26px;

}

.align_course {height:auto;}

.student_image li img {border: 1px none #F9F9F9;box-shadow: 0 0 2px 1px #F5F5F5;height: 52px;margin-left: 1px;margin-right: 8px;max-width: 55px;padding: 2px;}


.more_images img {border: 1px solid #E1E1E1;border-radius: 3px;margin: 0 3px;/* max-width: 54px; */width:70px;padding: 3px;}


.student_image li img {max-width: 42px;}


.about_more {float: left;margin-bottom: 14px;margin-left: 0;}
	
.video {/* max-width: 345px; */position: absolute;/* right: 124px; */top: 36px;}

.description {padding:0 15px;}

.footer {background: none repeat scroll 0 0 #2F3945;margin-top: 0px;/*padding: 0 20px;*/}

.company{margin-right:0px;}

.course {margin-right: 0px;width: 245px !important;	}

.experts {margin-right:0px;}

.new_course {width: 234px !important;}

.advertise.span3 {margin-left: 35px;margin-right: 35px;}

.start_now.span3 {margin-left: 0;margin-top: 60px;position: relative;}

.start_now h3 {color: #773536;font-family: 'Roboto',sans-serif;font-size: 14px;left: 15px;position: absolute;top: 5px;}

.start_button {background: none repeat scroll 0 0 #70AFDB;border: 1px solid #5594C1;bottom: 2px;color: #FFFFFF;font-family: 'Roboto',sans-serif;font-size: 12px;position: absolute;right: -2px;}


.start_now p {color: #32292C;font-family: 'Open Sans',sans-serif;font-size: 10px;left: 16px;position: absolute;top: 34px;}
	
.start_now.span3 { margin-left: 0;margin-top: 30px;position: relative;}

.start_now h3 {color: #773536;font-family: 'Roboto',sans-serif;font-size: 14px;left: 15px;position: absolute;top: 5px;}

/*registration*/



.signup {
    color: #FFFFFF;
    font-family: 'roboto',sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 60px;
    margin: 14px auto;
    max-width: 416px;
    text-align: center;
    text-transform: uppercase;
}

.teacher_image {left: 43px;position: absolute;top: 26px;}

.course_preview .selector {width: 36% !important;}

.course_basic {color: #333333;font-family: 'roboto',sans-serif;font-size: 18px;font-weight: 400;
margin-top: 20px;padding-left: 2px;}

.course_preview .selector {
    background: linear-gradient(to bottom, #E5E5E5 0%, #CBCBCB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;border-radius: 2px;color: #727272;font-family: 'roboto',sans-serif;font-size: 18px;
    font-weight: 700;height: 44px;padding: 0 12px;position: relative;text-indent: 10px;text-shadow: 0 1px #FFFFFF;
    width: 35% !important;
}

.course_preview .selector {
    background: linear-gradient(to bottom, #E5E5E5 0%, #CBCBCB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;border-radius: 2px;color: #727272;font-family: 'roboto',sans-serif;font-size: 18px;
    font-weight: 700;height: 44px;padding: 0 12px;position: relative;text-indent: 10px;text-shadow: 0 1px #FFFFFF;
    width: 37% !important;}
	
	
.teacher_image img { max-width: 142px;}

.teacher_course {left: 210px;position: absolute;top: 34px;}


.course_button { position: absolute;right: 65px;top: 20px;}

.shadetabs li a {
    color: #999999 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 3px;
    padding: 3px 22px !important;}
	
	.course_textbox {
    border: 1px solid #D9D9DB;
    margin-top: 10px;
    padding: 10px 14px !important;
    width: 65%;
}

.course_subtextbox {
    margin-top: 10px;
    padding: 10px 14px 80px !important;
    width: 65%;
}


.course_subtitle {
    border-bottom: 1px solid #D2D2D2;
    color: #A9A9A9;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    max-width: 610px;}
	
	.course_listbox {
	position:absolute;
	right: 160px;
    top: 35px;}
	
	.course_pub {
    line-height: 20px;
  /*   position: absolute;
    right: 25px;
    top: 33px; */}

	
	 
	 

.course_button {
    float: right;
    margin-top: 40px;
    width: 30%!important;
}


.header_menu li a {font-size: 12px;}

.get_start {top:24px;}

.header_menu li {padding: 0;}


/* .header_menu.nav.pull-left {margin: 10px 0 0;}

.search {margin-top:0px;}
	.header_menu li {padding:0px;} */
	
	.business_class.span3 {margin: 0 5px;}
	
	
}



@media (min-width: 768px) and (max-width: 979px) 
{
	.taken_curriculumblocks .ui-state-default.curriculum_ul_li.change_color.sub_li_curriculum {
  clear: both;
}
.taken_curriculumblocks .ui-state-default.curriculum_ul_li.sub_li_curriculum h4
{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95px;
    word-break: normal;
}
.taken_curriculumblocks .ui-state-default.curriculum_ul_li.sub_li_curriculum
{
	min-height: 90px;	
}
.course_takenn {
  padding: 0 0 150px;
}
	.about_manager.span3 .bx-controls-direction 
	{
  margin: 0 7px 0 0;
}

	.dropdown-menu.ul_width > li
	{
		padding: 2px 7px 0;	
	}
	.dropdown-menu.ul_width a {
  padding: 0 19px !important;
}
	
.clearfix.new_line.new_lines .pull-left.span11.new_mgr {
  width: 88%;
}
	.add_newsection
	{
		width: 42%;	
	}
	.btn_align {
  margin: 4px 10px 3px 64px;
}
	.EditCourse
	{
		top: 24% !important;	
	}
	
	.bg_container.course_breadcrumblocks.course_viewsblocks {
  margin: 0px 0 0;
}
	.slider_arrow.slider-next.carousel-control.right
	{
		top: 40%;	
	}
	.slider_arrow.slider-prev.carousel-control.left
	{
		top: 40%;	
	}
	.course_top
	{
		float: right;
		max-width: 100px;	
	}
	.course_image
	{
		margin-right: 0px;	
	}
	.dropdown.open .dropdown-menu {
  background-clip: padding-box;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  list-style: none outside none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
	.new_h2 h2
	{
		font-size: 25px;	
	}
	.bg_container.profile_users
	{
		margin: 0px;	
	}
	.img-thumbnail
	{
		width: 54%;	
	}

	.slider_arrow {
  right: 339px;
  top: 130px;
}
.slider_arrow img {
  height: 128px;
}
	.dropup, .dropdown
	{
		position: static;	
	}
	.pull-right.new_bg.name
	{
		color: #fff;	
	}
		.vjs-default-skin .vjs-big-play-button
	{
		left: 43% !important;
		right:0 !important;	
	}
/*		.video-js.vjs-default-skin.vjs-paused.vjs-controls-enabled.vjs-user-inactive
	{
		width: auto !important;	
	}
*/	.lecture_texts
	{
		width: 17% !important;	
	}
	.add_sections
	{
		width: 17% !important;	
	}
	.course_textbox.tm-input
	{
		width: 83% !important;	
	}
	
	.shadetabs li a
{
	font-size: 14px !important;	
}
	.quiz_form.span8 {
  padding: 0 0 10px !important;
}
.quiz_form.span8 > label {
  padding: 0 10px;
}

.form-control.question_text.ckeditor {
  margin: 0 15px;
}
.quiz_form.span8 > h4
	{
		padding: 0 10px 15px !important;	
	}
	.btn_addmrg {
  width: 38% !important;
}
.form-control.lectureDescription
{
	margin: 10px 0px !important;	
}
	.category_option {
  
  width: 200px !important;
}
.title_txt input
{
	width: 86% !important;	
}

	
	.bg_container.settings_pages
	{
		margin:0px !important;	
	}
	
	.dropdown-menu.menu_wd
	{
		width: 209px !important;
		background: #fff;		
	}
	.userimg_right
	{
		margin:0 !important;	
	}

	.hours_mrg {
  float: none !important;
  margin: 10px 0 !important;
}
	.learn-course-title
	{
		font-size: 16px !important;	
	}
	.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg h4
	{
		font-size: 13px !important;	
	}
	.profile_image
	{
		min-height: 24px !important;	
	}
	.curr
	{
		padding: 0 0 0 20px !important;	
	}
	.section_color
	{
		width: 241px !important;	
	}
	#tabs_new a
	{
		padding:0 22.5px !important;	
	}
	
	.dropdown-menu.ul_width a
	{
		color: #999999 !important;	
	}

.business_class.business_newmrg.span3 {
  margin: 0 12px 0 0 !important;
}


.business_class.move_left.span3 {
    margin: 0 0 0 12px;
}


.policy_menu li a {line-height: 30px;}

.policy_menu > a {line-height: 30px;}


/*menu*/
.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

/* .header_menu.nav > li:first-child {
    padding: 0 7px 0 0;
}

.header_menu {
    list-style: none outside none;
    margin: 12px 0 !important;
}

.header_menu.nav > li:first-child {
    padding: 0 7px 0 0;
} */

 .stext {max-width: 46px;width:0px;padding:0!important;}

.sbutton {min-width: 15px;}

.search{border:none;padding:0!important;width:0px;margin-top:10px;} 



.header_menu.nav.pull-right.clearfix {float: right;}


.search_button {
  /*   float: right;
    margin: 1px 8px 0 0; */
 float: left;/* margin: 5px 0 0 42px; */margin:2px 0 0 12px;
}

/* .stext {max-width: 125px;} */

/*menu*/


/* .search_right { */
/*     clear: both; */
    /* float: right; *//* margin:0px;} */
	
.search_right {
    clear: both;
    float: left;
    margin: 0 5px !important;
}
	
	.logo {text-align: center;}

/* .search_text {
    display: none;
  
} */

.header_menu.nav.pull-right > li {
    float: left;
}


.header_menu.nav.pull-left {
  float: left;  max-width:200px;
}

.nav > li.opened .dropdown-menu {display: none;}
.nav > li.open .dropdown-menu {display: block;}

/* .header_menu {
    clear: both;} */
	
	/* .search {width: 35px;} */


/*header*/
/* .btn.btn-navbar {
    display: block;
} */

.btn.btn-navbar {
    display: none;
}

.post_text.span6 {
    margin: 0;
    width: 46%;
}


.user_fullname {min-width: 100px;}

.action-bar a {width: 41px; height: 41px; margin: 0;}

ul.action-bar {display: table;margin: 10px auto;}

.bx-prev:before {font-size: 16px;padding: 0 6px 0 10px;}

.bx-next:before {font-size: 16px;}

.bx-controls-direction {bottom: 146px;left: 24px;}

.modal.fade.model_width.in {left: 60%;width: 50%;}

.modal.fade.login_width.in {width: 85%;}

.modal {left: 44%;}


/*Home page*/



.header_menu {

margin-left:0px !important;

}

.access > input {/* background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;color: #C05C00;font-family: roboto;font-size: 20px;font-weight: 700;padding: 0 0 1px;text-shadow: 0 1px #FFFFFF;text-transform: uppercase; padding: 18px 0 12px; */width:89%;}

.post_image {float: left;/* margin-right: 36px; */max-width: 137px;}

/* .access {
    background: linear-gradient(to bottom, #FFD778 0%, #FF871A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 3px;margin: 8px auto;max-width: 306px;text-align: center;}
 */
 
 .get_start {
    background: linear-gradient(to bottom, #3E3E3E 1%, #202020 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    max-width: 345px;position: absolute;/* right: 12px; *//* top: 10px; */top:24px;right: -6px;}

.title_text {/* color: #F3C20D;font-family: roboto;font-size: 20px;font-weight: 700;line-height: 30px;margin: 0 auto;max-width: 330px;padding: 2px 0;text-align: center; */}

.getstart_content {color: #FEFEFE;font-family: roboto;font-size: 18px;font-weight: 400;}

.ideas {/* line-height: 25px; *//* margin-top: 15px;text-align: center; */}

.ideas_content {line-height: 26px;/* margin: 25px auto 4px;max-width: 335px;text-align: center; */} 

.user_name {/* background: none repeat scroll 0 0 #141517;border-radius: 3px;margin: 1px auto; */ max-width: 307px;}

.head_line {/* color: #FFFFFF;font-family: roboto; */font-size: 20px;/* font-weight: 400; */left: 19px;line-height: 36px;max-width: 341px;/* position: absolute;text-align: center; */top: 37px;}

.video_player {bottom: 12px;left: 33px;/* max-width: 297px; */position: absolute;}

.video_player > img {
  width: 280px;
}

.slider_arrow {bottom: 21px;position: absolute;/* right: 352px; *//* width: 72px; *//* right:352px; */ /*width:56px;*/ right: 348px;}

.business_class {border: 1px solid #E1E1E1;border-radius: 3px;max-width: 250px;position: relative;margin-right:0px;}

.learn.span4 {margin-bottom: 25px; margin-right: 0px;max-width: 320px;}

/* .user_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;float: left;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-top: 10px;max-width: 242%;/* padding: 5px 58px 5px 4px; *//*text-align: left;width: 80%;}
 */
/*.mail_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;float: left;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-top: 10px;max-width: 242%;/* padding: 5px 58px 5px 4px; *//*text-align: left;width: 80%;}*/

.imagebottom_right {
    float: right;
    margin-top: 10px;
    padding-right: 0px;
}

/*End Home page*/

/*courses*/


.student_image { text-align:center;margin:10px auto;}



.more_images {margin-top: 15px;text-align: center;}



.description {
    margin-bottom: 58px;
    margin-top: 20px;
}


.banner_bg {height:auto;margin-top:0px;}

.course-header-image{margin:0 !important}


.video > img {
    margin-top: 26px;
   /*  width: 250px; */
}

.align_course {height:368px;}

.more_images img {border: 1px solid #E1E1E1;border-radius: 3px;margin: 4px 3px;padding: 5px;width: 70px;}

.company{margin-right:0px;}

.course_top{max-width: 102px;}

.course {margin-right: 0px;max-width:156px;}

.experts {margin-right:0px;}

.new_course {max-width:165px;}

.advertise.span3 {margin-right: 12px;}

.start_now.span3 {margin-left: 0;margin-top: 60px;position: relative;}

.start_now h3 {color: #773536;font-family: 'Roboto',sans-serif;font-size: 14px;left: 15px;position: absolute;top: 5px;}
	
.start_button {background: none repeat scroll 0 0 #70AFDB;border: 1px solid #5594C1;bottom: 2px;color: #FFFFFF;font-family: 'Roboto',sans-serif;font-size: 12px;position: absolute;right: -2px;}

.start_now p {color: #32292C;font-family: 'Open Sans',sans-serif;font-size: 10px;left: 16px;position: absolute;top: 34px;}

.start_now.span3 { margin-left: 0;margin-top: 60px;position: relative;}

.start_now h3 {color: #773536;font-family: 'Roboto',sans-serif;font-size: 14px;left: 15px;position: absolute;top: 5px;}

.advertise.span3 {margin-right: 34px;}

.start_now.span3 input{ font-size: 13px !important; right: -3px !important;}

.online {max-width: 130px;}

.video {/* max-width: 345px; */position: absolute;top: 0px;}

.manager_name {float: left;margin-left: 10px;}

.company {color: #FFFFFF;margin-right: 5px;max-width: 255px;}

.slider {margin-top:0px; }
 
.header_menu.nav li a:hover{color:#fff;/*background:none !important;*/}

.header_menu.nav li a:active{color:#fff;/*background:none !important;*/}

.header_menu.nav > li:first-child {padding: 0 7px;}

.header_menu.nav a:focus {/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;*/}

.price_right {float: right;margin-right: 6px;margin-top: 30px;}

.name {color: #333333;font-family: 'Open Sans',sans-serif;font-size: 15px;}

.list_text {color: #6E6E6E;float: left;font-family: 'Open Sans',sans-serif;font-size: 12px;padding: 5px 0;}

.about_more {float: left;margin-bottom: 14px;margin-left: 0;}

.about {color: #333333;font-family: 'Open Sans',sans-serif;font-size: 11px;margin: 25px 0;}
 
/* removed .search_right {float: right;margin-right:15px;} */
 
 /*End Of Courses*/
 
 /*registration*/
 
 .reg_video > img {
    max-width: 335px;
}
 
.reg_banner {margin:0px;}
 
.reg_video {float: left;margin-bottom: 20px;margin-left: 42px;}

/*create_courses*/

.teacher_image > img {max-width: 120px;}

.teacher_image {left: 20px;position: absolute;top: 10px;}


.shadetabs li a {
    color: #999999 !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-right: 3px;
    padding: 3px 8px !important;}
	
	
.teacher_image {left: 20px;position: absolute;top: 45px;}

.teacher_course {left: 125px;position: absolute;top: 12px;}


.course_button {
    position: absolute;
    right: 20px;
    top: 12px;
}

.course_listbox {
	position:absolute;
	right: 172px;
    top: 48px;
	}
	

.course_pub {
    line-height: 20px;
   
}


.createcourse_banner {margin-top:0px;}



.teacher_image img {
    width: 90px;
}


.teacher_course {
    left: 125px;
    position: absolute;
    top: 48px;
}

.course_name a {
    color: #FFFFFF;
    font-family: 'roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
}





	.course_next {
    background: linear-gradient(to bottom, #FFD778 0%, #FF871A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FF871A;
    border-radius: 5px;
    color: #C05C00;
    float: none;
    font-family: open sans;
    font-size: 13px;
    margin-bottom: 11px;
    margin-right: 0px;
    margin-top: 10px;
    padding: 12px;
    text-shadow: 0 1px #FFFFFF;
	
	}
	
	

.course_button {
    float: right;
    margin-top: 40px;
    width: 40%!important;
}

.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}



.header_menu.nav.pull-left {margin: 10px 0 0;}

.search {margin-top:0px;}
	.header_menu li {padding:0px;}
	.header_menu li a {font-size:12px;}
	.bell_top {margin-top: 1px;}
	

	.search_right {left: 100px;position: absolute;top: 12px;clear:none;}
	
	.business_class.span3 {margin: 0 6px;}

}

@media (max-width: 767px) {
	.signup.blogs_titless
	{
		padding: 44px 0 0 0;	
	}
	.clearfix.new_line.new_lines .pull-left.span11.new_mgr {
  margin: 0;
}
.clearfix.new_line.new_lines .pull-left.new_profile_image {
  float: none;
}
.follw_divs	.btn{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}
	
	.pull-right.current_balance_blocks {
  display: table;
  float: none;
  margin: 0 auto;
}
	
	.add_newsection
	{
		width: 40%;	
	}
	.btn_align {
  margin: 4px 10px 3px 64px;
}
	.btn.course_create {
  display: table;
  margin: 20px auto 10px;
}
.mycourse_learning {
  display: table;
  margin: 0 auto;
}
.business_content.clsClearfix {
  margin: 15px auto 0;
}
	.bg_container.course_breadcrumblocks.course_viewsblocks {
  margin: 0px 0 0;
}
	
		#reviewDiv .reg_textbox.textbox_width
	{
		width: 96%;
	}
	
	.sortable_ul.sortable_bg.courses_takensblades
	{
		overflow: auto;
		height: 100px !important;	
	}
	.total_width
	{
		bottom: 0px !important;
		float: none !important;
	}
	.about_manager
	{
		max-width: auto !important;
		width: 100% !important;	
	}
	.dsk-supported
	{
		min-height: 400px !important;	
		overflow: auto !important;
	}
	.span9.user_profiles > h4 {
  text-align: center;
}
.profile-fullname {
  text-align: center;
}
	.bx-controls-direction
	{
		left: 0px !important;	
	}
	.span9.user_profiles {
  padding: 0 20px;
}
.span3.user_thumb_blocks .thumbnail {
  border: medium none;
  box-shadow: none;
}
.slider_menu.container {
  margin: 0 10px;
}
	.bg_container.profile_users
	{
		margin: 0px;	
	}
	.course_completionbtns.clearfix .btn.move_right
	{
		right: -14px;	
	}
	.progress.progress-striped.active.emptybars {
  width: 25px;
}
	.course_completionbtns.clearfix
	{
		right: 0px;
		left: 96%;	
		top: -10px;
	}
	.alert.alert-danger.fade.in strong {

  line-height: 25px;
}
	.video_course
	{
		left:0;	
	}
	#my_video
	{
		width: auto !important;	
	}
	.image_course {
  display: none;
}
	.policy_menu > a
	{
		padding: 0 10px !important;	
	}
	.policy_menu li a
	{
		padding: 0 5px !important;	
	}
	.dropdown-menu.menu_wd > li {
  text-align: left;
}
.dropdown-menu.menu_wd
{
	margin:13px auto 0;
	background: #fff;	
}
.header_menu li a:hover
{
	color: #333333 !important;	
}
.dropdown-menu.ul_width a
{
	color: #999 !important;
	text-align: left;
}
.menudroplist.dropdown-toggle:hover
{
	color: #fff !important;	
}
.header_menu.nav.pull-right.clearfix li a:hover
{
	color: #fff !important;	
}
.header_menu.nav.pull-right li a:hover
{
	background: #999 !important;	
}
.dropdown-menu.ul_width li a:hover
{
	color: #fff !important;	
}
.nav-collapse .nav > li
{
	text-align: center;	
}
.search_right.span3 {
  float: none;
  margin: 0 auto;
}
.menudroplist.dropdown-toggle
{
	background: none !important;	
}
	
	.reg_form.container.whole_forums
	{
		padding: 0 20px;	
	}
	.span3.form_left
	{
		margin: 25px 0;
		
	}
	/*	.video-js.vjs-default-skin.vjs-paused.vjs-controls-enabled.vjs-user-inactive
	{
		width: auto !important;	
	}*/
	.vjs-default-skin .vjs-big-play-button
	{
		left: 43% !important;
		right:0 !important;	
	}
	.course_tab
	{
		margin-left: 10px;
		margin-right: 10px;	
	}
	.lecture_texts
	{
		float: none !important;	
	}
	.add_sections
	{
		float: none !important;	
	}
	.btn_addmrg
	{
		width: 35% !important;	
	}
	.form-control.lectureDescription
	{
		margin:10px 0 !important;	
	}
	.bg_container.settings_pages
	{
		margin:0px !important;	
	}
	.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg h4
	{
		font-size: 13px !important;	
	}
	
	.curr
	{
		padding: 0px !important;
	}
	.section_color
	{
		width: 100% !important;	
	}
	.replybutton.reply_top {
 		 margin: 35px 0 25px !important;
}
	.course-header-image
	{
		margin: 0px !important;	
	}
	.nav-bar.learn-course-header {
  display: table;
  float: none !important;
  margin: 14px auto 0;
}
.learn-course-title
{
	text-align : center !important;
	line-height: 32px;
	font-size: 18px !important;	
}
	
	.start_now.span3 input{left: 0px !important;}

.business_class.move_left.span3:first-child {margin: 10px 0;}

 .select_mrg {display: table;margin: 18px auto;}
 
 .usergallery {margin: 0;}

/* .reg_form.new_reg_form {display: block;} */

.nav.nav-tabs.usernavbar.price_align.post {display: table;float: none;margin: 0 auto;}

.new_h2 h2 {text-align: center;line-height: 50px;} 

.reg_form.new_reg_form {display: block;overflow: hidden;margin: 0 auto;
  /* margin: 10px auto; */
}

.business_class.move_left.span3:first-child {margin: 0;}

.new_tabs{overflow:hidden;}

.business_content {display: table;margin: 0 auto;}
	
	.business_class.move_left.span3 {
    margin: 10px auto;
}

.post {max-width: none;}

.search {margin-top: 12px;}

.search_right {padding:0 5px;width:60%}

.header_menu.nav > li:first-child {
    padding: 0 10px;
}

.logo {
    display: table;
    margin: 5px auto 0;clear:both;
   
}

.new_course.span3 {
    clear: both;
}
.new_course.span3 li {
    clear: both;
}



.post_text {
    border: medium none;
    clear: both;
    padding: 10px 0;
}

.policy_menu {margin: 2px 0 0;}

.post_text.span6 {
    margin: 0;
    width: 45%;
}

.dollar_font {float:none;text-align:center;}

.modal.fade.model_width.in {left: 25%;width: 54%;}

.modal.fade.login_width.in {width: 62%;left:20%;}

/* .align_center {margin: 120px 12px 0;} */

.reg_textbox {padding: 12px 0 12px 3px !important;}


.align_center {display: table;float: none;
margin: 35px auto;text-align: center;}

/* .align_left {padding: 0 0 0 14px;width: 45%;} */

.align_left {
    margin: 30px 0;
    padding: 0 0 0 14px;
    width: 100%;
}

/*Home Page*/

.header_menu {

margin-left:0px !important;

}
.testimonials {

float:right;

}


.policy_menu li a {
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 35px;
    padding: 0 20px;
}

.policy_menu > a { line-height: 34px;
    padding: 0 26px}

.align_position {
    height: 172px;
    position: relative;
}

/* .business_content {
    margin-bottom: 0;
    margin-top: 33px;
} */

.head_line {color: #FFFFFF;font-family: roboto;font-size: 21px;font-weight: 400;left: 84px;line-height: 40px;max-width: 306px;position: absolute;text-align: center;top: 30px;max-width: 306px;}

.video_player {display:none;}

.slider .get_start {display:none;}

.slider_arrow {display:none;}

/* .learn.span4 {margin-bottom: 25px;margin-right: 50px;max-width: 586px;padding: 0 30px;} */


.learn.span4 {
    display: table;
    margin: 30px auto 25px !important;
    max-width: 586px;
    padding: 0 30px;
}

.business_class {border: 1px solid #E1E1E1;border-radius: 3px;margin-bottom: 16px;}
	
.popular_courses {background: none repeat scroll 0 0 #FFFFFF;display: table;float: none;margin: 0 auto;}

.post {margin: 0;padding: 0 16px;}

.testimonials {float: none;padding: 0 14px;}

.posttext_title {color: #000000;font-family: 'roboto',sans-serif;font-size: 16px;}

/*End Home Page*/

.price_right {display: table;float: none;margin: 32px auto;text-align: center;}

.take_course {
background: linear-gradient(to bottom, #FFD778 0%, #FF871A 98%) repeat scroll 0 0 rgba(0, 0, 0, 0);padding: 12px 14px;
border: 1px solid #FF871A;border-radius: 3px;color: #B15500;font-family: 'Roboto',sans-serif;font-size: 16px;margin-bottom: 5px;margin-top:6px;
}

.search_right {float: left;margin-bottom: 15px;margin-left: 10px;}

.header_menu.nav a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.header_menu.nav li a:hover{color:#fff;background:none !important;}

.header_menu.nav li a:active{color:#fff;background:none !important;}

.about_manager {display: table;float: none;margin: 0 auto !important;max-width: 314px;}
	
.start_button {background: none repeat scroll 0 0 #70AFDB;border: 1px solid #5594C1;bottom: 2px;color: #FFFFFF;font-family: 'Roboto',sans-serif;font-size: 18px;left: 1px;position: absolute;}

/*footer*/

.all_rights {color: #FFFFFF;display: table;float: none;font-family: 'Open Sans',sans-serif;font-size: 13px;margin: 0 auto;}

.policy {color: #FFFFFF;display: table;float: none;font-family: 'Open Sans',sans-serif;font-size: 13px;/* margin: 15px auto 0; */ margin:2px auto 0px;}

.copyright {background: none repeat scroll 0 0 #414B56;margin: 0 auto;padding: 5px;text-align: center;}

.header_menu li a.active{color:#fff;background:none;}

.description {padding:0 15px;}

.header {background: none repeat scroll 0 0 #333333;/* padding: 0 30px; */ padding: 5px 3px 8px;}

/* .header_menu.nav > li:first-child {padding: 0 7px;} */

.slider {margin-top: 0;position: relative;}

.footer {background: none repeat scroll 0 0 #2F3945;/*padding:0 20px;*/}

.video {position: absolute;top: 20px;right:45px;max-width:385px;}


/*registration*/


.signup {color: #FFFFFF;font-family: 'roboto',sans-serif;font-size: 62px;font-weight: 700;line-height: 60px;
margin: 10px auto;max-width: 416px;text-align: center;text-transform: uppercase;}


.header_menu {
    list-style: none outside none;
    margin-left: 0px !important;
}


.signup {
    color: #FFFFFF;
    font-family: 'roboto',sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 60px;
    margin: 0 auto;
    max-width: 416px;
    text-align: center;
    text-transform: uppercase;
}

.reg_form {display: table;float: none;
margin: 70px auto 0;}

.reg_video {float: none;margin: 0 auto;}

.reg_banner {margin-top:0px;}

.reg_login { margin-bottom: 10p;margin-left: 42px;margin-top: 20px;}

.reg_video > img {width: 350px;}

/*create_course*/

.teacher_image {display:none;}

.teacher_details {display: none;float: left;}

.teacher_course {display:none;}

.shadetabs li a {
    color: #999999 !important;
    font-family: 'Open Sans',sans-serif;font-size: 16px;
    font-weight: 700;margin-right: 3px;padding: 3px 16px!important;}
	
.course_next {
    background: linear-gradient(to bottom, #FFD778 0%, #FF871A 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FF871A;border-radius: 5px;
    color: #C05C00;float: none;
    font-family: open sans;font-size: 13px;
    margin-bottom: 11px;margin-right: 0px;
    margin-top: 10px;padding: 12px;text-shadow: 0 1px #FFFFFF;}

.course_pub {line-height: 20px;}
.course_button {float: right;margin-top: 55px;width: 75%!important;}

/*course*/
.banner_bg {margin-top:0px;}
.video > img {margin-top: 3px;}
.align_course {height:368px;}

.description {margin-bottom: 58px;margin-top: 0px;}
.createcourse_banner {margin-top:0px;}
.shadetabs li a {font-size:12px !important;}


.business_class.span3:first-child {margin: 16px 0;}


}



@media (max-width: 480px) {
	.join_tutorial {
  font-size: 18px;
}
.name
{
	font-size: 14px;	
}
.new_bg
{
	padding: 10px 9px;	
}
	.table-responsive.credit_historytables {
  overflow-x: scroll;
  margin: 0 0 25px;
  width: 300px;
}
.choose_color
{
	float: none;	
}
	.progress.progress-striped.active.emptybars {
  margin-left: -10px;
}
	.GetStartedTitle
	{
		font-size: 13px !important;	
	}
	.cur_h3
	{
		font-size: 11px !important;	
	}
	.file_div
	{
		margin: 10px 0 0 !important;	
	}
	.btn_addmrg {
 /* float: none !important;
  margin: 10px !important;
  width: auto !important;*/
  margin: 0 auto;
}
.add_newsection {
  margin: 0 auto;
  width: auto;
}
.span3.user_bg {
  margin: 0 auto;
  width: auto;
}
.user_bg
{
	float: none !important;	
}

.policy_menu li a {padding: 0 10px;}

.policy_menu li {padding: 0 2px;}

/* .post {
    padding: 0 26px;
} */

.post {padding: 0;}


.nav.nav-tabs.usernavbar.price_align.post > li {
    padding: 0 0 0 1px;
}

.nav.nav-tabs.usernavbar.price_align.post a {
    font-size: 16px;}

.search_right {padding:0 5px;width:100%;margin:0px;}

.post_text {
    border: medium none;
    clear: both;
    margin: 10px 0;
    padding: 10px 0;
}

.policy_menu {margin: 2px 0 0;}

.modal-header .close {padding:0px;}
.modal.fade.model_width.in {left: 7%;width: 85%;}

.modal.fade.login_width.in {width: 90%;left: 5%;}

.price_right {display: table;float: none;margin: 18px auto;text-align: center;}
/*Home page*/
.business_class.span3 {margin: 20px auto !important;}

.head_line {color: #FFFFFF;font-family: roboto;font-size: 18px;font-weight: 400;left: 0px;
line-height: 24px;max-width: 498px;position: absolute;text-align: center;top: 30px;}

.video_player {bottom: 18px;display: none;left: 152px;position: absolute;}

.business_class {border: 1px solid #E1E1E1;border-radius: 3px;margin-bottom: 20px;max-width: 250px;position: relative;}

.get_start {display: none;}
	
/* .post {padding: 10px 26px;} */

.post_image {margin-bottom: 24px;}
	
.testimonials {padding: 18px;}

.policy_menu li:last-child {float: none;
    margin: 0 auto;}

/*End Homepage*/

/*course*/
.policy_menu li a {line-height:20px;}

.start_button {background: none repeat scroll 0 0 #70AFDB;border: 1px solid #5594C1;bottom: 2px;color: #FFFFFF;font-family: 'Roboto',sans-serif;font-size: 18px;position: absolute;right: 30px;}
	
.video {max-width: 56px;position: absolute;right: 14px;top: 20px;display:none;}

.price_right {display: table;float: none;margin: 0 auto;text-align: center;margin: 32px auto;}

.follow_us {margin-top:10px;margin-bottom: 20px;}

/*registration*/

.reg_video{display:none;}

.reg_login {display: table;float: none;margin:0 auto;}

.reg_form {display: table;margin-top: 40px;}

/*Create_courses*/

.category_option .selector {  width: 136px !important;}

.category_option select {width: 200px !important;}

.category_option .selector {  width: 170px !important;}

.category_option .selector span {background-position: right 22px;cursor: pointer;display: block;height: 26px;line-height: 50px;
max-width: 84%!important;min-height: 50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.course_button {display: none;max-width: 100%;position: absolute;right: 38px;top: 54px;width: 24%;}

.teacher_course {display: none;left: 300px;position: absolute;right: 184px;top: 50px;}

.teacher_image {display: none;left: 92px;position: absolute;top: 18px;}

.course_textbox {border: 1px solid #D9D9DB;margin-top: 10px;padding: 10px 14px !important;width: 70%;}

.course_subtextbox {margin-top: 10px;padding: 10px 14px 80px !important;}

.course_subtextbox {margin-top: 10px;padding: 10px 14px 80px !important;
width: 88%;}

.course_next {float:none;margin-top:10px;}

.course_listbox {
    -moz-user-select: none;
    background: linear-gradient(to bottom, #E5E5E5 0%, #CBCBCB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px;overflow: hidden;
    padding: 1px 0;position: absolute;
    right: 148px;top: 38px;width: 134px;}
	
	
	
.noti_padd {padding: 0 12px;}
	
	


}

@media (max-width:320px) {
	
	/*Header style block of css*/
}