
  .hidden-sm {
    display: none !important;
  }


  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }


.easier_course h2 {font-size: 24px;}	
.easier_course span {font-size: 24px;}
.container.footer_content_blocks { width: auto;}
.footer_content_blocks h2 { margin-bottom: 35px;margin-top: 25px;}	
.container.footer_content_blocks h1 {margin-bottom: 0;padding-bottom: 0;}
.under_line .container.new_h2 h2 { text-align:center;font-family: open sans;font-size: 30px;line-height: 30px;margin: 20px 4px 0;}
.service_img, .why_img {height: auto;}	
.menuheader_expert .left_section_first {float: left;width:79%;}	
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}
.HomeScroll .office_text.new_office {left: 50px; top: 20px;}
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}	
.HomeScroll .all_stafs {float: left;width: 30%;}
.col-lg-6.copy_rights_section {float: left;padding-left: 4px;padding-right: 0;width: 45%;}
.copy_rights_section p{font-size: 11px;}
.col-lg-6.social_icons {float: right;padding-left: 0;padding-right: 2px; width: 55%;}
.least_icons li a{font-size: 11px;}
.least_icons a{font-size: 11px;}	
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap {float: right;}	
.watch_listen_practice_section .mac {background: url("../images/lap1.png") no-repeat;height:206px;padding:0;width:306px;}
.mac iframe {height: 165px; margin: 20px 55px; width: 188px;}	
.watch_listen_practice_section .mac {float: left;}
.imack .dump_text_added {float: left;width:58.333%;}	
.course_tab .resp-vtabs li.resp-tab-active span {width: 144px;}	
.category_option {padding: 6px 0;}	
#mainwrapper .usergallery{width: 100%;}
.usergallery .all_stafs{float: left;}	
.reg_form .user_profile li {padding: 0 12px;}	
.business_trend .treaty_trick {float: left;width: 27%; }	
.user_gd img {max-width: 100%;}	
.newest_coursing_one h3 {font-size: 20px;}	
.item img {height: 60px;width: 100%;}	
.owl-item {width: 97px !important;}
.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 582px;}
.mac img { display: table; margin: 20px auto; width: auto;}		
.easier_course { top:0px;}	
.easier_course h2 { margin-bottom:10px;}
.easier_course p { margin-bottom:10px;}
.learn_remeber {margin:5px auto 0;}
.course_searching .more_one_portiion { width:215px;}
.dropdown {width: 215px;}
.dropdown-menu {width: 215px;}
.banner img { height: auto;}
.seach_alone_courses {background:url("../images/backgradient3.png") no-repeat;height: 103px;width:580px;} 
.authorized_section {display: table;float: none;margin: 40px auto;}
.section .course_learn { margin: 0 0 15px;padding: 13px 10px;width: auto; float:left;margin: 0 5px 0 0;}
.section .experts_learn {margin: 0 0 15px;padding: 13px 10px; width: auto;float:left;margin: 0 5px 0 0;}
.section .communicate_learn {padding: 13px 20px;width: auto;float:left;}
.course_secondto_learn {padding: 10px 10px 10px 0;}
.easier_course h2 { margin-top:10px;}
.newest_coursing_one .connect_all_people .all_stafs {float: left;width:29%; margin-right:31px; padding:0px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(4) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(8) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(12) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(16) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(20) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(24) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(28) {margin-right:31px;}
.newest_coursing_one .connect_all_people .all_stafs:nth-child(32) {margin-right:31px;}
.busi_ness .laid_name {font-size: 12px;}
.busi_ness .dollar_rupess {font-size: 12px;}
.course_secondto_learn h4 {font-size: 14px;}
.course_secondto_learn p {font-size: 14px;}