.visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
  .hidden-md {
    display: none !important;
  }
  
  
  
  
  
  
.more_one_portiion {width: 208px;}
.category_option {width: 220px;}
.category_rightoption .category_option {width: 220px;}
.menuheader_expert .left_section_first {width: 59%;}
.menuheader_expert .menurap {width: auto;}
.menuheader_expert .left_section_first .many_search { width:207px;}
.do_site.addsite .well_one p { height: 95px;}
.sub_footer_section .copy_rights_section {float: left;}
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap.col-lg-5 {float: right;}	
.watch_listen_practice_section .mac {float: left;}
.imack .dump_text_added {float: left;width: 40.333%;}
.course_tab .resp-vtabs li.resp-tab-active span {width: 144px;}	
.category_option {padding: 6px 0;}
.reg_form.container .thumbnail{width: 25%;}
#mainwrapper .usergallery{width: 100%;}
.usergallery .all_stafs{float: left;}
.business_trend .treaty_trick { float:left; }
.treaty_trick .user_fullname.new-user {margin-right: 20px;}
.profile_getup {float: left; margin:42px 10px; width: 50%;}
.user_bg {width:40%;float: left;}
.newest_coursing_one h3 {font-size: 26px;}
.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 829px;}
.item img {height: 60px;width:70%;}	
.owl-item {width: 138px !important;}	
#owl-demo .item {padding: 27px 0;}
.seach_alone_courses {background: url("../images/backgradient2.png") no-repeat scroll ; height: 103px;width:712px;}	
.course_searching .more_one_portiion {width: 350px;}
.mac img { display: table; margin: 20px auto; width: auto;}	
.recent_posts_advertise_section .do_site { float: left;width: 45.333%;}
.recent_posts_advertise_section .dosite_one { float: left; width: 35%;}
.recent_posts_advertise_section .do_site.addsite { float: none;}
.well_one p {max-width: 200px;margin-bottom: 0;}
.easier_course { top:24px;}	
.easier_course p { margin-bottom: 10px;}
.learn_remeber { margin: 10px auto 0;}
.course_secondto_learn p {font-size: 15px;}
.section .course_learn {float: left;width: 31.333%;}
.section .experts_learn {float: left;width: 31.333%;}
.section .communicate_learn {float: left;width: 31.333%;}
.course_secondto_learn h4 {font-size: 16px;}
.course_ean_imgs img { padding: 10px 0; width: 64px;}
.connect_all_people .all_stafs {float: left; width:35%;margin-left: 10px;}
.business_office img { width:100%;}
.busi_ness .laid_name {font-size: 11px;}
.busi_ness .dollar_rupess {font-size: 11px;}
.busi_ness .dollar_rupess { margin-top: 23px;}
.do_site.addsite .well_one p { height: 73px; }