/* CSS Document */

@media (min-width: 1300px) {
}
@media (max-width: 1202px) {
.course_secondto_learn p {font-size: 17px;}
.course_secondto_learn h4 {font-size: 19px;}
.business_office img {width: 100%;}
.connect_all_people .all_stafs {float: left;width: 32%;}
.busi_ness .laid_name {font-size: 12px;}
.busi_ness .dollar_rupess {font-size: 12px;}
.mac img {display: table; margin: 30px auto; width:100%;}
.easier_course { top:44px;}
.course_tab .resp-vtabs li.resp-tab-active span {width: 190px;}
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap {float: right;}	
.category_option {width: 305px;}
.category_rightoption .category_option {width: 305px;}
}
@media (min-width: 1200px) {
.item img { min-height: 94px; width: 125px;}
.demo_slides_one { margin-bottom: 21px;}	 
.well_one p { width:260px;}	
.well_one p{font-size:12px;}
.well_one p span a{font-size: 12px;}
.well_one span{font-size: 12px;}
.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 854px;}
.owl-item {width:142px !important;}
#owl-demo .item {padding:14px 0;}
.course_secondto_learn p {font-size: 22px;}
.course_secondto_learn h4 {font-size: 22px;}
}
@media  (max-width:990px) {
.category_option {width: 220px;}
.category_rightoption .category_option {width: 220px;}	
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap {float: right;}		
.business_trend .treaty_trick {width:27%; float:left;}
.category_option {padding: 6px 0;}
.course_tab .resp-vtabs li.resp-tab-active span {width: 144px;}
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}	
.HomeScroll .office_text.new_office {left: 50px; top: 20px;}	
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}
.HomeScroll .all_stafs {float: left;width: 30%;}	
}
@media (min-width: 990px) and (max-width: 993px) {	
.business_trend .treaty_trick { float:left;width: 25%;}
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}	
.HomeScroll .office_text.new_office {left: 50px; top: 20px;}	
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}
.HomeScroll .all_stafs {float: left;width: 30%;}
}
@media (min-width: 992px) and (max-width: 1199px) {	
.more_one_portiion {width: 208px;}
.category_option {width: 220px;}
.category_rightoption .category_option {width: 220px;}
.menuheader_expert .left_section_first {width: 59%;}
.menuheader_expert .menurap {width: auto;}
.menuheader_expert .left_section_first .many_search { width:207px;}
.do_site.addsite .well_one p { height: 95px;}
.sub_footer_section .copy_rights_section {float: left;}
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap.col-lg-5 {float: right;}	
.watch_listen_practice_section .mac {float: left;}
.imack .dump_text_added {float: left;width: 40.333%;}
.course_tab .resp-vtabs li.resp-tab-active span {width: 144px;}	
.category_option {padding: 6px 0;}
.reg_form.container .thumbnail{width: 25%;}
#mainwrapper .usergallery{width: 100%;}
.usergallery .all_stafs{float: left;}
.business_trend .treaty_trick { float:left; }
.treaty_trick .user_fullname.new-user {margin-right: 20px;}
.profile_getup {float: left; margin:42px 10px; width: 50%;}
.user_bg {width:40%;float: left;}
.newest_coursing_one h3 {font-size: 26px;}
.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 829px;}
.item img {height: 60px;width:70%;}	
.owl-item {width: 138px !important;}	
#owl-demo .item {padding: 27px 0;}
.seach_alone_courses {background: url("../images/backgradient2.png") no-repeat scroll ; height: 103px;width:712px;}	
.course_searching .more_one_portiion {width: 350px;}
.mac img { display: table; margin: 20px auto; width: auto;}	
.recent_posts_advertise_section .do_site { float: left;width: 45.333%;}
.recent_posts_advertise_section .dosite_one { float: left; width: 35%;}
.recent_posts_advertise_section .do_site.addsite { float: none;}
.well_one p {max-width: 200px;margin-bottom: 0;}
.easier_course { top:24px;}	
.easier_course p { margin-bottom: 10px;}
.learn_remeber { margin: 10px auto 0;}
.course_secondto_learn p {font-size: 15px;}
.section .course_learn {float: left;width: 31.333%;}
.section .experts_learn {float: left;width: 31.333%;}
.section .communicate_learn {float: left;width: 31.333%;}
.course_secondto_learn h4 {font-size: 16px;}
.course_ean_imgs img { padding: 10px 0; width: 64px;}
.newest_coursing_one .connect_all_people .all_stafs {
  float: left;
  margin-left: 0;
  width: 22%;
}
.business_office img { width:100%;}
.busi_ness .laid_name {font-size: 11px;}
.busi_ness .dollar_rupess {font-size: 11px;}
.busi_ness .dollar_rupess { margin-top: 23px;}
.do_site.addsite .well_one p { height: 73px; }
}
@media (min-width: 768px) and (max-width: 989px) {
.easier_course h2 {font-size: 24px;}	
.easier_course span {font-size: 24px;}
.container.footer_content_blocks { width: auto;}
.footer_content_blocks h2 { margin-bottom: 35px;margin-top: 25px;}	
.container.footer_content_blocks h1 {margin-bottom: 0;padding-bottom: 0;}
.under_line .container.new_h2 h2 { text-align:center;font-family: open sans;font-size: 30px;line-height: 30px;margin: 20px 4px 0;}
.service_img, .why_img {height: auto;}	
.menuheader_expert .left_section_first {float: left;width:79%;}	
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}
.HomeScroll .office_text.new_office {left: 50px; top: 20px;}
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}	
.HomeScroll .all_stafs {float: left;width: 30%;}
.col-lg-6.copy_rights_section {float: left;padding-left: 4px;padding-right: 0;width: 45%;}
.copy_rights_section p{font-size: 11px;}
.col-lg-6.social_icons {float: right;padding-left: 0;padding-right: 2px; width: 55%;}
.least_icons li a{font-size: 11px;}
.least_icons a{font-size: 11px;}	
.menuheader_expert .left_section_first { float: left;}	
.menuheader_expert .menurap {float: right;}	
.watch_listen_practice_section .mac {background: url("../images/lap1.png") no-repeat;height:206px;padding:0;width:306px;}
.mac iframe {height: 165px; margin: 20px 55px; width: 188px;}	
.watch_listen_practice_section .mac {float: left;}
.imack .dump_text_added {float: left;width:58.333%;}	
.course_tab .resp-vtabs li.resp-tab-active span {width: 144px;}	
.category_option {padding: 6px 0;}	
#mainwrapper .usergallery{width: 100%;}
.usergallery .all_stafs{float: left;}	
.reg_form .user_profile li {padding: 0 12px;}	
.business_trend .treaty_trick {float: left;width: 27%; }	
.user_gd img {max-width: 100%;}	
.newest_coursing_one h3 {font-size: 20px;}	
.item img {height: 60px;width: 100%;}	
.owl-item {width: 97px !important;}
.demo_slides_one .owl-carousel .owl-wrapper-outer { margin: 0 auto; width: 582px;}
.mac img { display: table; margin: 20px auto; width: auto;}		
.easier_course { top:0px;}	
.easier_course h2 { margin-bottom:10px;}
.easier_course p { margin-bottom:10px;}
.learn_remeber {margin:5px auto 0;}
.course_searching .more_one_portiion { width:215px;}
.dropdown {width: 215px;}
.dropdown-menu {width: 215px;}
.banner img { height: auto;}
.seach_alone_courses {background:url("../images/backgradient3.png") no-repeat;height: 103px;width:580px;} 
.authorized_section {display: table;float: none;margin: 40px auto;}
.section .course_learn { margin: 0 0 15px;padding: 13px 10px;width: auto; float:left;margin: 0 5px 0 0;}
.section .experts_learn {margin: 0 0 15px;padding: 13px 10px; width: auto;float:left;margin: 0 5px 0 0;}
.section .communicate_learn {padding: 13px 20px;width: auto;float:left;}
.course_secondto_learn {padding: 10px 10px 10px 0;}
.easier_course h2 { margin-top:10px;}
.connect_all_people .all_stafs {float: left;width:35%; margin-right:25px; padding:0px;}
.busi_ness .laid_name {font-size: 12px;}
.busi_ness .dollar_rupess {font-size: 12px;}
.course_secondto_learn h4 {font-size: 14px;}
.course_secondto_learn p {font-size: 14px;}
}
@media (max-width: 768px) {
.seach_alone_courses { display: none;}
.easier_course { top:0px;}
.item img {height: 60px;width: 100%;}	
.owl-item { width: 97px !important;}
.demo_slides_one .owl-carousel .owl-wrapper-outer {margin: 0 auto;width: 582px;}
}
@media (max-width: 767px) {
.menuheader_expert .menu ul li { background:none;}	
.menuheader_expert .search_for_all_courses {margin: 10px 0 17px;}	
.more_one_portiion { width: 188px;}	
.footer_content_blocks ul li {float: left; margin: 0 0 40px;position: relative;width: auto;}
.service_img, .why_img {float: none;height: auto;margin: 0 auto 30px;text-align: center;}
.service_head, .img_head {margin-right:0px;}	
.service_title, .img_title, .footer-widget .widgettitle {text-align: center;float: none;}
.service_sub, .img_sub {text-align: center;float: none;}
.HomeScroll .busi_ness .laid_name {min-height: 50px;width: 70px;}	
.HomeScroll .office_text.new_office {left: 30px; top: 15px;}	
.HomeScroll .business_office .btn.favoritebtn.heart_align	{ right: 0;top: 0;}
.HomeScroll .all_stafs {float: left;width:40%;}
.copy_rights_section p { margin-bottom:10px;margin-top: 0;}		
.col-lg-6.copy_rights_section {float: left;padding-left: 15px;padding-right: 15px;width: 100%;}
.col-lg-6.social_icons {clear: both;float: left;padding-left: 15px;padding-right: 15px;width: 100%;}
.social_media_icons { float: left;margin: 0;}	
.menuheader_expert .menu ul li.bell a .liko { background:url("../images/bell.png") no-repeat scroll -1px 10px;}	
.menuheader_expert .left_section_first { float: left;width: 55%;}	
.menuheader_expert .menurap {float: right;}	
.imack .dump_text_added { margin-top: 40px;width: auto;}	
.watch_listen_practice_section .mac {background: url("../images/lap2.png") no-repeat;height:206px;padding:0;width:306px;}		
.menuheader_expert .menu .navbar-nav {margin: 40px 0 0 -5px;}		
.menuheader_expert .bell .dropdown-menu {left: 10px;width: 365px;}	
.menuheader_expert .dropdown-menu {left: 10px;}
#DetailDetailes .course_next { float:none;}		
.resp-tab-content select.category_option{ height: 30px;}
.category_option {margin-top: 0;}
.category_option {width: 150px;}	
.category_rightoption .category_option {width: 150px;}
.category_option {float: left; padding: 0;}
.category_option { float: left;padding: 0;height: auto;}
.banner img { height: auto;}	
.mac iframe {width: 265px; height: 155px;margin: 21px 60px;}
.menuheader_expert .left_section_first .many_search {width: 167px;}
.watch_listen_practice_section .mac { display: table; margin: 0 auto; }	
.menuheader_expert .menu { float:none}	
.business_trend .treaty_trick {float: left; width: 40%;}
.business_trend .treaty_trick .cart_business p {min-height:75px;margin: 0;}
.treaty_trick .office_text.new_office {top: 33px;}	
.leak_coursing { margin: 40px 0; }
.bus_try:hover .mni_hove {height:auto;}
.treaty_trick .bus_try .mni_hove img {width: 100%;}
.user_bg {float: left; margin: 0; width: 30%;}
.newest_coursing_one li { float: none;}
.newest_coursing_one ul li:nth-child(2) {margin-left: 0;}
.newest_coursing_one ul li:nth-child(3) {margin-left: 0;}
.profile_getup { float: left; margin: 42px 20px;width: 50%; }
.newest_coursing_one .newest_offeringh_one h3 {font-size: 18px;}	
.newest_coursing_one h3 {font-size: 12px;}
.newest_coursing_one #latestc .office_text p {font-size: 10px;}
.newest_coursing_one #latestc p {font-size: 16px;}	
.newest_coursing_one p {font-size: 11px;}	
.business_office img { height:auto;}	
#owl-demo .item { padding:26px 0px;}	
.item img {height: 60px;width: 100%;}	
.owl-item { width: 97px !important;}
.demo_slides_one .owl-carousel .owl-wrapper-outer {margin: 0 auto;width: 292px;}
.course_secondto_learn h4 {text-align: center;}	
.course_secondto_learn p { text-align: center;}	
.mac img { display: table; margin: 20px auto; width: 400px;}		
.connect_all_people { display: table; margin: 0 auto;}	
.connect_all_people .all_stafs {width: auto; float: none;}
.easier_course { top:60px;}	
.easier_course p { display: none;}
.seach_alone_courses { display: none;}
.easier_course h2 {display:none;}
.easier_course span {display:none;}
.menu {float: none;}	
.menu .navbar-collapse {width:200px}
.logo {display: table;float: none; margin: 0 auto;}
.menu ul li { background:none;}
.authorized_section {display: table;float: none;margin: 40px auto;}
.section .course_learn { margin: 0 0 15px;padding: 13px 20px;width: auto; float: none;}
.section .experts_learn {margin: 0 0 15px;padding: 13px 20px; width: auto; float: none;}
.section .communicate_learn {padding: 13px 20px;width: auto; float: none;}
.course_secondto_learn {padding: 10px 20px 10px 0;}
.description .des_color {font-size: 22px;}
.menuheader_expert .bell .dropdown-menu {left: 10px; width: 160px;}	
.menuheader_expert .menu ul li a {font-size: 12px;}
.success_img {background:url("../images/successmobile.png") no-repeat scroll 0 0 ; height: 220px;margin: 45px auto; width: 420px;}
.footer.clsClearfix {min-height: 105px;}
}
@media (max-width: 640px) {
.menuheader_expert .left_section_first {float: left;width:50%;}	
}

@media (max-width: 480px) {
.menuheader_expert .left_section_first {float: left;width:auto;}	
.menuheader_expert .search_for_all_courses {margin: 22px 0 17px;}	
.footer.clsClearfix { min-height:184px; }	
.HomeScroll .all_stafs {float: left;width: 70%;}	
.copy_rights_section p { margin-bottom:40px;margin-top:10px;}	
.menuheader_expert .navbar-toggle {top: 0px;	}
.well_one p{font-size:12px;}
.well_one p span a{font-size: 12px;}
.well_one span{font-size: 12px;}	
.celebration{margin-top: 25px;padding-bottom: 15px;}	
.menuheader_expert .dropdown-menu.menu_wd { width: 170px;}	
.innerpage_banner_head h2{font-size: 25px; margin-bottom:0px;}
.innerpage_banner_head p{font-size: 14px;}	
.menuheader_expert .menu ul li a { font-size:12px;}	
.watch_listen_practice_section .mac {background: url("../images/lap3.png") no-repeat;height:120px;padding:0;width:220px;}
.mac iframe {width:150px;height: 95px;margin: 11px 35px;}	
.menuheader_expert .bell .dropdown-menu {left: 10px; width: 170px;}	
#DetailDetailes .course_next { float:none;}	
.watch_listen_practice_section .mac {padding: 0;}	
.treaty_trick .office_text.new_office { top:20px;}	
.business_trend .treaty_trick {float: none;margin: 20px auto; width: 60%;}
.success_img {background:url("../images/successmobile1.png") no-repeat scroll 0 0 ; height: 141px;margin: 45px auto; width:250px;}	
.description .des_color { font-size: 13px; }
.demo_slides_one .owl-carousel .owl-wrapper-outer { width:195px}		
.course_secondto_learn h4 {text-align: center;}	
.course_secondto_learn { float:none;  padding: 0;}
.course_ean_imgs { float: none; text-align: center;}
.course_secondto_learn p { float: none; text-align: center;}
.well_one p { width:auto;}	
.mac img { display: table; margin: 20px auto; width: 100%;}			
.easier_course { display:none;}
.least_icons { padding:0px;}
.reg_login { margin-left:0px;}
.reg_login a.facebook_singup {padding: 10px 49px 12px;}
.reg_next {padding: 12px 20px;}
.reg_textbox { width:98%;}
.reg_login a.facebook_register {padding: 10px 23.7px 13px;}
}

@media (max-width: 380px) {
.do_site.addsite .well_one p {height: 70px;}	
.innerpage_banner_head{top:0;}
.well_one p{font-size:11px;}
.well_one p span a{font-size: 11px;}
.well_one span{font-size: 11px;}
}

@media (max-width: 320px) {
.HomeScroll .all_stafs {float: left;width: 100%;}	
.business_trend .treaty_trick { width: 100%;}
.do_site.addsite .well_one p {height: 95px;}