/*

Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* General settings */




div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
background-repeat: no-repeat;position:absolute;left:0px;right:0px;
  -webkit-font-smoothing: antialiased; }
  
 /*added*/ 
 .course_preview .selector, .course_preview .selector span, .course_preview .checker span, .course_preview .radio span, .course_preview .uploader, .course_preview .uploader span.action, .course_preview .button, .course_preview .button span {
  background-image:url(../images/preview.png);
 }
 
 
 /*added*/
 .category_option .selector, .category_option .selector span, .category_option .checker span, .category_option .radio span, .category_option .uploader, .category_option .uploader span.action, .course_preview .button, .course_preview .button span {
  background-image:url(../images/preview.png);
 }
 
  
div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }
	
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/bg-input.png") repeat-x 0 0;
  width: 0px;
  height: 0px; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../images/bg-input.png") repeat-x 0 0;
  outline: 0; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background: url("../images/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }


  
.course_preview .selector
  {
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(203,203,203,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
border:none;
color:#727272;font-family: 'roboto',sans-serif;font-size: 18px;font-weight:700;
text-shadow: 0 1px #FFFFFF;border-radius:2px;padding: 0 12px;position: relative;text-indent: 10px;
width:110px !important;
height: 40px;
  }
  

.category_option .selector{background:#ffffff;

border:none;color:#727272;font-family: 'roboto',sans-serif;font-size: 18px;font-weight:700;
text-shadow: 0 1px #FFFFFF;border-radius:2px;padding: 0 12px;position: relative;text-indent: 10px;
width: 45%;height: 45px;border:1px solid #d9d9db;border-radius:3px;}
  

  
div.selector {background:#fff;border: 1px solid #d9d9db;float: left;
height: 52px;line-height: 26px;overflow: hidden;
position: relative;width: 153px;}


  /*added*/
  

  
.course_preview.selector span {
  background-position: right 17px;
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 50px;
  min-height: 50px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
	
	
.category_option.selector span {
  background-position: right 17px;
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 50px;
  min-height: 50px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

	
	
	
.course_preview.selector,.course_preview.selector span {
  background-image:url(../images/preview.png);
  background-repeat: no-repeat;
  position:absolute;
  /*top:10px;*/
  left:0px;
  right:0px;
  -webkit-font-smoothing: antialiased; }
  
  
.course_preview select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background:#fff;
    position: absolute;
    height: 40px;
    top: 0px;
    left: 0px;
    width: 100%; }

.category_option.selector,.category_option.selector span {
  background-image:url(../images/preview.png);
  background-repeat: no-repeat;
  position:absolute;
  /*top:10px;*/
  left:0px;
  right:0px;
  -webkit-font-smoothing: antialiased; }
  
  
.category_option select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 45px;
    top: 0px;
    left: 0px;
    width: 100%; }
	
.category_option select option {

border-right:1px solid #e4e4e4;
border-left:1px solid #e4e4e4;

}

	
div.selector span {
  background-position: right 22px;
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 50px;
  min-height: 50px;
  /* max-width: 160px !important; */
   max-width: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 
 /*added*/
 
.category_option .selector span {
background-position: right 22px;
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 50px;
  min-height: 50px;
  /* max-width: 160px !important; */
/*    max-width: 355px !important; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  max-width: 100%;

}

.course_preview .selector span {

 background-position: right 18px;
  cursor: pointer;
  display: block;
  height: 26px;
  line-height: 50px;

   max-width: 109px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
   padding: 0 6px;
}

	
.course_button {width:24%;float:right;margin-top:55px;}
 
 
 .category_option .selector select {color: #A8A8A8;font-family: open sans;
 font-size: 15px;font-weight: 400;}


/* INPUT & TEXTAREA 
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #777;
  border-top: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-bottom: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  
  input.uniform-input.hover, input.uniform-input.focus,
  select.uniform-multiselect.hover,
  select.uniform-multiselect.focus,
  textarea.uniform.hover,
  textarea.uniform.focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999; }*/

/* PRESENTATION */
/* Buttons */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }
div.button.hover span, div.button.focus span {
  color: #555; }
div.button.disabled span, div.button.disabled.active span {
  color: #bbb; }*/

/* Select */
div.selector {
  font-size: 12px; }
  
  /*added*/
 .course_preview .selector span {color: #AC8E83;font-family: roboto;font-size: 18px;
	font-weight:700px;line-height:40px;}
  
  div.selector span {color: #AC8E83;font-family: open sans;font-size: 14px;}

.course_preview .selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
   font-size: 15px; }
	
  div.selector select {font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px; }
	
  div.selector.disabled span, div.selector.disabled.active span {
    color: #bbb; }

/* Checker */
div.checker {margin-right: 5px; }

/* Radio */
div.radio {
  margin-right: 3px; }

/* Uploader */
div.uploader span.action {text-shadow: white 0px 1px 0px;background-color: #fff;font-size: 11px;font-weight: bold; }
div.uploader span.filename {color: #777;border-right: solid 1px #bbbbbb;font-size: 11px; }
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa; }
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa; }

input.uniform-input, input.uniform-input:focus {
  background-color: #fff; }
