body {
	background: url("../images/bg_img.png")no-repeat;
	margin: 40px;
	 color: #9e9e9e !important;
     font-family: Open sans !important;
     font-size: 14px !important;
     background-size: cover;
     line-height: 1.7;
}


.block #installer {
  min-height: 507px;
  padding: 15px 25px;
}

.block h1,.block h2.hicon.exit {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  font-family: oswald;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

.block h2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}

.block h3 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}


.block .btn_remove {
  display: none;
}

.side_bar ul.steps li > a {
  background: rgba(0, 0, 0, 0) url("../images/menu_border.png") no-repeat scroll 0 43px;
  border: medium none;
  color: #fff !important;
  font-family: Orienta;
  font-size: 15px;
  font-style: normal !important;
  line-height: 45px;
  padding: 0;
  text-decoration: none;
  text-indent: 20px;
  text-transform: uppercase;
}

.side_bar ul.steps li:last-child > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.side_bar ul.steps li.now > a,.side_bar ul.steps li > a:hover {
  background: #328dc9 url("../images/active_arw.png") no-repeat scroll 0 15px;
  border: medium none;
  font-weight: normal;
}


.side_bar #steps {
  background: #2980b9 none repeat scroll 0 0;
  padding: 8px 10px;
}

.side_bar ul.steps {
  margin: 0 !important;
  padding: 0 !important;
}

.side_bar ul.steps li {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
  margin: 0;
  padding: 0;
}

.side_bar #steps {
  width: 255px;
}

.block #installer {
  border: medium none;
}

.side_bar #steps {
  margin: 0;
}

.side_bar {
  width: 780px !important;
}

.block #footer {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-family: open sans;
  font-size: 14px;
}

.block table.dbtests td {
  border-bottom: medium none;
  margin: 0;
  padding: 4px 0;
  text-align: left !important;
}

.block table.dbtests td.okayico {
  background: rgba(0, 0, 0, 0) url("../images/tick_mark.png") no-repeat scroll 2px center;
  width: 35px;
}

.block table.dbtests td.currentico {
  background: rgba(0, 0, 0, 0) url("../images/tick_mark.png") no-repeat scroll 2px center;
  width: 35px;
}

.block strong {
  font-weight: normal;
}

.block .dbtests td tt {
  font-family: open sans;
  font-weight: bold;
}

.block .dbtests td tt {
  float: left;
  font-family: open sans;
  font-weight: bold;
  text-indent: 10px;
}

.block .dbtests .dark > td {
  font-weight: bold;
}

.block .btn {
  background: #196ba0 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  line-height: 25px;
  padding: 0 20px;
}

.block .btn:hover{
  background: #50afee none repeat scroll 0 0;
}

.block div.textbox input, .block div.textbox textarea {
  background: white none repeat scroll 0 0;
}

.block div.formrbt, .block div.formchb {
  position: relative;
  text-indent: 12px;
  background-color: #fff !important;	
  border: none !important; 
}

.block .formrbt > input {
  left: -4px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 7px;
}

.block .formrbt > span {
  font-family: open sans;
  font-size: 14px;
}

.block i {
  font-style: normal;
}

.block #installer p a {
  color: #848484;
  text-decoration: none;
}

.block td.support {
  text-indent: 5px;
}

.block h3.head_color {
  color: #848484;
}

.block p.bg_color {
  background: #fffb8b none repeat scroll 0 0;
  color: #000;
  padding: 0 10px;
}