

.col-md-10 {
  width: 83.3333%;
  float: right;
}
.col-md-12 {
  width: 100%;
}
.col-md-2 {
  width: 16.6667%;
  float: left;
}
.mobile_button.clearfix
{
	display: none;
}
.provider-panel .panel-footer {
  background: #171718;
  border-top: 1px solid #3f3f42;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}
.col-md-4 {
  width: 33.3333%;
  float: left;
}
.col-md-8 {
  width: 66.6667%;
}
.nav.navbar-nav.navbar-right li i
{
  top: 13px !important; 
}
.navbar-collapse:after {
  clear: both;
}
.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  overflow: visible !important;
  padding-bottom: 0;
}
.sidebar {
  background: url("../img/sidebar_bg.png") repeat scroll 0 0 !important;
  height: 2000px;
  max-width: 218px;
  padding: 0;
}
.panel {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 21px;
}

.panel.panel-default.provider-panel {
  border-bottom: 1px solid #212123;
}
.panel-body
{
  border-top: 1px solid #3f3f42;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.provider-panel .panel-body {
    background: #2E2E2F !important;
  color: #fff;
  float: left;
  font-size: 16px;
  padding: 10px 15px;
 }
.provider-panel .panel-footer {
    background: #2E2E2F !important;
}
.sider_bartext
{
  /*background: url("../img/sidebar_bg.png") repeat scroll 0 0 !important;*/
  background: #2E2E2F !important;
}
.panel.panel-default.provider-panel
{
  margin-top:12px;
  border:none !important;
}
.panel-footer
{
  padding-top: 13px !important;
  padding-bottom: 15px !important;
  margin-top: -10px;
}
.provider-panel .panel-body
{
  padding: 12px 15px 10px !important;
}
.col-md-6 {
  width: 50%;
}
.setting_background > img
{
background: #ffd700; /* Old browsers */
background: -moz-linear-gradient(top,  #ffd700 1%, #ffd700 16%, #f6a81e 87%, #f6a81e 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffd700), color-stop(16%,#ffd700), color-stop(87%,#f6a81e), color-stop(99%,#f6a81e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffd700 1%,#ffd700 16%,#f6a81e 87%,#f6a81e 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffd700 1%,#ffd700 16%,#f6a81e 87%,#f6a81e 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffd700 1%,#ffd700 16%,#f6a81e 87%,#f6a81e 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffd700 1%,#ffd700 16%,#f6a81e 87%,#f6a81e 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#f6a81e',GradientType=0 ); /* IE6-9 */
}
#public{
  border: 2px solid #1a1a1a;
  margin: 10px 0;
  padding: 10px 5px;
}
#public input
{
  margin-top: 4px;
}
#private
{
  border: 2px solid #1a1a1a;
  margin: 10px 0;
  padding: 10px 5px;
}
#private input
{
  margin-top: 4px;
}

/*.provider-panel
{
  background: none !important;
  border: none !important;
}*/

/*.collapse
{
  display: block !important;
}*/
