body{padding:0px;margin:0px;background: url("../img/bg.jpg") repeat scroll 0 0 ;color:#333333;}

/*header*/

.header{background:#868686; color: #fff;}

.menu{margin:0px;}

.header_menu{list-style:none;/* margin-left: 55px !important; */margin:12px 0px!important;}

.header h1{line-height:28px;margin-top: 2px;}

.header_menu li {/* padding:0 7px; */padding:0 12px;}

.header_menu li a.active{color:#fff;background:none;}

.header_menu li a {line-height: 30px;*line-height:52px;padding: 0px 4px !important;font-family: 'Roboto',sans-serif;font-size: 15px;font-weight:400;color: #8C9999 !important;font-weight:700;}

.header_menu li a:hover{color:#fff !important;}

.header_menu li a:active{color:#fff !important;}

.header_menu.nav > li:first-child {padding: 0 7px 0 0px;}

.header_menu.nav a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.menudroplist a:focus{background:none !important;}

.menudroplist.dropdown-toggle a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.menudroplist.dropdown-toggle a:active {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.logo{display: block;margin:5px auto 0px;width:10%;}

.logo h1{line-height:none;padding-top: 14px;/* padding-bottom: 6px; */padding-bottom:1px;*padding:10px 0px;}

.subject_arrow{margin-top:15px!important; *margin-top:6px!important;}

.search_text{float: left;}

.search_button{float: right;margin: 1px 10px;padding: 4px 0 0;}

.search_right{float:left;margin:4px 15px 0;}

.search{/* width:180px; *//* width:260px; */margin-top:8px;background:#fff;border:1px solid #e0e0e0;border-radius:3px;/* margin-right: 40px; */}

.stext{border: medium none !important;border-radius: 0 !important;box-shadow: none !important;color: #BBBBBB;font-family: 'PT Sans Caption',sans-serif;font-size: 13px;/* margin-left:2px; */margin-bottom: 0 !important;/* max-width: 225px; */}

.sbutton{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;color: #BBBBBB;float: left;font-size: 15px;min-width: 15px;}

.price{box-shadow: 0 0 2px 1px #F5F5F5;border:1px solid #ffffff;background:#e7e7e7;border-radius: 6px;margin-top:45px;}

.price_right{float:right;margin-right: 18px;/* margin-top: 16px; */margin-top:31px;}

.price_label{color:#929292;font-family: 'Open Sans',sans-serif;font-size:14px;line-height:26px;margin-top:8px;margin-left:28px;font-weight:600;text-transform:uppercase;float:left;}

.dollar{color:#000;font-family: 'Open Sans',sans-serif;font-size:30px;line-height:30px;font-weight:600;margin-bottom: 20px;}

.price_align{float:right;}

.take_course{
font-family: 'Roboto',sans-serif;
font-size:16px;
color:#b15500;
border:1px solid #ff871a;
background: rgb(255,215,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,215,120,1) 0%, rgba(255,135,26,1) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,215,120,1)), color-stop(98%,rgba(255,135,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd778', endColorstr='#ff871a',GradientType=0 ); /* IE6-9 */
border-radius:3px;
margin-right: 5px;
padding: 12px 32px;*display:block;}

.follow_us{
font-family: 'Roboto',sans-serif;
font-size:16px;
color:#fff;
border:1px solid #076cc7;
background: rgb(122,193,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(122,193,255,1) 0%, rgba(7,108,199,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,193,255,1)), color-stop(100%,rgba(7,108,199,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(122,193,255,1) 0%,rgba(7,108,199,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(122,193,255,1) 0%,rgba(7,108,199,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(122,193,255,1) 0%,rgba(7,108,199,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(122,193,255,1) 0%,rgba(7,108,199,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac1ff', endColorstr='#076cc7',GradientType=0 ); /* IE6-9 */
border-radius:3px;padding:12px 60px;}

.response{color:#333333;font-family: 'Open Sans',sans-serif;border-bottom:1px solid #d8d8d8;margin-top: 40px;padding-bottom: 12px;}

/*end header*/

/*slider*/

.banner_bg
 {
   background-attachment: scroll;
    background-clip: border-box;
    background-color: #030303;
    background-image: url("../images/banner.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    /* margin-top: 50px; */margin-top:45px;}


.sleft{float: left;}

.sright{float: right;padding: 0 5px;}

.slider{background-attachment: scroll;
    background-clip: border-box;
    background-color: #030303;
    background-image: url("../images/home_banner.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat; /* margin-top:50px; */margin-top:54px;}

.image_course{position:absolute;left: 0px;top: 42px;}

.video_course{position:absolute;right: 0px;top: 42px;}

 .align_position{position:relative; height: 480px;max-width:100%;} 
 
 .align_course{position:relative;height: 368px;}

/*Description*/

.description{margin-top: 40px;margin-bottom: 58px;}

.description h2{color: #333333;font-family: 'Roboto',sans-serif;font-size: 24px;font-weight: 400;}

.description p{color:#646464;font-family: 'Open Sans',sans-serif;font-size:13px;line-height:30px;margin-top:22px;}

.description_content{max-width: 856px;}

.about_manager{margin-top: 14px;max-width:314px;}

.manager_image{float:left;border:1px solid #ffffff;border-radius:3px;/* box-shadow:2px 2px #efefef; */max-width: 64px;}

.manager_name{float: left;margin-left: 20px; max-width: 150px;}

.name{font-size:16px;color:#333333;font-family: 'Open Sans',sans-serif;font-size:16px;}

.work{color:#777777;font-family: 'Open Sans',sans-serif;font-size:13px;line-height:25px;}

.manager_content{color:#646464;font-family: 'Open Sans',sans-serif;font-size:13px;line-height:26px;margin-top: 12px;*margin-top:130px;}

.listup{list-style:none;margin-top: 12px;}

.listup li {display:block;margin-top:5px;}

.list_image{float:left;/* padding: 10px 20px 4px; */;padding:4px 20px;*padding:1px 20px;}

.list_text{float:left;padding: 5px 3px;color:#6e6e6e;font-family: 'Open Sans',sans-serif;font-size:14px;*padding:0px;}

.like{border-bottom:1px solid #e0e0e0;}

.about{font-family: 'Open Sans',sans-serif;font-size:16px;color:#333333;margin: 25px 0 0;}

.about_title{border-bottom: 1px solid #DEDEDE;line-height: 30px;}

.about_button{float:right;margin-top:5px;}

.about_more{float:left;/* margin-bottom: 14px; */margin-left:10px;}

.more_images{margin-top:15px;}

.more_images img{border: 1px solid #E1E1E1;border-radius: 3px;margin: 0 3px;padding: 3px;width: 70px;}

.student{margin-top:30px;}

.student_title{border-bottom:1px solid #DEDEDE;}

.enrolled{font-family: 'Open Sans',sans-serif;font-size:16px;color:#333333;margin-bottom: 11px;margin-left: 10px;}

.student_image{margin-top:10px;}

.student_image li{float:left;display:inline;margin-bottom: 10px;margin-top: 10px;}

.student_image li img {border: 1px none #F9F9F9;box-shadow: 0 0 2px 1px #F5F5F5;height: 52px;padding: 2px;max-width: 55px;margin-left: 7px;margin-right: 9px;}

.tags{margin-top:28px;}

.tags_title{border-bottom:1px solid #DEDEDE;}

.tags_right{float:right;font-family: 'Open Sans',sans-serif;font-size:13px;color:#a9a9a9;}

.tags_left{float:left;font-family: 'Open Sans',sans-serif;font-size:13px;color:#a9a9a9;}

.tag{font-family: 'Open Sans',sans-serif;font-size:16px;color:#333333;margin-bottom: 10px;margin-left: 10px;}

.tags_category{list-style:none;}

.tags_category  li{margin-top:14px;line-height:14px;}

.description_list{list-style:none;margin-top: 20px;}

.description_list li{background:url("../images/tick.png") no-repeat left center;color: #646464;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-bottom:14px;padding: 0 24px;}

.profile{border-bottom:1px solid #d8d8d8;margin-top: 20px;}

.profile_view{display:block;}

.profile_image{float:left; min-height: 84px;}

.profile_image img {border:1px solid #e4e4e4;padding:1px;border-radius:3px;
margin: 0 15px 0 0;padding: 1px;width: 35px;}

.profile_right{float: right;max-width: 784px;}

.profile_title{color: #333333;font-family: 'Roboto',sans-serif;font-size: 15px; font-weight: normal;
    text-shadow: none;}

.profile_content{color: #777777;font-family: 'Open Sans',sans-serif;font-size: 13px;}

.about_hours{color: #a6a6a6;font-family: 'Open Sans',sans-serif;font-size: 13px;float:left;margin: 15px 0 5px;}

.profile_likeimage{float: left;padding: 5px 6px;}

.profile_likeno{float: right;}

.policy_menu li:last-child {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.profile_like{float:right;color: #a6a6a6;font-family: 'Open Sans',sans-serif;font-size: 13px;margin-top:15px;}

.profile_like > img {margin-top: 5px;}

.view_more{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
border: 1px solid #E1E1E1;border-radius: 3px;color: #8D8D8D;display: block;font-family: 'Open Sans',sans-serif;font-size: 13px;margin: 28px auto;padding: 6px 14px;
}
/*end Description*/

/*footer*/
.footer{background:#2f3945;margin-top: 0px;}

.about_company{border-bottom:1px solid #414b56;padding-bottom:30px;}

.company{color:#ffffff;max-width: 255px;margin-right: 21px;}

.company h3{color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;margin-top:25px;}

.company p{color: #FFFFFF;font-family: 'Open Sans',sans-serif;font-size: 13px;line-height: 25px;margin-top: 12px;}

.course{max-width:254px;margin-right: 22px;}

.course h3{color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;margin-top:25px;}

.course_menu{list-style:none;margin-top:20px;}

.course_image{float:left;}

.course_top{float:right;color: #FFFFFF;font-family: 'Open Sans',sans-serif;font-size: 13px;line-height: 20px;float:left;margin-left: 10px;}

.jobs{color:#a3a3a3;font-family: 'Open Sans',sans-serif;font-size: 13px;}

.space_li{margin:10px 0px;}

.experts{margin-right: 55px;max-width: 175px;}

.experts h3{margin-top:25px;color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;}

.new_course h3{margin-top:25px;color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;}

/*copyright*/

.copyright{background:#414b56;}

.all_rights{float:left;font-family: 'Open Sans',sans-serif;font-size: 13px;color:#fff;margin: 26px 0;}

.policy{float:right;font-family: 'Open Sans',sans-serif;font-size: 13px;color:#fff;}

.policy_menu{list-style:none;margin:25px 0px 0px;}

.policy_menu li{display:inline;float:left;background: url("../images/fmenu.png") no-repeat scroll right center;padding:0 10px;}

.policy_menu li a{font-family: 'Open Sans',sans-serif;font-size: 13px;color:#fff;/* line-height: 75px; *//* padding: 0 10px; */line-height: 16px;}

/* .policy_menu li a{*line-height: 0px;*padding:20px;} */

.policy_menu li:last-child{background:none;}

.discover_course{margin-bottom: 28px;margin-top: 32px;}

.discover{margin-right: 6px;}

.discover h3{color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;}

.discover_category{margin-top:10px;list-style:none;}

.discover_category li{background: url("../images/dis_arrow.png") no-repeat scroll left center;
display: block;padding: 0 12px;line-height: 30px;}

.discover_category  li a{font-family: 'Open Sans',sans-serif;font-size: 13px;color:#fff;}

.online h3{color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;}

.online_category{margin-top:10px;list-style:none;}

.online_category li{ padding-right: 10px;display: inline;float:left;line-height: 30px;padding-top:12px;padding-bottom:2px;
}

.online_category  li a{font-family: 'Open Sans',sans-serif;font-size: 13px;color:#fff;}

.advertise.span3 {margin-right: 64px;max-width: 180px;}

.advertise h3{color:#ffffff;font-size:16px;font-family: 'Roboto', sans-serif;font-weight:700;}

.advertise_image{margin-top:20px;}

.start_now.span3{ margin-left: 0;position:relative;margin-top: 15px;}

.start_now img{border: 2px solid #5594C1;}

.start_now h3{position:absolute;left: 15px;font-size:18px;font-family: 'Roboto', sans-serif;color:#773536;top: 5px;}

.start_now p{ font-family: 'Open Sans',sans-serif;font-size: 12px;color:#32292c;position:absolute;left: 18px;top: 42px;max-width: 200px;}

.start_button{ background:#70afdb;border:1px solid #5594C1;font-size:18px;font-family: 'Roboto', sans-serif;color:#ffffff;bottom: 2px;right: 20px;position:absolute;}

/*end footer*/

/*Home page*/

.head_line {color: #FFFFFF;font-family:'Roboto',sans-serif;font-size: 34px;font-weight: 400;left: 50px;line-height: 46px;max-width: 530px;position: absolute;text-align: center;top: 30px;}

.video_player{bottom: 40px;left: 60px;position: absolute;}

.slider_arrow{bottom: 64px;position: absolute;/* right: 461px; */right:454px;}
 
 .get_start{max-width:390px;background: rgb(62,62,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(62,62,62,1) 1%, rgba(32,32,32,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(62,62,62,1)), color-stop(100%,rgba(32,32,32,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(62,62,62,1) 1%,rgba(32,32,32,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(62,62,62,1) 1%,rgba(32,32,32,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(62,62,62,1) 1%,rgba(32,32,32,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(62,62,62,1) 1%,rgba(32,32,32,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3e3e', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
position: absolute; right: 40px; top: 25px;}

.getstart_title{background:#282828;}

/*.title_text{font-family: 'Roboto',sans-serif;font-size: 30px;font-weight:700;color:#f3c20d;text-align:center;line-height:33px;max-width: 330px;/*change17 padding: 10px 0; */margin:0 auto; padding: 10px 0 10px;}*/

.getstart_content{font-family: roboto;font-size: 20px;font-weight:400;color:#fefefe;}

.ideas{/* line-height:26px; *//* margin-top: 6px; */text-align: center;/*added 17*/line-height: 26px;margin-top: 10px;}

.ideas_content{line-height: 24px;margin: 24px auto 10px;max-width: 335px;text-align: center;}	

.user_name{ background:#141517;border-radius:3px;  margin: 1px auto;max-width: 334px;position:relative;}

.user_image{float:left;  /* padding: 14px 8px 10px 7px; */ padding:8px 5px 10px 5px; height: auto;/* width: 30px; */position:absolute;}

.user_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;/* float: left; */font-family: 'Open Sans',sans-serif;font-size: 13px;/* margin-top: 10px; *//* padding: 5px 58px 5px 4px; */text-align: left;width: 100%;outline:none!important;border:none;*width:280px;/* padding:16px 5px; */margin:0px;height:50px;text-indent:36px;
padding:0px;
}

.mail_image{float:left; padding: 8px 5px 12px 5px;position:absolute;}

.mail_text > input {background:#141517;border: medium none !important;box-shadow: none !important;color: #626262;/* float: left; */font-family: 'Open Sans',sans-serif;font-size: 13px;/* margin-top: 10px; *//* padding: 5px 58px 5px 4px; */text-align: left;width: 100%;outline:none!important;border:none;*width:280px;/* padding:16px 3px; */margin:0px;height:50px;text-indent:45px;
padding:0px;}
/* .mail_text > input {background:#141517;border: medium none;margin-top: 8px;font-family: 'Open Sans',sans-serif;font-size: 13px;color:#626262;float:left;border: medium none !important;box-shadow: none !important;/* padding: 5px 58px 5px 4px; *//*width: 84%;outline:none!important;*width:280px;} */

/* .mail_text.clsClearfix {float: left;} */

.access{
margin: 8px auto 14px;/* max-width: 335px; */text-align: center;}

.access > input {
background: rgb(255,215,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,215,120,1) 0%, rgba(255,135,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,215,120,1)), color-stop(100%,rgba(255,135,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd778', endColorstr='#ff871a',GradientType=0 ); /* IE6-9 */
border: medium none;font-family: 'Roboto',sans-serif;font-size: 20px;font-weight:700;color:#c05c00;/* padding: 18px 0 12px; */text-shadow: 0 1px #FFFFFF;text-transform: uppercase;/* width:84.4%; */border-radius:3px;*width:330px;outline:none;padding:15px 0px;width:86%;}

.learn_about{background:#f6f6f6;padding-bottom: 35px;}

.learn{margin-top: 60px;text-align:center;}

.learn.span4 {margin-right: 50px;max-width: 320px;margin-bottom: 25px;}

.learn_title{font-family: 'Roboto',sans-serif;font-size: 18px;/* changes17 font-weight:400; */color:#2f3945;text-transform:uppercase;line-height:52px;font-weight:500;}

.learn_content{font-family: 'Open Sans',sans-serif;font-size: 13px;color:#333333; padding: 0 2px;line-height: 21px;font-weight:600;}

.popular_courses{background: none repeat scroll 0 0 #FFFFFF;}

.popular_top{margin-top: 35px;}

.popular_title{font-family: 'Roboto',sans-serif;font-size: 20px;font-weight:400;color:#2f3945;float:left;}

.popular_line{float:left;padding: 3px 14px;}

.grid{float:left;margin-top: 4px;margin-left: 3px;}

.grid_list{float:left;margin-top:4px;margin-left: 25px;}

.business_content{margin-bottom: 55px;margin-top: 33px;*margin-top:10px;*padding:40px 0px 0px;}

.business_class{position:relative;max-width: 250px;border: 1px solid #E1E1E1;border-radius: 3px;margin-right: 22px;
  box-shadow: 0 0 12px #e3e3e3;}

.business_class.span3:first-child {margin-left: 5px;}

.business_image{padding: 5px;}

.business_dollar{ left: -5px;position: absolute;top: 25px;}

.business_amount {background: url("../images/dollar.png") repeat scroll;color: #FFFFFF;font-weight: 300;height: 36px;left: 0;position: absolute;top: 6px;width: 60px;}

.business_amount p {position: absolute;right: 16px;/* top: 5px; */bottom:10px;}

.business_free {background: url("../images/free.png") repeat scroll;color: #FFFFFF;font-weight: 300;height: 36px;left: 0;position: absolute;top: 6px;width: 60px;}

.business_free  p {position: absolute;right: 16px;/* top: 5px; */bottom:10px;}

.office{font-family: 'Roboto',sans-serif;font-size:16px;font-weight:400;color:#111111; margin: 0 10px; min-height: 48px;}

.business_office{margin: 7px 0px 0px;}

.office_text{font-family: 'Roboto',sans-serif;font-size:13px;font-weight:300;color:#8a8a8a;line-height:22px;
margin: 10px 5px 0px;padding: 10px 0;border-top:1px solid #e4e4e4;}

.image_bottom{background:#f2f2f2;box-shadow:2px 2px #eaeaea;margin-top: 0px; box-shadow: 0 0 10px #e8e8e8 inset;}

.imagebottom_left{float:left;margin: 5px 15px;}

.image_user {float: left;margin-top: 1px;padding: 0 5px;}

.image_text { background: url("../images/image_user.png") no-repeat scroll left center;color: #777777;
float: right;font-family: 'Roboto',sans-serif;font-size: 14px;font-weight: 400;margin-top: 5px;padding: 0 18px;}


.image_user > img {padding-bottom: 10px;padding-left: 10px;padding-top: 10px;}

.imagebottom_right{float:left;margin-top: 8px;padding:0 0 0 5px;}

.starvalue{list-style:none;}

.startvalue > li {display: block;float: left;padding: 0 2px;}

.see_more{margin:0 auto;display:table;}

.seemore_button{
background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(203,203,203,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */
border: 1px solid #b7b7b7;border-radius: 3px;color: #8D8D8D;display: block;font-family: 'roboto',sans-serif;font-size: 16px;font-weight:400;margin: 38px auto 26px;padding: 12px 30px;text-transform:uppercase;
}

.recent_added{background:#f6f6f6;padding: 0 0 27px;}

.post_title{border-bottom:1px solid #dadada;/* margin-top: 22px; */margin-top:40px;padding-bottom: 10px;}

.post_heading{float:left;font-family: 'roboto',sans-serif;font-size: 20px;font-weight:400;color:#2f3945;}

.post_arrow{float:right;}

.post_content{margin-top:20px;}

.post_image{float:left;margin-right: 28px;}

.post_text{
    border: medium none;
    
}

/*added*/

.post {
    margin: 0;
    max-width: 590px;
}

.posttext_title{font-family: 'roboto',sans-serif;font-size: 18px;color:#000000;font-weight:500;}

.post_date{margin-top:10px;color:#9b9b9b;font-family: 'Open Sans',sans-serif;font-size: 13px;
}

.posttext_content{margin-top:10px;color:#333333;font-family: 'Open Sans',sans-serif;font-size: 13px;
font-weight: 600;

}

.post{ margin:0px;}

.jobs > a {color: #A3A3A3;}

.course_top > a {color: #FFFFFF;}

.testimonials {float: right;}

.test_content{color:#333333;font-family: 'Open Sans',sans-serif;font-size: 14px;line-height: 24px;margin-top: 14px;font-weight:600; }
	
.testname{float: left;padding: 0 10px;font-family: 'Open Sans',sans-serif;font-size: 14px;line-height: 24px;color:#000000;margin-top: 22px;font-weight:normal;}

.designer{color:#9b9b9b;}

.testright{float:left;margin-top: 26px;}

/*registration*/

.reg_banner
 {
   background-attachment: scroll;
    background-clip: border-box;
    background-color: #030303;
    background-image: url("../images/reg_image.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
   /*  margin-top: 50px; */margin-top:45px;}
	
	
	.align_reg{height:180px;}

.signup {color: #FFFFFF; font-family: 'roboto',sans-serif;font-size: 62px;/* left: 470px; */
font-weight:700;max-width: 200px;text-transform: uppercase;/* top: 50px; */ margin: 35px auto;
    max-width: 416px;text-align: center;line-height:60px;}

.join_tutorial {color: #FFFFFF;font-family: 'roboto',sans-serif;font-size: 22px;
font-weight: 400;}

.reg_form{margin-top:70px;}

.reg_video{float:left;margin-left: 42px;}

.reg_login{float:left;margin-left: 42px;max-width:230px;}

.facebook_singup {background:#2573A7!important;border: 1px solid #476374;color: #FFFFFF;padding: 10px 60px;font-family: 'roboto',sans-serif;font-size: 16px;text-transform: capitalize;  padding: 10px 50px; border-radius:3px;*display: block;}

.or {color: #2573A7;line-height: 20px;margin-bottom: 2px;margin-top: 10px;text-align: center;}

.reg_yourmail{color:#cfcfcf;text-align: center;}

.reg_label{font-family: 'Open Sans',sans-serif;font-size: 16px;line-height: 24px;color:#333333;margin-top:15px;
}

input{*border:none;}

.reg_textbox{margin-top:5px;padding: 12px 35px 12px 24px !important; margin-bottom: 1px !important;}

.reg_next{font-family: 'Roboto',sans-serif;font-size:18px;color:#b15500;*outline:none;*border:none;
border:1px solid #ff871a;
background: rgb(255,215,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,215,120,1) 0%, rgba(255,135,26,1) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,215,120,1)), color-stop(98%,rgba(255,135,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd778', endColorstr='#ff871a',GradientType=0 ); /* IE6-9 */
border-radius:3px;margin-right: 5px;padding: 12px 36px;font-weight: 700;text-shadow: 0 1px #FFFFFF;margin-top: 10px;margin-bottom:70px;
}

/*create course*/

.course_align{float:right;}

.align_courseimage{height:148px;position:relative;}

.createcourse_banner{background-attachment: scroll;
    background-clip: border-box;
    background-color: #030303;
    background-image: url("../images/create_course.png");
    background-origin: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 50px;}

.teacher_details{float:left;}

.teacher_image{position: absolute;top:16px;left:0px;}

.teacher_course{ left: 200px;position: absolute;top: 50px;}

.course_name a{color: #FFFFFF; font-family: 'roboto',sans-serif;font-size: 18px;font-weight:400;}

.teacher_name a{color: #999999; font-family: 'roboto',sans-serif;font-size: 12px;font-weight:400;line-height: 35px;}

.course_publish{background: rgb(255,135,26); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,135,26,1) 0%, rgba(255,215,120,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,135,26,1)), color-stop(100%,rgba(255,215,120,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,135,26,1) 0%,rgba(255,215,120,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,135,26,1) 0%,rgba(255,215,120,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,135,26,1) 0%,rgba(255,215,120,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,135,26,1) 0%,rgba(255,215,120,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff871a', endColorstr='#ffd778',GradientType=0 ); /* IE6-9 */
border:none;border-radius:2px; padding: 8px 22px;
color:#727272;font-family: 'roboto',sans-serif;font-size: 18px;font-weight:700; /* padding: 10px 20px 12px; */text-shadow: 0 1px #FFFFFF;margin-left: 15px;
height:40px;
}

.basic_menu{list-style:none;background:#333333;}

.basic_menu li{display:inline;float:left;background: url("../images/course_menuborder.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: inline;
    float: left;
    padding: 0 24px;}
	
.basic_menu.clsClearfix > li:last-child {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.basic_menu li a{color: #999999;font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-shadow: none;line-height:60px;text-transform:uppercase;}

.basic_menu li a:hover{font-family: 'Open Sans',sans-serif;font-size: 16px;font-weight:700px;color:#ff9c00;
background:url("../images/menu_pointer.png");}

.course_basic{font-family: 'roboto',sans-serif;font-size: 30px;font-weight:400;color:#333333; margin-top: 20px;
    padding-left: 4px;}

.course_subtitle{font-family: 'Open Sans',sans-serif;font-size: 13px;font-weight:400;color:#a9a9a9;border-bottom:1px solid #d2d2d2;/* max-width: 765px; */line-height: 30px;}

.course_subtextbox{width:92%; margin-top: 10px;
    padding: 10px 14px 80px !important;
    width: 95%;}

.course_title{font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight:600;color:#333333;max-width:200px;margin-top:15px;margin-bottom: 10px;}

.course_textbox{border:1px solid #d9d9db;margin-top: 10px;
    padding: 10px 14px !important;
    width: 95%;}
	
/*tab*/

.resp-vtabs li.resp-tab-active {background: url("../images/menu_active.png") no-repeat scroll left center #F9F9F9 !important;font-family: 'roboto',sans-serif !important;font-size:14px!important;font-weight:400!important;color:#333333!important;
border: 1px solid #D9D9D9;}

.resp-vtabs .resp-tabs-container {background:#f9f9f9!important;}

.resp-tab-content {padding:0px !important;}

.resp-vtabs .resp-tabs-list li {font-family: 'roboto',sans-serif;font-size:14px;font-weight:400;color:#a9a9a9; 
border:1px solid #e4e4e4;}

.resp-vtabs li.resp-tab-active {}

.course_tab{margin-top:54px;margin-bottom:65px;}

.basic_menu.clsClearfix > li:hover {}
 
.basic_menu li a:active {color: #FF9C00;text-decoration: none !important;}

.basic_menu li a:focus {color: #FF9C00;text-decoration: none !important;}

.align_right{float:left;max-width:100%;}

.course_ctitle{line-height:40px; color: #333333;font-family: 'Open Sans',sans-serif;
font-size: 14px;font-weight: 600;max-width: 200px;}

.course_next{
border:1px solid #ff871a;
border-radius:5px;
background: rgb(255,215,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,215,120,1) 0%, rgba(255,135,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,215,120,1)), color-stop(100%,rgba(255,135,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd778', endColorstr='#ff871a',GradientType=0 ); /* IE6-9 */
font-family: 'Open Sans', sans-serif;font-size: 16px;padding: 10px 22px;color:#c05c00;text-shadow:0px 1px #fff;
margin-bottom: 15px;margin-top: 60px;margin-right: 24px;float:right;
}

.course_pub{
line-height:20px;
height:40px;
}

/*listbox*/

.course_listbox {
    
    border-radius: 5px;overflow: hidden;
    padding: 1px 0;position: absolute;right:200px;width: 134px;
	position: absolute;
    /* right: 245px; */
	right:138px;
    top: 52px;
	background: rgb(229,229,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(203,203,203,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(203,203,203,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(203,203,203,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cbcbcb',GradientType=0 ); /* IE6-9 */

-moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}


.course_listbox  select {
   -moz-user-select: none;
    background: url("../images/preview.png") no-repeat scroll 107px 15px rgba(0, 0, 0, 0);
    border: medium none;
    color: #727272;
    font-family: 'roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 29px;
    margin-top: 3px;
    padding-top: 4px;
    text-shadow: 0 1px #FFFFFF;
    width: 157px;
}

.course_listbox select:focus{outline:none;}

.category_listbox{
    background: url("../images/preview.png") no-repeat scroll 360px center #ffffff;
    border: 1px solid #d9d9db;border-radius: 3px;max-width: 395px;overflow: hidden;
    padding: 1px 0;}
	
.category_listbox select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;color: #a8a8a8;padding-top: 10px;width: 184px;
	font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight:400;text-shadow: 0 1px #FFFFFF;
	height: 35px;width: 108%;
	
}

.lang_listbox{
    background: url("../images/preview.png") no-repeat scroll 360px center #ffffff;
    border: 1px solid #d9d9db;border-radius: 3px;max-width: 395px;
    overflow: hidden;padding: 1px 0;}

.lang_listbox select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;color: #a8a8a8;padding-top: 10px;
    width: 184px;font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight:400;
    text-shadow: 0 1px #FFFFFF;height: 35px;width: 108%;}

.course_listbox option {
    font-size: 14px;
}

.course_listbox option:active {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.course_listbox option:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.shadetabs a.active:after {
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 8px solid #CCCCCC;
    content: "";
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.shadetabs li a:focus{outline:none;}

.tags_left > a {
    color: #A9A9A9;
}



/*NEW CSS FOR SITE*/

/*Social share icons*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

ul.action-bar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-bar li {
    float: left;
}

.action-bar a {
    color: white;
    display: block;
    font-size: 20px;
    width: 60px;
    height: 46px;
    line-height:46px;
    position: relative;
    text-align: center;
}
.action-bar a:hover {
    text-decoration:none;
}

.twitter,
.twitter .tooltip,
.twitter .tooltip:before { background: #6CDFEA; }
.twitter:hover { color:rgba(0, 0, 0, .5); }

.facebook,
.facebook .tooltip,
.facebook .tooltip:before { background: #3B5998; }
.facebook:hover { /* color:rgba(0, 0, 0, .5)  */color:#fff;background:#2573A7;}

.gplus,
.gplus .tooltip,
.gplus .tooltip:before { background: #E34429; }
.gplus:hover { color:rgba(0, 0, 0, .5) }

.pintrest,
.pintrest .tooltip,
.pintrest .tooltip:before { background: #CD1F28; }
.pintrest:hover { color:rgba(0, 0, 0, .5) }
/*end of social share icons*/

.taglist li {
    padding-right: 0px;
    padding-left: 0px;
}

.badge-danger {
    background: #e74c3c !important;
}

.profile-fullname {
    word-break: break-word;
}

.fade-caption > .inline-block-list {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 10px;
}

.imagetitlefix {
    margin-top: -25px;
}

.imagetitlefix h1 a {
    color: #333;
}

.imagetitlefix h1 a:hover {
    color: #333 !important;
}

.imageh1 {
    margin-bottom: 0px;
}

.imgfix {
   margin-right:15px;
   margin-bottom:5px;
}
.page-header {
    margin-top: 0px;
}

.page-header h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
}

.galfix {
    margin-bottom: 10px;
}

.exif {
    margin-top: 10px;
}

.profile-social {
    text-align: center;
}
.profile-social a {
    margin-left:9px ;
    margin-right:9px;
    text-decoration: none;
}

.facebook {
    background: #3B5998;
    color: white; text-decoration: none;
}
/* Image Box Style */
#mainwrapper .box {
    border: 5px solid #ffffff;
    cursor: pointer;
    height: 160px;
    float: left;

    position: relative;
    overflow: hidden;
    width: 210px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 10px 20px 5px 0px;
}

#mainwrapper .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.caption  h3 {
    margin-top: 10px;
    font-size: 20px;
}

#mainwrapper .box .caption {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
    height: 30px;
    width: 200px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Caption 2: Full Width & Height **/
#mainwrapper .box .full-caption {
    width: 210px;
    height: 160px;
    top: -200px;
    text-align: left;
    padding: 15px;
}

/** Caption 3: Fade **/
#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
    opacity: 0;
    width: 200px;
    height: 160px;
    text-align: left;
    padding: 15px;
}

/** Caption 4: Slide **/
#mainwrapper .box .slide-caption {
    width: 210px;
    height: 160px;
    text-align: left;
    padding: 15px;
    left: 200px;
}

/** Caption 5: Rotate **/
#mainwrapper #box-5.box .rotate-caption {
    width: 210px;
    height: 160px;
    text-align: left;
    padding: 15px;
    top: 200px;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#mainwrapper .box .rotate {
    width: 200px;
    height: 400px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 210px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption {
    opacity: 1;
}

/** Slide Caption :hover Behaviour **/
#mainwrapper .box:hover .slide-caption {
    background-color: rgba(0, 0, 0, 1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}

#mainwrapper .box:hover img#image-4 {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
}

/** Rotate Caption :hover Behaviour **/
#mainwrapper .box:hover .rotate {
    background-color: rgba(0, 0, 0, 1) !important;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

.usernavbar a {
    color: #666666;
}

.usernavbar {
    margin-bottom: 20px;

}

.usergallery {
    margin-left: -15px;
}

.imagesFromUser .userimage {
    margin-right: 5px;
    margin-bottom: 5px;
}

/*ADMIN CSS*/
.inline-block-list {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1
}

.inline-block-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.unstyled-link {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit
}

.unstyled-link:active, .unstyled-link:focus {
    outline: none
}

.unstyled-link:hover {
    text-decoration: none;
    color: inherit
}

.hide-text {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
    width: 0;
    line-height: 0
}

.icon-lg {
    font-size: 45px;
    line-height: 1
}

.provider-panel {
    width: 150px;
    text-align: center
}

.provider-panel .panel-body {
    font-size: 50px;
    color: #428bca;
    background: #f0f7fd
}

.provider-panel .panel-body[class^="icon-"]::before, .provider-panel .panel-body[class*=" icon-"]::before {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto
}

.provider-panel .panel-footer {
    background: white
}

.replyfollow {
    /* margin-top: 5px; */ margin: 10px 10px 0 0;
   /*  margin-top: 22px; */
    padding: 3px 5px;
}

.commentReplyBox {
    display: none;
}

.replybutton {
    display: block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    cursor: pointer;
}

.replybutton:hover {
    display: block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    cursor: pointer;
}

.closebutton {
    cursor: pointer;
}

.tag:hover {
    text-decoration: none;
}

.black a {
    color: #2c3e50;
}

.black {
    color: #2c3e50;
}

.msg-time {    display: block;    font-size: 12px;    color: rgb(119, 119, 119); font-weight: bolder;}

.ui-state-default.curriculum_ul_li.main_li_curriculum {
    background: none repeat scroll 0 0 #F0F0F0;
      min-height: 18px;
    padding: 32px 10px;
}

.ui-state-default.curriculum_ul_li.main_li_curriculum h4 {
    float: left;
    font-size: 16px;
    font-weight: 400;text-transform: uppercase;
}


.main_title {
    float: left;
    padding: 0 10px;color: #353535;
   
    font-size: 15px;
    font-weight: 700;
}

.sortable_ul {
    /* border: 1px solid #E4E4E4; */margin: 0 0 20px;/*max-height:540px*/;/* overflow-y:scroll; */
	
	overflow-y:auto;
	
}


.ui-state-default.curriculum_ul_li.sub_li_curriculum {
   border-bottom: 1px solid #F0F0F0;
    padding: 5px 0;/*min-height: 70px;*/ background: none repeat scroll 0 0 #333333;color:#ffffff;
}

.ui-state-default.curriculum_ul_li.sub_li_curriculum h4 {
    float: left;padding: 0 20px;margin: 5px 0 0;font-family: 'roboto',sans-serif;
font-size: 15px;text-transform:capitalize;font-weight:400;
}

.ui-state-default.curriculum_ul_li.sub_li_curriculum:hover {
    /* background: none repeat scroll 0 0 #FFFFEB; *//*background:#242424;*/
}



.AddQuizContentDiv {
    float: right;
    padding: 0 20px;margin: 5px 0 0;
}

.file_div {
    /* float: right; */clear:both;margin: 10px 26px 0;
    padding: 0px 20px 5px; 
}

.correct_answer {
  float: left;
  margin: 10px 9px !important;
}
abbr{border:none!important;}



.imagesFromUser {
    margin: 10px 0;border-top:1px solid #e0e0e0;padding:10px 0px;
}

.remove_margin{margin:0px;}

.bg_line{background:#cccccc;content:"";height:1px;}

.bg_line b{background:#ffffff;}

.line{border:1px solid #cccccc;width:100px;height:1px;} .line_right{border:1px solid #cccccc;width:100px;height:1px;}}

.cur_title{}

.remove_margin > h2 {
    border-bottom: 1px solid #CCCCCC;
    /* margin: 20px 0; */ margin: 20px 0 30px;
}


.ui-state-default.curriculum_ul_li.sub_li_curriculum > p {
  /*   border-right: 1px solid #f0f0f0; */
    float: left;
    margin: 0;
    min-height: 10px;
    padding: 0 10px;
    width: 8px;line-height: 30px;color:#fff;
}


/*added*/

.footer a {color: #FFFFFF;}

.take_course:hover, .take_course:focus{color: #FFFFFF;text-decoration: none;outline:none;}

.modal-dialog{border: 8px solid #333333;}

.header_bg{background: none repeat scroll 0 0 #F1F1F1;border-bottom: 1px solid #CCCCCC;}

.modal-title {color: #333333; font-size: 22px;text-align:center;font-weight:400;}

.align_left {border-left: 1px solid #dddddd;float: right;color: #333333;  padding: 0 0 0 28px;
    width: 45%;}

.align_center {float: left;margin: 80px 0;}

/* .bx-controls.bx-has-pager.bx-has-controls-direction {display: none;margin: 30px 0;} */

.bx-viewport{height:100px!important;}

.bx-wrapper{max-width: 256px!important;}

.form-group {margin: 10px 0;}

.modal-body.rem_padd {padding: 0 8px;}

.reg_add {margin-bottom: 15px;padding: 12px 18px;margin-right:20px;margin-top:0px;}

.align_center {/* margin: 54px 14px; */margin: 20px 35px 0px;}

.form-group .btn {
  background: none repeat scroll 0 0 #95a5a6;
  color: white;
}
.form-group .btn:hover
{
background: #7f9293;
}

.singup{/* padding:15px; */color:#333333;  margin-top: 85px;}

.btn.btn-primary.facebook_singup.facebook.ud-popup {border: medium none;padding: 5px 10px;}

.modal.fade.login_width.in {width: 50%; border: medium none;}

.remove_bot{margin:10px 0px 0px;}

.cont p{/* font-style: italic; */line-height: 23px;margin-top: 5px; text-align: center;}

.modal-body.cont a {/* color: #646464; */line-height: 30px;color:#4985B8;}
.modal-body.cont a:hover{color:#335D82;}
.bx-prev{ /* background:url(../img/left_arrow.png)no-repeat; */ /* content: '\2039'; */ /* padding: 0 10px; */outline: medium none;background: none repeat scroll 0 0 #c7c7c7;
    border-radius: 3px;/* padding: 0 9px; */}

.bx-next{ /* background:url(../img/right_arrow.png)no-repeat; */ /* content: '\203a'; */  /* padding: 0 10px; */outline: medium none;background: none repeat scroll 0 0 #c7c7c7;
    border-radius: 3px;outline: medium none;/* padding: 0 9px; */margin:0 5px;}

.bx-next:hover,.bx-next:focus,.bx-prev:hover,.bx-prev:focus{outline:none;text-decoration:none;}

.bx-prev:before{ content: '\2039';font-size:25px; color: #F6F6F6; padding: 0 6px 0 10px;font-weight:bold;}

.bx-next:before{content: '\203a';font-size:25px; color: #F6F6F6;padding: 0 10px;font-weight:bold;}

.learn-course-title {color: #FFFFFF;font-family: 'roboto',sans-serif;
font-size: 32px;font-weight: 700;/* line-height: 60px; */margin: 30px auto;text-align: center;}

.bx-controls.bx-has-pager.bx-has-controls-direction {float: right;}

.bx-controls-direction {bottom: 130px;left: 12px;position: relative;*position:none;}

.modal-body.cont > h4 {float: left;float: left;font-size: 15px;font-weight: 400;margin: 0 0px 10px;}

.modal-body.cont > form {clear: both;}

.dollar_font{ font-size: 20px;font-weight: 400;line-height: 21px;/* margin: 0 40px; */float:right;}

.control{margin: 16px 0;text-align: center;}

.modal-body.cont {margin: 0 15px;}

.glyphicon-heart:before {content: "";}

.btn_pay{background:#4985B8;color:#fff;font-weight:bold;width: 80% !important;border:none;margin: 5px}

.model_width{width:30%;  left: 56%;}

.media-object.imgfix {float: left;margin:0 6px;}

.nav-bar.learn-course-header li a {text-decoration: none;}

.nav-bar.learn-course-header {float: right;}

.nav-bar.learn-course-header li{margin: 0 15px;}

.modal-header .close {border:1px solid #333;width:30px;margin-top:10px;
 background: none repeat scroll 0 0 #333333;color: #FFFFFF;}
 
 .banner_top{height: 72px;}
 
 .modal.fade.model_width.in {border: medium none;}
 
 .text_color a{color:#8C9999!important;}.text_width{min-width:120px;}
 
 .text_width li a:hover{/* min-width:60px; */}
 
 .choose_color{color:#333333;float:left;} .choose_star{margin:2px 0px!important;}

 .move_inner{margin:0 30px;}
 
 .text_width{width:95%;left:-20px;}
 .text_width li{margin:0px!important;}.text_color a{width:50%!important;}
 .text_width li a:hover,.text_width li a:focus{background:none;background-image:none;color:#333333!important;}
 .textbox_width{width:85%;}
 
  .recaptcha_nothad_incorrect_sol.recaptcha_isnot_showing_audio{*width:350px;}
  
  .profile-fullname{ font-size: 58px;font-weight: 300;line-height:68px;}
  
  .italic_font{font-size: 22px;font-weight: 400;line-height: 40px;}
  
  .about_font{font-size:18px;font-weight:700;}.about_content{font-size:16px;}
  
  .user_profile{list-style:none;} 
  
  .user_profile li{border-right:1px solid #cccccc; float:left;line-height: 30px;min-height: 66px;padding: 0 20px;}
 
  .course_color{color:#D33737;text-align:center;font-size: 25px;font-weight:700;line-height: 35px;}
  
  .student_course{color:#999FA3;font-size:14px;padding:0 4px}.student_color{color:#99cc00;}
   
  .student_course i {padding: 0 2px;}
  
  .userdetails > h4 {margin: 18px 0 0;}
  
  .nav.nav-tabs.usernavbar{margin: 62px 0 0;} /* .span12.HomeScroll {margin: 0;} */
  
/*   .usernavbar {margin: 50px auto !important;width: 46%;} */
  
/*  .nav-tabs.usernavbar  > .active > a, .nav-tabs.usernavbar  > .active > a:hover, .nav-tabs.usernavbar  > .active > a:focus{border-radius:none;border-bottom:5px solid #4DBA4D;border-color:none; background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;border-bottom:5px solid #4DBA4D;color: #4DBA4D;}
*/	
  .nav.nav-tabs.usernavbar > li {padding: 0 10px;}
  
  .nav-tabs > li{margin:0px !important;}
	
  .nav-tabs.usernavbar > li > a{border-radius:none;border:none;}
  
/*  .nav-tabs.usernavbar > li > a:focus{border-bottom:5px solid #4dba4d;}*/
  
  .nav-tabs.usernavbar > li > a:hover, .nav-tabs .usernavbar> li > a:focus {border-color: none;border:none;/*border-bottom:5px solid #4dba4d;*/background:none;color: #4DBA4D;}
  
  
  input{*border:0px;}
  

input[type=submit],
input[type=reset],
input[type=button]
{
       *filter:chroma(color=#000000);
}  
  /*tabs*/
  
  
  	#tabs_new {
	  overflow: hidden;
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	
	
#tabs_new li:last-child {border-right:  1px solid #333333; }
	
	
	#tabs_new li {
	  float: left;margin:0px;
/* 	  margin: 0 -15px 0 0; *//* border-bottom: 1px solid #333333; *//*   background-image: url("../images/tab_border.gif"); */
     border-left: 1px solid #2f2f3a;
 /*    border-top: 1px solid #333333; */background:#43434f;}

	#tabs_new a {
	  float: left;
	  position: relative;
/* 	  padding: 0 40px; */padding:0 50px;
	  height: 0;
	  line-height: 72px;
	  text-transform: uppercase;
	  text-decoration: none;
	  color: #fff;      
	 /* border-right: 30px solid transparent;*/
	  border-bottom: 60px solid #43434f;
	/*  border-bottom-color: #777\9;  */
	  opacity: .3;
	  filter: alpha(opacity=30);      
	}

	#tabs_new a:hover,
	#tabs_new a:focus {
	  border-bottom-color: #5b5b61;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

	#tabs_new a:focus {
	  outline: 0;
	}

	#tabs_new #current {
	  z-index: 3;
	/*   border-bottom-color: #3d3d3d; */
	  opacity: 1;
	  filter: alpha(opacity=100);  
 border-bottom-color: #5b5b61;	  
	}

	/* ----------- */
	#content_new {
	    background: #fff;
	/*     border-top: 2px solid #3d3d3d; */
	   /*  padding: 2em; */padding:0px;width: 100%;
	    /*height: 220px;*//*  height: 200px;
    overflow-y: scroll; */  height: 100%; /* overflow-y:scroll; */ overflow-x: hidden;
	overflow: auto;
	}

	#content_new h2,
	  #content h3,
	  #content p {
	    margin: 0 0 15px 0;
	}  

	/* Demo page only */
	#about_new {
	    color: #999;
	    text-align: center;
	    font: 0.9em Arial, Helvetica;
	}

	#about_new a {
	    color: #777;
	} 

.media_space{ margin: 0px 0 0px 50px!important;}

.underline {list-style: none outside none;}

.underline li {border-bottom: 1px solid #525252;margin: 0 20px;padding: 16px 0;}

.text_top{margin:10px 0px;border-radius: 0 !important;width: 95%;}

.response_margin{margin: 15px 0;}

.replymargin{/* margin: 40px 0 20px; */ /* clear: both;
    margin-bottom: 15px; */}.color_btn{color: #005580;}

.close_padd{ padding: 0 6px !important;}.about_space{margin: 3px 0 5px;float:right;font-weight:normal;}

.hr_margin{ margin: 0px 0 24px;}

.media_user{ margin: 82px 0 0 53px !important;} .font_media{font-weight: 700;}

.profile_form{border: 1px solid #D7D7D7;margin: 0 0 30px;}
 
.user_bg{background:#1A1A1A;margin:0;width: 25%;/*min-height:400px;height:100%; margin-top: 12px; */border:1px solid #ffffff;border-right:none;}

.user_gd h2{font-size:15px;width: 100%;text-align:center;}


.profile_ul{/* background:#e4e4e4; */min-height:400px;height:100%;}

.profile_ul li {/* padding: 0 10px; */display:block;}

.profile_ul li a {color: #cabaa6;font-size: 15px;line-height: 30px;display:block;padding: 5px 10px;}

.profile_ul li:hover a{color: #fff;background: #798eab;border-color: #798eab;}
/* 
.profile_ul > li:hover {color: #fff;background: #798eab;border-color: #798eab;} */

.profile_ul li.active a, .profile_ul li:hover a {
color: #cabaa6;
background: #ffffff;}

.profile_header{/* background:#ffffff;border:1px solid #d2d5d8; */color:#555555;text-align:center;border-bottom:1px solid #d7d7d7;}

.profile_header > h2 {font-size: 22px;line-height: 30px;margin-top: 15px;}

.profile_header > p{margin-bottom: 20px;}

.profile_choose{border:1px solid #ffffff;}

.choose_padd{padding:0 140px;}

.user_gd{color: #CABAA6;}

.user_gd > img {display: block;margin: 20px auto 3px;/* padding: 0 20px; */text-align: center;}

.profile_get {margin: 15px auto;width: 65%;}

.profile_input{
    border-width: 2px!important;
    box-shadow: none!important;
    
    width: 100%; min-height: 45px;
    padding: 10px 5px;}
	
	
.page_h1{text-align:center;border-bottom:1px solid #E4E4E4;border-top: 1px solid #E4E4E4; color: #555555;}
	
.page_h1 h2{font-size: 22px;line-height: 30px;margin: 15px 0 5px;}


.page-header.page_h1 > p {margin-bottom: 10px;}

.page_label{font-weight:bold;}

.profile_getup{ margin: 42px auto;}

.page-header.page_h2 {margin: 65px 0;text-align: center; color: #555555;}

.page-header.page_h2 > h1 {font-size: 44px;text-transform: capitalize;}

.dropdown-menu.menu_width {min-height: 250px;min-width: 485px;margin-top:15px;}

.dropdown-menu.menu_width > li {display: block;float: left;min-width:140px;padding: 0 0 0 15px;}

.edu_ul{list-style:none; border-right:1px solid #333;margin:35px 0;} .edu_ul li{display:block;}

.edu_ul li a{display:block; line-height:30px;}

.edu_ul li:hover a{border-right:4px solid #5CB85C; color:#5cb85c;}

.align_top{margin: 0px 0 0 !important;}

.slider_bg {background: none repeat scroll 0 0 #F1F0EC;margin:45px 0 0;}

.slider_arrow{margin-top:10px;}


.slider-next:before {color: #F6F6F6;content: "›";font-size: 60px;font-weight: bold;/* padding: 0 12px; */padding:0px 0px 0px 2px;outline:none;}
.slider-next {background: none repeat scroll 0 0 #C7C7C7;border-radius: 25px;outline: medium none;}

.slider-prev:before {color: #F6F6F6;content: "‹";font-size: 60px;font-weight: bold;/* padding: 0 6px 0 4px; */padding:0px 2px 0px 0px;outline:none;}

.slider-prev {
    background: none repeat scroll 0 0 #C7C7C7;
    border-radius: 25px;
    outline: medium none;
}

.des_mrg{margin:0 auto;}

a:focus{outline:none;}

.user_img{width:30px;}

.user_img > img {border-radius: 50%;margin: 2px 0px 2px 5px;text-align:center;}

.header_menu.nav.pull-right li a:hover {background: none repeat scroll 0 0 #999999;border-radius:3px;}

.header_menu.nav.pull-left li a:hover {background: none repeat scroll 0 0 #999999;border-radius:3px;}

/* .header_menu.nav.pull-right li:nth-child(4) a:hover {background:none;} */

/* .dropdown-menu a:hover {
    background: none repeat scroll 0 0 #999999 !important;
} */
.bell_top{margin-top:3px;}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {background:#999999;border-radius:3px;color:#ffffff;}

.textarea_height{margin-top:5px;height:20px!important;}

.name_cont{float:left;margin:10px 0;}.name_title{width: 64%;}.hours_mrg{margin:0px;float:right;}

.replybutton.reply_top {margin: 60px 0 25px;}/* .user_name{width:10%;} */

.profile_title.name_title.name_cont > a {float: left;width: 35%;word-wrap: normal;}

.menudroplist.dropdown-toggle img {border-radius: 50%;}

.pull-left.bla.profile_image { min-height: 0;}.user_top{margin:0px!important;}

.span6.top_mrg {margin: 14px 0;}

.dropdown-menu.menu_wd {width:220px; top: 42px;}

.new_nametitle{width:72%;}

.course-header-image {
    margin-top: 10px !important;
}

.dropdown-menu.menu_wd > li:first-child {
    border-bottom: 1px solid #E4E4E4;
    padding: 5px 0;
}

.userimg_right{/* float:right; margin: 40px 4px;*/float: right;
    /* margin: 0 15px; */margin: 0 25px 0 0;
     text-transform: uppercase;
    width: auto;}.userimg_width{width:40%;}

.name_width{width:30%;margin:10px 0px;}

.pull-left.bla.profile_image {/* min-width:150px; */min-width:35px;color: #999999;line-height: 35px;text-transform: capitalize;}

.media-ob{
    float: left;
}

.btn_mess{margin:10px 0px; background:#e4e4e4;border-radius:3px;border:none; margin: 10px 0 0;
    padding: 4px 5px;}

.btn_mess:hover{background:#999999;color:#fff;}

.mrg_follow{margin:5px 5px;}

.icon-user > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.icon-cog > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}



.replyfollow.follow.follow_me {
    background:#4985b8;color:#fff;border:none;background-image:none;border-radius:3px;
}

 .replyfollow.follow.follow_me:hover{background:#3D709C;}

.userimg_width > img {
   /*  margin: 0 10px 5px; */ margin: 0 0 5px 10px;
} .use_width{width:40%;}


.dropdown-menu.menu_wd > li {
    padding: 5px 10px 0;
}

.userimg_right > a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.des_marg{margin-top:80px;}/* .des_border{border:1px solid #e4e4e4;} .des_con{background:#F1F1F5; min-height: 120px;}*/

.des_header{/* border-bottom:1px solid #e4e4e4; */text-align:center;color:#353535;font-size:22px; line-height: 70px;}
.des_bold{font-weight:700;}
.go_ready{background-color: #398439;padding:10px 15px;border-radius:3px;color:#fff;} .go_ready:hover{background:#47A447;color:#fff;}
.des_ready {margin:0 auto;width:36%;}.desready_p{font-weight:700;color:#353535;font-size:20px;line-height:66px;}

.dropdown-menu.ul_width {min-height: 200px;min-width: 584px;}


.dropdown-menu.ul_width > li {float: left;min-width: 160px;padding: 2px 0 0 15px;}


/* .header_menu.nav.pull-left:active {
    background: none repeat scroll 0 0 #999;color:#ffffff;
    border-radius: 3px;
} */

.user_left{float:left;}

.office_text img {border: 1px solid #E4E4E4;border-radius: 5px;}
.user_fullname{float:right;min-width:200px; line-height: 15px; margin-right: 10px;
    min-width: 180px; /* width: 180px;
    word-break: break-all; */}
.user_fullname p{color:#333333;}


.imagebottom_left > p {
    color: #9b9b9b;
    margin: 3px 0 0;
}

.imagebottom_right > p {color: #9b9b9b;
}
.icon_space {
    margin: 0 0 0 4px;
   
}

.count_space{padding:0 0 0 3px;}
.name_color{color:#333333;}

.ui-state-default.curriculum_ul_li.change_color.main_li_curriculum {background:#383838;color:#fff;padding:20px 10px;}
.change_font{color:#fff;}

.dasky_header{/* background:#1a1a23; *//* height:54px; */}

.dasky_ul{list-style:none;}.dasky_ul li{display:block;float:left; padding: 0 44px;}.dasky_ul li a{display:block;color: #999999;
    display: block;font-size:12px;
    line-height: 50px;}
.space_padd{padding:0 40px;}.space_color{padding:0 10px; color:#bebebe;}


.ui-state-default.curriculum_ul_li.change_color.sub_li_curriculum {
    border-bottom: 1px solid #525252;
}

.bg_span{background:#333;/*  max-height: 2000px; */
    min-height: 600px !important;}

.font_size{font-size:10px;padding: 0 5px;}

.des_marg{margin: 77px auto;}

.icon_font{font-size:30px;}

.tabs_space{ margin: 0 20px;padding: 28px 0;}

.hours{width:70%;float:left;display:block;}.file_text{ border-radius: 0 !important;margin: 10px 16px;width: 88%;}

.close_padds {padding: 0 5px !important;}

.btn.btn-info.replyMainButton {
    margin: 0 0 14px;
}

.sortable_bg{background:#333333!important;}

.response_color{color:#ffffff;border-bottom:1px solid #525252;}
.hours a{color:#ffffff;} .comments a{color:#fff;} .hr_border{border-bottom:1px solid #525252;border-top:none;text-align: center;display:block;}
.response_colors{border-bottom:1px solid #525252;}
.space_hours{margin: 0 0 10px;}
.icon_fonts{font-size:16px;}

/*success*/
.des_color{font-family: 'Roboto',sans-serif;font-size: 36px;font-weight:400;color: #758f34;}

.readytosuccess{font-family: 'Open Sans',sans-serif;font-size:16px;color:#404040;font-weight:400;display:block;text-align:center;line-height:50px;}

.like_color{ background: url("../images/like.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #0083c3;
    padding: 3px 0 0 90px;}
.social_all{font-size:13px;color:#646464;}
.access a {
background: rgb(255,215,120); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,215,120,1) 0%, rgba(255,135,26,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,215,120,1)), color-stop(100%,rgba(255,135,26,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,215,120,1) 0%,rgba(255,135,26,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd778', endColorstr='#ff871a',GradientType=0 ); /* IE6-9 */
border: medium none;font-family: 'Roboto',sans-serif;font-size: 20px;font-weight:700;color:#c05c00;padding: 10px 56px;text-shadow: 0 1px #FFFFFF;text-transform: uppercase;width:84.4%;border-radius:3px;*width:330px;outline:none;border-radius:5px;}

.id{color:#000;}
.success_img{background:url(../images/success.png)no-repeat;width:560px;height:293px;  margin: 45px auto;}
.access_mrg{margin:25px 0px;}
.curr_head{background:#e8eaed; line-height: 56px;}
.curr{/* border:1px solid #e8e8ea; */border-radius:4px; padding:0 0 0 94px;}
.curr_title{color:#3e4043;font-size:16px;float:left;margin: 0 20px;}
.curr_rate{float:right;color:#3e4043;font-size:13px;}
.star{list-style:none;margin: 12px 22px 0;}
.star li{float:left;}
.star li a{display:block;}
.move_star{float:left;}
.section_title{color:#000;font-size:15px;}
.section_bold{font-weight:700;}
.online_course{color:#3e4043;  padding: 0 15px;}

.section_title.des_color.section_bold {
    line-height: 60px;
    
    padding: 0 18px;
}

.section_ul{list-style:none;margin: 0 20px;border-bottom:1px solid #e8e8e8;

 margin: 0px 20px;
    padding: 0 0 15px;

}

.section_ul li{display:block;line-height:35px;}

.section_txtcolor{color:#333333;font-family: 'Open Sans',sans-serif;font-size:15px;}
.lecture_online{ padding: 0 60px 0 18px;}.lecture_time{float:right;margin:0 20px;}
.section_ul a{}

.section_tab{float:right;border:5px solid #010102;}

.space_remove{margin:0px;}
.outer_padd{border:1px solid #e8e8ea;border-radius:5px;}

.scroll{overflow:auto;}

.change_bg{background:#ffffff;}


.ui-state-default.curriculum_ul_li.change_bg.main_li_curriculum {
    background: none repeat scroll 0 0 #fff; border-top: 1px solid #e8e8e8;
    padding: 20px 10px;
}


.ui-state-default.curriculum_ul_li.change_bg.main_li_curriculum h4 {
    color: #333;
    font-family: roboto;text-transform: capitalize;
}

.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg {
    background: none repeat scroll 0 0 #fff;border:none;padding: 0 20px; min-height: 40px;
}

.main_padd{padding: 0 18px;}

.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg h4 {
    padding: 0 2px; font-size: 15px;
    margin: 0;
}


.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg > p {
   line-height:20px;color:#42a10e;
}


.ui-state-default.curriculum_ul_li.change_bg.sub_li_curriculum.change_bg > a {
    color: #333;
    font-size: 15px;
}

.icon-color{color:#979797;}

.main_font{font-family: roboto;
    font-weight: 700;
    text-transform: uppercase;}
	
	.section_color{background:#333;float: right !important;
    width: 407px !important;}
	
	.add_p{margin: 0 22px;}
	
	.newname{width:90%;}.newname a{color:#fff;}

	
.progress {margin: 10px 0 20px;}.progress_font{font-size:13px;}

.section_txtcolor.progress_font > p {color: #242424;}

.close_new{color: #fff;}


.course_textbox {
    margin: 0 !important; margin: 10px 0;
}


.title_txt {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin: 10px 0;width: 100%;
}


.title_txt input {
    border: 0 none;
    /* border-radius: 0; */
    box-shadow: none; width: 95%;/*min-height: 40px;*/
}


.textBoxLimit {
    background: none repeat scroll 0 0 #e4e4e4;
     padding: 6px 8px;
    position: relative;
    top: 2px;
}

.course_goal_ul.sortable_ul.ui-sortable > li, .int_audience_ul.sortable_ul.ui-sortable > li, .course_req_ul.sortable_ul.ui-sortable > li {
    background: none repeat scroll 0 0 #777777;
    color: #ffffff;
    min-height: 35px;
}

.sortable_scroll{
overflow:hidden;
}

.course_goal_ul.sortable_ul.sortable_scroll.ui-sortable > li 
{
    background: none repeat scroll 0 0 #333;
    list-style: none outside none;
    margin: 1px;
    padding: 10px 15px; 
	line-height: 22px;
    min-height: 24px;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}


.int_audience_ul.sortable_ul.sortable_scroll.ui-sortable > li {
    background: none repeat scroll 0 0 #333;
    list-style: none outside none;
    margin: 1px;
    padding: 10px 15px;
	line-height: 22px;
    min-height: 24px;
    font-size: 18px;
}

.course_req_ul.sortable_ul.sortable_scroll.ui-sortable > li {
 background: none repeat scroll 0 0 #333;
    list-style: none outside none;
    margin: 1px;
    padding: 10px 15px;
	line-height: 22px;
    min-height: 24px;
    font-size: 18px;
}

.button_color {
    background: none repeat scroll 0 0 #4985b8;
    color: #ffffff;
    float: right;
    margin: 0;
    padding: 10px 14px;text-shadow:none;
}


.course_textbox.tm-input {
    width: 90%; /*min-height: 45px;*/
}

 .fa.fa-trash-o.colors {
    color: #fff;font-size: 20px;
} 

.colors {
    color: #fff;
}
.tip {
    color: #444444;
    font-size: 12px;
    margin-top: 10px;
    text-align: justify;
	line-height:25px;
}

#cropContaineroutput {
    margin: 30px auto;
}

.media-preview-wrapper {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a9a9a9;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.63), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
    padding: 18px;
}


.course_basic.span8 > h1 {
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 15px;
    text-align: center;
}


.course_ctitle.des_mrg > h3 {
    font-size: 25px;
}

#video > label, #privacy > label {
    display: inline;
    text-align: center;
    text-transform: capitalize;
	 font-weight: bold;
    margin-bottom: 5px;
}


.V_Details h2 {
    font-size: 25px;
    text-align: center;margin: 20px 0 0;
}


.V_Details > h3 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.des_margin{margin: 20px auto;
    text-align: center;
    width: 42%;}
	
	.price-holder {
    background-color: #f7f9fb;
    border: 1px solid #d5d9dc;
    display: table;
    margin: 12px auto;
    padding: 15px;
}

.new_videoalign{ min-height: 25px;}

.privacy_tabs.nav.nav-tabs {
    border: medium none;margin:0px;
}

.privacy_tabs li.active a {
    background: none repeat scroll 0 0 #1a1a1a !important;
    border: 0 none !important; border-radius: 0 !important;color: #fff!important;
}

#public > div {
    padding: 0 20px;
}
.privacy_pub {
    float: left;
}

.tab-pane.fade.active.in {
    border: 2px solid #1a1a1a;
    margin: 10px 0;
    padding: 10px 5px;
}


.col-md-12.col_space {
  /*   margin: 0 20px; */background:#fff;
}

.table-bordered {
    border-collapse: collapse;
}

 .form_text{
  min-height: 42px;
    width: 92%;}
	
.tm-tag.tm-tag-success {
   background-color: #cde69c;
    border: 1px solid #a5d24a;
    border-radius: 5px;
    color: #638421;
  /*  float: left;*/
    margin: 0;
    padding: 5px;
}

.tm-tag {
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}


.submit_btn{/* margin:0 auto;  width: 15%; */clear:both;float:right;}

.fa.fa-align-justify.justify_color {color: #fff;padding: 0 10px;
font-size: 20px;line-height: 24px;
}


.col-md-12 h2, .form-group h2, #image h2, #video h2, #privacy h2, .col-md-5 h2, #basics h2, .col-md-8 h2 {
    color: #333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

#basics > h3, .col-md-12 > h3, .form-group > h3, #image > h3, #video h3, #privacy h3, .col-md-5 h3, #basics h3, .col-md-8 h3 {
    color: #555555;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px;
    text-align: center;
}

.sortable_new{overflow:hidden;
    padding: 0; margin: 20px 20px 0;}
	
	.cur_h2 h2 {
	
	  color: #333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.cur_h3{ color:#fff;font-size: 15px;line-height: 20px;}
	
	.resp-tab-content.resp-tab-content-active > h3 {
	
	color: #555555;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 15px;
    text-align: center;
}

.ui-state-default.curriculum_ul_li.ul_main.main_li_curriculum {
   background: none repeat scroll 0 0 #777777;
    color: #ffffff;
    margin: 5px 0;
    padding: 10px 15px;
}


.ui-state-default.curriculum_ul_li.ul_main.sub_li_curriculum {
    min-height: 30px;  /*padding: 8px 0 0;*/
}

.add_button {
   
 float: left;
    margin: 10px 20px 25px;
    width: 34%;
}

.btn-primary {
     background: none repeat scroll 0 0 #2c3e50;
    border-color: #2c3e50;
    color: #fff;
}
.btn-primary:hover{background-color: #1e2a36;}

.quiz_button {
   float: right;
    margin: 10px 21px;
    width: 34%;
}

.add_newsection{background: none repeat scroll 0 0 #f0f0f0;
    color: #333;
    margin: 20px;
    padding: 10px 0;font-size:20px;
    width: 95.5%; font-weight: 400;
    margin: 20px;}
	
.form_new{background-color: #fff!important;
    border: 1px solid #dce4ec!important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset!important;
    color: #2c3e50;
    display: block;
    font-size: 15px;
    height: 43px!important;
    line-height: 1.42857;
    padding: 10px 15px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;}
	
	.course_newsubtextbox {
  /*   height: 45%; */
   /*  min-height: 80px; */
    /* padding: 10px; */
    width: 100%;margin:0px;}
	
.btn.btn-primary.add_button:active,.btn.btn-primary.add_button:focus {
background:#2c3e50;
}


.col_header {
    background: none repeat scroll 0 0 #f1f3f6;
    line-height: 45px;
    margin: 0 auto;
    padding: 24px 35px;
}

.add_newspace{margin:0 20px;}


.form-control.form_text.add_newspace.ui-autocomplete-input {
    width: 85%;
}

.course_goal_ul .sortable_ul .sortable_scroll .ui-sortable li a{color:#fff;}

.pull-right.fa.fa-trash-o.colorcourse_goal101 {
    color: #fff;
}

.new_color{color:#fff;font-size:20px;}

.course_ctitle.V_Details {

  margin: 0 auto;
    text-align: center;font-size: 25px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
}

.video_width {
   
 
     margin: 20px auto;
    width: 72%;
}


/* .course_basic.course_newbasic > h5 {
    line-height: 80px;
} */
 .course_basic > h5 {
   /*  margin: 0 0 30px; */margin:0 0 4px;
  /*   text-align: center; */font-size: 13px;
    font-weight: 400; line-height: 50px; border-bottom: 1px solid #d2d2d2;
   color: #a9a9a9;
} 

.media_img{width: 585px;}

.video_align {
    margin: 0 auto;
    max-width: 598px;
}

.tabcontent.V_Details {
   /*  margin: 0 20px; */
}

.new_price{    color: rgb(0, 128, 0);
    font-size: 25px;}

.price_text {
    min-height: 38px;
    min-width: 220px;
}


.price_text.form-control {
    border: 2px solid #dee4ee;box-shadow: none;
}

.course_ctitle.V_Details.v_width {
    
    min-width: 100%;
  
}
.new_border{border: medium none;}

.course_basic > h1 {
    text-align: center;
}

.course_newbasic{ /* text-align: center; *//* font-size: 25px;
    font-weight: 700; */
    margin: 30px auto 0;}
	
	.course_basic {padding:0px;}
	
	.password_text.form-control {

    float: right;
    max-width: 250px; min-height: 42px;
}

.tab_ul > li:first-child {
    border-bottom: 1px solid #141414;
    padding-bottom: 20px;
}

.tab_ul > li:nth-child(2) {
   margin: 15px 0 5px;
}

.ck_mrg{margin:20px auto 0px;}

.space_btw{margin:0 20px;}
.privacy_pswd {
    position: relative;
    top: -4px;
}
.privacy_inv {
    position: relative;
    top: -4px;
}

.course_new h5{ margin: 0 0 10px;}

.category_option{float:left;height: 46px;  width: 405px;}

.category_rightoption{float:right;}

.resp-vtabs .resp-tabs-list li {text-transform: uppercase;}

.newtextBoxLimit {padding: 6px;
    position: relative;
    right: -1px;
    top: 0;font-size:20px;
}

.new_save{margin-right: 2px;margin-top: 12px;}

.new_ctitle{margin: 15px 0 10px;line-height: normal;}

.privacy_tabs.nav.nav-tabs.tab_public {
    margin: 20px auto 0;
}

.opt_class {
    font-size: 15px;
}

 .newmain_ul{ margin: 10px 0;padding: 10px;}
 
 .btn_bg{ background: none repeat scroll 0 0 #4985b8;border:none;padding:10px;}
 
 
 .btn.btn-primary.add_button.btn_bg:hover,.btn.btn-primary.add_button.btn_bg:focus,.btn.btn-primary.add_button.btn_bg:active{
 background: none repeat scroll 0 0 #3f80b8;
}


.btn.btn-primary.quiz_button.btn_bg:hover,
.btn.btn-primary.quiz_button.btn_bg:active,
.btn.btn-primary.quiz_button.btn_bg :focus{
background: none repeat scroll 0 0 #3f80b8;
}
 
 .ul_padd{margin: 5px 0;
    min-height: 18px;
    padding: 9px;}
	
	/*added*/
/* .user_text.clsClearfix {float: left;} */

	.business_class.span3:last-child {
    margin-right: 0;
}
	
	.testname > a {
    font-weight: 600;
}
	
.office > a {
    font-weight: 500;
}
	.post_image {margin:0px;}
	
	
.fa-user:before {
  
  /*   font-size: 24px; */
    line-height: 35px;
    padding: 0 5px;
}

.fa-envelope:before {
   font-size: 24px;
    line-height: 30px;
    padding: 0 5px;
}


.policy_menu > a {
    color: #fff;
    padding: 0 10px;text-decoration:none;
}

/* .password_newmrg{  margin: 0 30px;float:none;}  */


.password_text.form-control.password_newmrg {
    float: none;
    margin: 2px 30px;
}

.ui-state-default.curriculum_ul_li.ui_main.main_li_curriculum.new_ul_li {padding: 8px 10px;margin:0 0 12px;}

.nav.nav-tabs.usernavbar.new_navbar > li {
    float: right;
    padding: 0 10px;
}

.nav.nav-tabs.usernavbar.move_right > li {float: right;}

.nav.nav-tabs.usernavbar.move_right a {font-size: 20px;}

.nav.nav-tabs.usernavbar.move_right {border: medium none;}

.under_line{border-bottom:1px solid #dddddd;}

.new_h2 h2{font-size:30px;margin: 0 4px;line-height:60px;}

.nav.nav-tabs.usernavbar.price_align.post {margin: 0;border:none;}

.nav.nav-tabs.usernavbar.price_align.post > li {
    padding: 0 0 0 30px;
}

/* .nav.nav-tabs.usernavbar.price_align.post > li {padding: 0 14px;} */


.nav.nav-tabs.usernavbar.price_align.post a {line-height: 40px;font-size: 20px;}


/* .move_left{margin:0 0 0 20px;} */
.business_class.move_left.span3 {
    margin: 0 0 0 46px;
}

.business_class.move_left.span3:first-child {
    margin: 0 0 0 20px;
}

.select_mrg{margin: 34px 15px 0; border-radius: 0;
    height: 45px;background: none repeat scroll 0 0 #f4f4f4;}

.select_mrg:hover{background:#fff;}	

.new_progress{background:#eee;border-radius: 0;height: 2px;margin-bottom:5px;}

.heart_align{ position: absolute;right: 10px;top: 10px;}.bar_new{padding:0 10px;margin:10px 0px;color:#333333;}

.business_new p {top: 5px;}

.business_amount.business_new > p {top: 6px;}

.Publish {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;  background: none repeat scroll 0 0 #f9a530;

    padding: 5px 10px;
}

.free_pub{color:#f9a530;text-transform: uppercase;}
.free_p{color:#333;font-size: 12px;text-transform: capitalize;
    }
.free_padd{padding:0 10px;margin-bottom:10px;font-size:12px;}

.name_space{padding:10px 4px;}

/* a:hover span {width: 300px; height: 240px; line-height: 240px; position: absolute; left: 0; top: 0; display: block; text-align: center; background: rgba(67,81,96,0.7); } */

/* .container.new_h2 {padding: 0 0 10px;} */

/* .user_text.clsClearfix {padding: 5px 6px;} */

.container.margin_top {
    margin: 60px auto;
}

/* .business_newmrg{margin: 0 22px 0 0;} */


.business_class.business_newmrg.span3 {margin: 0 15px 0 0;}

.new-user{min-width:154px;float:right;}

.new_office img{float:left;}

/* .des_new p{line-height:20px;margin-top:0px;} */

.user_fullname.new-user {line-height: 20px;margin-top: 0;}

.user_mrg{ margin-top: 3px;}.image_new{ margin: 5px 8px;}

.imagebottom_right.image_new > p {
    margin: 5px 0;
}

.imagebottom_left.image_new {
    margin: 5px 5px;
}


.imagebottom_right.image_new {
    margin: 0 0 0 5px;
}



.imagebottom_left.image_news {
    margin: 5px 0 0 12px;
}

.mar_space{margin-top:58px;}

.page_title{color: #2f3945;font-family: 'Roboto',sans-serif;font-size: 20px;font-weight: 400;}

.noti_padd{ padding: 20px 0 0;}

.noti_padd p {
    color: #333;
    font-size: 15px;
}
.a_link a{color:#0088cc;}

.reg_form_new{
    padding: 0 20px;
}

.business_idea p{bottom:6px;color:#fff;}

.align_img{float:right;}

.align_username{float:left;width:90px;word-break: break-all;}

.new_namewidth{ width: 45%;}

/* .ul_newpadd{ padding: 0 32px;} */

.ui-state-default.curriculum_ul_li.change_bg.ul_newpadd.sub_li_curriculum.change_bg {
    padding: 0 32px;
}

.ui-state-default.curriculum_ul_li.change_bg.ul_newpadd.sub_li_curriculum.change_bg h4{line-height:22px;}


  .font_iconspace{font-size: 10px;
    padding: 0 2px;}
	
.add_newbtn {background: none repeat scroll 0 0 #4985b8;
 border: medium none;border-radius: 3px;color: #fff;float: right;
 /* margin: 10px 15px;padding: 3px 20px; */margin: 10px 8px;padding: 5px 20px;}

.add_newbtn:hover {background: none repeat scroll 0 0 #3d709c;}

.new_file{margin: 10px 0 0 10px;width:70%;}

.fa.fa-trash-o.pull-right:hover {cursor: pointer;}

.new_hours{width:70%;}

.profile_content.font_media.name_cont.span9 {word-wrap: break-word;margin-left:0;}

.btn.move_right{float: right;margin: 12px 0;}

.new_outer_padd {clear: both;}

.profile_title.change_font:hover {color: #fff;}

.pull-left.bla.profile_image.menu {margin: 0;}


.newhours_mrg{word-wrap:break-word;text-align:right;}

.about_hours.hours_mrg.newhours_mrg.span8{float:right;}


.about_hours.about_space.space_hours.span6 {float: right;word-wrap:break-word;}

.nav.nav-tabs.usernavbar.newusernav {text-align: center;}

.nav.nav-tabs.usernavbar.newusernav > li {display: inline-block;padding: 0 10px;float:none;}

.nav-tabs.usernavbar.newusernav > li > a {font-size: 22px;}


.new_icon_size{font-size: 60px;color:#b4b4b4;}

.ui-state-default.curriculum_ul_li.main_li_curriculum.new_curspace {padding: 10px 0;}

.ui-state-default.curriculum_ul_li.sub_li_curriculum.new_subcurr {margin: 1px 0;min-height: 34px;}

.ui-state-default.curriculum_ul_li.main_li_curriculum.new_curspace h4 {font-size: 12px;}

/* .{ min-height: 20px;} */

.mrg_btm{margin-bottom:25px;}


.ui-state-default.curriculum_ul_li.ui_main.main_li_curriculum.new_ul_li.new_mainbg {
    background: none repeat scroll 0 0 #777; margin: 4px 0;padding: 12px 0;
}


.color_icon {
    color: #333;
    padding: 0 10px;}
	
.ui-state-default.curriculum_ul_li.ul_main.sub_li_curriculum.new_subbg {background: none repeat scroll 0 0 #eee;
float: right;width: 95%;}

.color_text{color:#333;font-weight: 400;}

.btn_addmrg{margin:4px 0px;border-radius: 0;width: 42%;}

.btn_align{ margin: 4px 0 3px 64px;}
.btn_ralign{ margin: 4px 21px 0 0;}
.btn_addbg{ background: none repeat scroll 0 0 #4c4c4c;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 15px;
    padding: 12px 10px;
    text-align: left;
    text-shadow: none;}
	
	.text_color{ font-weight: 400;}
	
	.home_sliderarrow{ padding: 8px 5px 2px;}
	
	.sub_bg{background:#fff;}
	
 .ui-state-default.curriculum_ul_li.sub_li_curriculum.new_subcurr.sub_bg {background: none repeat scroll 0 0 #fff;color: #333;}

 .ui-state-default.curriculum_ul_li.sub_li_curriculum.new_subcurr.sub_bg > p {color: #333;}
 
 .box_shadow {border: 1px solid #e4e4e4;}
 
 .ui-state-default.curriculum_ul_li.sub_li_curriculum.new_subcurr.sub_bg:last-child {border: medium none;}

 .profile_title.clearfix.user_content {margin: 20px 0;}
 
 .align_hours{float:right;}
 
 .star_rating{margin-top: 10px;text-align:center;}

 
 /*forum*/
 
 .span9.forum_right {
    max-width: 840px;
}

.span4.form_left {
    max-width: 300px;
}

.span9.forum_right h2{color:#2f3945;font-size:20px;border-bottom:1px solid #d8d8d8;line-height: 48px;}

.span9.forum_right.description {margin: 0;}

.forumlist{
padding:0px; margin-bottom: 95px;
}



.p_bg abbr {
    padding: 0 10px;
}


.span10.new_span10 a {
    color: #333333;
    font-family: open sans,serif;
    font-weight: 700;text-decoration:none;
}

.icon_forum{ padding: 0 12px 0 18px;}

.forumlist a {font-size: 14px;font-weight: 700; font-weight: 400;color: #929292;}

.forumlist p {
    line-height: 22px;font-weight: 600;
    margin-top: 15px;font-size:13px;color:#646464;font-family: 'Open Sans',sans-serif;
}


 
 .p_bg{background: none repeat scroll 0 0 rgb(231, 231, 231);padding: 6px;clear:both;
    padding: 6px 14px;}
	
	.p_bgcolor{color: #929292!important;}
 .new_bg{background:#ff8c20;color:#fff;padding: 8px 2px;
    text-align: center;
    text-transform: lowercase;font-weight:700;
	}
	
	.new_subtxt{font-weight:400;}
	
	.span4.form_left > h4 {
    
	
	background: none repeat scroll 0 0 #e4e4e4;
    font-family: roboto,serif;
    font-size: 18px;
    margin: 10px 0;
    padding: 12px;
    text-transform: capitalize;
}


.span4.form_left a {
font-size:13px;color:#646464;font-family: 'Open Sans',sans-serif;font-weight: 600;
}


.span4.form_left li {
    margin-top: 15px;font-size:13px;color:#646464;font-family: 'Open Sans',sans-serif;
}
 
 
.span10.new_span10 {
    margin: 0;
}


.forumlist li:first-child {
    padding: 27px 0;
}
 
 
 .span9.forum_right.description.new_des > p {
    line-height: 24px;
    margin: 0;
}


.margin_space {
    line-height: 50px;
    margin: 24px 0 0;
}

.span9.forum_right.description.new_des > p {
    font-weight: 600;
    line-height: 25px;
}

.profile.clearfix.new_prof {
    margin: 10px 0;
}


.margin_space.description > p {
    color: #333333;
    font-weight: 600;
}

.new_profile_image img {border: 1px solid #e4e4e4;border-radius: 3px;padding: 1px;}

.clearfix.new_line {
    
    padding: 20px 0 4px;
	border:1px solid #e4e4e4;border-right:none;border-left:none;border-bottom:none;
}

.clearfix.new_line:last-child {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 100px!important;
}


.profile.new_profile.clearfix {margin: 10px 0 0;}

.profile_title.new_ptitle {font-weight: 500;}

.new_profilecont{font-weight: 600;line-height: 20px;margin:10px 0px;}

.new_about_hours{margin: 10px 0 5px;}

.posttext_title > a {color: #2f3945;}

.bloglist.forum_right.description.new_des.new_para > p {font-weight: 600;line-height: 22px;}

/*blog list*/
/* .bloglist{
padding:0px;
}
.bloglist li{
padding:20px;
} */

.blog_menu {list-style: none outside none; margin: 10px 0 0;}

.blog_menu li{float:left; padding:0 10px; line-height: 38px;}

.blog_icon{padding:0 5px 0px 0px;font-size:14px;}

.blog_color{color:#ff8c20;}
.blog_color a{color:#ff8c20;}
.fa.fa-user.blog_icon {
    padding: 0 0px 0 0;
}



.blog_menu.clearfix > li:first-child {
  padding: 0 10px 0 0;
}

.blog_para.clearfix > div {
    margin: 10px 0 0;
}


.posttext_title > h4 {

color: #2f3945;

}

.bloglist.forum_right.description.new_des.new_para p {
    font-weight: 600;
    line-height: 22px;
    margin: 0;
}

.span9.new_blog_right {
    max-width: 840px;
}

.bloglist.forum_right.description.new_des.new_para {
    margin: 0;
}

.blog_para.clearfix {border-bottom: 1px solid #d8d8d8;padding: 12px 0;}
 
	.clearfix.new_line.new_lines:first-child {
    border: medium none;
}

.profile.new_profile.clearfix.new_brd {
    border: medium none;
}


.posttext_title.new_posttitle > h4 {
    margin: 35px 0 0;
}


.btn.btn-info.new_post {
    background: none repeat scroll 0 0 #ff8c20;
    border: medium none;
    border-radius: 0;
    text-shadow: none; margin: 0 0 20px;
    padding: 10px 20px;
}
	
	.blog_menu.clearfix a{
  font-size:14px;color:#989898;
}

	.blog_menu.clearfix {
  font-size:14px;color:#989898;
}


.profile_title.new_ptitle > a {
    color: #333333;
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
}
	.new_prospace{margin:5px 0;}
	
	.new_ahour{margin: 5px 0;
    text-transform: lowercase;}
	
	
.pull-left.span11.new_mgr {
    margin: 0 0 0 17px;
}


.bg_container {
    background: none repeat scroll 0 0 #ededed;
}

.slider_menu.container > li {
    float: left;
    padding: 2px 5px 4px;
}


.slider_menu.container  a {
    line-height: 45px;font-size:13px;color:#646464;font-family: 'Open Sans',sans-serif;text-decoration:none;text-transform:capitalize;
}

.new_icons{padding:0 8px 0 0;}

.new_regform{margin:28px auto;}

 /*bootstrap*/
 
@media (max-width:1200px){
.align_center {margin: 120px 35px 0;}
}
.fa.fa-pencil-square-o.color_icon {
    color: rgb(255, 255, 255);
    font-size: 20px;
}


.preview
{
	border: none !important;
	padding: 0 !important; 	
}
.btn.btn-lg.btn-block
{
	border-radius:0px;	
}
.btn.btn-lg.btn-block:hover
{
	color: #000;	
}
.quiz_form > h4
{
	float: none !important;
	color: #fff;	
	border: none !important;
	padding: 10px 0 !important;
	
}
.QuizEditDiv {
  margin: 13px 0 0;
}
.QuizEditButton.btn
{
	background: none repeat scroll 0 0 #95a5a6;
	color: #fff;	
}
.QuizEditButton.btn:hover
{
	background: none repeat scroll 0 0 #7f9293;	
}
.btn.save_quiz
{
	background: none repeat scroll 0 0 #95a5a6;
	color: #fff;	
}
.btn.save_quiz:hover
{
	background: none repeat scroll 0 0 #7f9293;	
}
.btn.cancel_quiz
{
		background: none repeat scroll 0 0 #95a5a6;
	color: #fff;	
}

.btn.cancel_quiz:hover
{
	background: none repeat scroll 0 0 #7f9293;	
}
.vjs-default-skin .vjs-big-play-button
{
	/*top: 63px !important;*/
	right: 82px !important;	
}
.video-js.vjs-default-skin.vjs-paused.vjs-controls-enabled.vjs-user-active
{
	
	margin: 6px 7px;	
}
.form-control.answer_text {
  width: 40%;
}

.curriculum_priceblocks {
  text-align: center;
}

.sortable_ul.ui-sortable li .main_title {
  color: white;
}

.sortable_ul.ui-sortable .SectionEditDiv {
  margin: 14px 20px 0;
}
.sortable_ul.ui-sortable .SectionEditDiv .SectionEditButton.btn
{
background: #95a5a6;
color:#fff;

}
.sortable_ul.ui-sortable .SectionEditDiv .SectionEditButton.btn:hover
{
background: #7f9293;
}

.resp-tab-content h2 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding: 13px;
  text-align: center;
}