/*NEW CSS FOR SITE*/

/*Social share icons*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

ul.action-bar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.action-bar li {
    float: left;
}

.action-bar a {
    color: white;
    display: block;
    font-size: 20px;
    width: 60px;
    height: 46px;
    line-height:46px;
    position: relative;
    text-align: center;
}
.action-bar a:hover {
    text-decoration:none;
}

.twitter,
.twitter .tooltip,
.twitter .tooltip:before { background: #6CDFEA; }
.twitter:hover { color:rgba(0, 0, 0, .5); }

.facebook,
.facebook .tooltip,
.facebook .tooltip:before { background: #3B5998; }
.facebook:hover { color:rgba(0, 0, 0, .5) }

.gplus,
.gplus .tooltip,
.gplus .tooltip:before { background: #E34429; }
.gplus:hover { color:rgba(0, 0, 0, .5) }

.pintrest,
.pintrest .tooltip,
.pintrest .tooltip:before { background: #CD1F28; }
.pintrest:hover { color:rgba(0, 0, 0, .5) }
/*end of social share icons*/

.taglist li {
    padding-right: 0px;
    padding-left: 0px;
}

.badge-danger {
    background: #e74c3c !important;
}

.profile-fullname {
    word-break: break-word;
}

.fade-caption > .inline-block-list {
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 10px;
}

.imagetitlefix {
    margin-top: -25px;
}

.imagetitlefix h1 a {
    color: #333;
}

.imagetitlefix h1 a:hover {
    color: #333 !important;
}

.imageh1 {
    margin-bottom: 0px;
}

.imgfix {
   margin-right:15px;
   margin-bottom:5px;
}
.page-header {
    margin-top: 0px;
}

.page-header h1 {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
}

.galfix {
    margin-bottom: 10px;
}

.exif {
    margin-top: 10px;
}

.profile-social {
    text-align: center;
}
.profile-social a {
    margin-left:9px ;
    margin-right:9px;
    text-decoration: none;
}

.facebook {
    background: #3B5998;
    color: white;
}
/* Image Box Style */
#mainwrapper .box {
    border: 5px solid #ffffff;
    cursor: pointer;
    height: 160px;
    float: left;

    position: relative;
    overflow: hidden;
    width: 210px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin: 10px 20px 5px 0px;
}

#mainwrapper .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.caption  h3 {
    margin-top: 10px;
    font-size: 20px;
}

#mainwrapper .box .caption {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
    height: 30px;
    width: 200px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Caption 2: Full Width & Height **/
#mainwrapper .box .full-caption {
    width: 210px;
    height: 160px;
    top: -200px;
    text-align: left;
    padding: 15px;
}

/** Caption 3: Fade **/
#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption {
    opacity: 0;
    width: 200px;
    height: 160px;
    text-align: left;
    padding: 15px;
}

/** Caption 4: Slide **/
#mainwrapper .box .slide-caption {
    width: 210px;
    height: 160px;
    text-align: left;
    padding: 15px;
    left: 200px;
}

/** Caption 5: Rotate **/
#mainwrapper #box-5.box .rotate-caption {
    width: 210px;
    height: 160px;
    text-align: left;
    padding: 15px;
    top: 200px;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#mainwrapper .box .rotate {
    width: 200px;
    height: 400px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 210px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption {
    opacity: 1;
}

/** Slide Caption :hover Behaviour **/
#mainwrapper .box:hover .slide-caption {
    background-color: rgba(0, 0, 0, 1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}

#mainwrapper .box:hover img#image-4 {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
}

/** Rotate Caption :hover Behaviour **/
#mainwrapper .box:hover .rotate {
    background-color: rgba(0, 0, 0, 1) !important;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}

.usernavbar a {
    color: #666666;
}

.usernavbar {
    margin-bottom: 20px;

}

.usergallery {
    margin-left: -15px;
}

.imagesFromUser .userimage {
    margin-right: 5px;
    margin-bottom: 5px;
}

/*ADMIN CSS*/
.inline-block-list {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1
}

.inline-block-list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    white-space: nowrap
}

.unstyled-link {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit
}

.unstyled-link:active, .unstyled-link:focus {
    outline: none
}

.unstyled-link:hover {
    text-decoration: none;
    color: inherit
}

.hide-text {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    display: block;
    width: 0;
    line-height: 0
}

.icon-lg {
    font-size: 45px;
    line-height: 1
}

.provider-panel {
    width: 150px;
    text-align: center
}

.provider-panel .panel-body {
    font-size: 50px;
    color: #428bca;
    background: #f0f7fd
}

.provider-panel .panel-body[class^="icon-"]::before, .provider-panel .panel-body[class*=" icon-"]::before {
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin: auto
}

.provider-panel .panel-footer {
    background: white
}

.replyfollow {
    margin-top: 5px;
}

.commentReplyBox {
    display: none;
}

.replybutton {
    display: block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    cursor: pointer;
}

.replybutton:hover {
    display: block;
    font-size: 12px;
    color: rgb(119, 119, 119);
    cursor: pointer;
}

.closebutton {
    cursor: pointer;
}

.tag:hover {
    text-decoration: none;
}

.black a {
    color: #2c3e50;
}

.black {
    color: #2c3e50;
}

.msg-time {
    display: block;
    font-size: 12px;
    color: rgb(119, 119, 119);
}