
  .pricing_container{background-image:url(../img/pricing_bg.jpg);background-size: cover;background-color: #1b1b1b;background-attachment: fixed;padding: 10px 0px;}
  .pricing_container .container > h3 {color: #fff; font-size: 32px;text-align: center;font-weight:bold;}
  .pricing_container .container > p{color: #fff; font-size: 20px;text-align: center;}
  .pricing_container .container > p font{color: #f6b821}
  .pricing_content.active .course_view_price {background: rgba(255,255,255, 0.8) none repeat scroll 0 0; opacity:1; height: 100%; position: absolute; top: 0; width: 100%;left: 0;text-align: center;}
  .pricing_content.pricing_con_0{background:url(../img/pattern_light.png) #565656;}
  .pricing_content.pricing_con_1{background:url(../img/pattern_light.png) #7e6aaf;}
  .pricing_content.pricing_con_2{background:url(../img/pattern_light.png) #90b31d;}
  .pricing_content.pricing_con_3{background:url(../img/pattern_light.png) #3c99df;}
  .pricing_content{min-height: 385px; color: #e5e5e5;/*border: 1px solid #6d6d6d;*/margin: 35px 0 50px 0; padding-bottom: 30px;}
  .pricing_heading { font-size: 25px; padding: 12px 0; text-align: center;/*border-bottom: 1px solid #6d6d6d;*/}
  .course_view_price{height: 100%;opacity: 0;position: absolute; top: 0; transition: opacity 0.3s ease-in-out 0s;width: 100%; text-align: center;}
  .pricing_amounts { height: 140px;background: #e5e5e5;padding: 35px 0;margin: 3px;position: relative;}
  .pricing_amounts > p {color: #272727;display: inline-block;font-size: 20px;text-align: center;text-transform: uppercase;width: 49%;}
  .pricing_amounts p span { border-right: 2px solid #272727;color: #272727; display: inline-block;font-size: 28px;
    font-weight: bold; width: 100%;}.pricing_amounts > p:nth-last-of-type(1) span{border: none;}
  .pricing_descr {/*border-top: 1px solid #6d6d6d;*/font-size: 15px; padding: 30px 10px;text-align: center;}
  .status_text {text-align: center; font-size: 18px; font-weight: 900; height: 60px; text-transform: uppercase; margin-bottom: 10px; }
  .term_text {font-size: 16px;}
  .term_text span {font-size: 24px; text-transform: uppercase; font-weight: 900;}
  .term_btn_text{height: 60px;}
  .pricing_content .btn {background: #e5e5e5 none repeat scroll 0 0;font-size: 20px;padding: 10px 50px;color: #2e2e2e !important;}
  .pricing_content .btn:hover,.buy-buttons .btn-details:hover{background: #f6b821;color: #333 !important;}
   .pricing_content > p{text-align: center;}.buy-buttons .btn-details:hover{border-color:#f6b821; }
  .pricing_content:hover .course_view_price {background: rgba(255,255,255, 0.8) none repeat scroll 0 0;
    opacity:1; height: 100%; position: absolute; top: 0; width: 100%;left: 0;text-align: center;}
  .course_view_price > a {background: #eaa311 none repeat scroll 0 0;border-radius: 5px;color: #262626;display: inline-block;
     font-size: 20px; font-weight: 500; margin: 45px 0 0; padding: 10px 25px;}
  .top_heading_browse { color: #111; font-size: 32px; font-weight:bold;text-align: center;margin:15px 0px;}#filters {text-align: center;margin-bottom: 20px;}
  #filters .btn-info {background: transparent none repeat scroll 0 0;border: medium none;color: #111;
      display: inline-block; font-size: 20px; padding: 2px 15px;border-radius: 5px;}
  #filters .btn-info.is-checked{background: #f6b821;}
  .recent-image-holder{ background-size: cover; display: inline-block;height: 175px; width: 100%;background-position: center center;border: 1px solid #ccc;}
  .rating_browse {color: #f6b821; display: inline-block; margin: 5px 0;}
  .content_top_recent > a,form.payform button.btn.btn-primary.btn-left-side {display: inline-block; width: 122px;background: #f6b821;color: #333333; font-size:12px; border: 1px solid #f6b821;padding: 7px 3px;;}
  .col-md-4.element-item .content_top_recent > a {margin-left: 10px;}
  .recent-blocks{margin-bottom: 20px;/*max-width: 310px;*/position: relative;overflow: hidden;background: #fff;}
/*  .isotope .element-item{max-width: 310px;}*/
/*    .recent-over_fold{border-right: 60px solid transparent;border-top: 60px solid #ddd;bottom: 0;
    content: "";height: 0;position: absolute;right: 0px;width: 0; -webkit-box-shadow:-6px -4px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -6px -4px 7px rgba(0, 0, 0, 0.2); box-shadow:-6px -4px 7px rgba(0, 0, 0, 0.2);background: #fff;}*/
 /* .recent-blocks::after {border-right: 1px solid #ccc;bottom: -20px;content: ""; height: 94px; position: absolute;
    right: 32px; transform: rotate(45deg); }*/
   


		
		