<h3 class="head_color">Cron Jobs</h3>
<p>Setup Cron Jobs as specified below.</p>
<p class="bg_color">
MAILTO={admin_email}<br/>
* * * * * cd {website_path}cron /usr/local/bin/php -q video_audio_cron.php

</p>
<p>Thank you for choosing <b>{product} {version}</b>.</p>
<p>You will find help and troubleshooting on your website.</p>
&copy; <b>{company}</b> 2010