.sidebar_left .categories_block.extra_ort .dropdown-menu > li > a {font-family: open sans;}
.categ_list .sidebar_left .categories_block.extra_ort .mang_develop li:last-child {margin-bottom: 6px;}
.sidebar_left .categories_block.extra_ort ul li ul {border: 1px solid #e3e3e3; border-radius: 0; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);top: 1px;} 
.categories_block::after {clear: both;content: "";display: block;}
.categories_block .dropdown-menu {box-shadow: none;}
.sidebar_left .categories_block ul {float: none;}
.sidebar_left .categories_block .mang_develop li span.category-count {float: none;margin-left: 8px;}
.dropdown-submenu{position:relative;}
.more_att .categories_block {padding:0px;}
.more_att .mang_develop {padding:0px;}
.categories_block.extra_ort h4 {margin:5px 5px 10px;}
.categories_block h4 {margin: 5px 5px 20px;}
.sidebar_left.more_att .categories_block .mang_develop {padding:0px 15px;}
.sidebar_left.more_att .categories_block.extra_ort .mang_develop {padding:0px;}
.sidebar_left .categories_block ul li span.category-name {display: inline-block;float: none;/*overflow: auto;*/text-overflow: ellipsis;vertical-align: middle;white-space: nowrap;}
.sidebar_left .categories_block .dropdown-menu > li > a {border-radius: 0;height: auto;line-height: normal;margin: 0;padding:5px 15px;}
.sidebar_left .categories_block .dropdown-menu > li .dropdown-menu li a {padding: 5px 15px 6px;}
.sidebar_left .categories_block ul li a i {margin-right: 10px;vertical-align: middle;}
.sidebar_left .categories_block.extra_ort ul {padding:0px;width: 100%;}
.categ_list .sidebar_left .categories_block.extra_ort .mang_develop li {margin-bottom: 0px;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:0;margin-left:0;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block; padding: 0;}
.dropdown-submenu > a .category-count::after {border-color: transparent transparent transparent #cccccc; border-style: solid; border-width: 5px 0 5px 5px; content: " "; display: inline-block; float: none; height: 0; margin-right: 0; margin-top: 5px; position: absolute; right: 10px; text-align: right; width: 0;} 
.dropdown-submenu:hover>a .category-count:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #e59859;
  color: #ffffff;
  text-decoration: none;
}