/*NEW Custom CSS FOR SITE*/

.container {
  max-width: 100%;
}
body {
  background: url("../img/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.provider-panel {
  margin: 0;
}
.provider-panel .panel-body {
  float: left;
  font-size: 16px;
  padding: 15px 10px;
}
.provider-panel .panel-footer {
  padding:15px;
}
.provider-panel {
  width: 100%;
}
.col-md-3.sidebar {
/*  background: url("../img/sidebar_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0;*/
}
.col-md-3.sidebar {
  background-color: #FFFFFF;
  max-width: 280px;
}
.navbar {
  box-shadow: 0 0 5px #000000;
}
.navbar-default {
/*  background-color: #3498DB;*/
  margin-bottom:0;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #FFFFFF;
}
thead {
  background-color: #FFFFFF;
}
.sidebar .inline-block-list, .row .col-md-10 {
  padding-top: 20px;
}

/**********************Navigayion Menu*******************************/
.header_top {
  background: none repeat scroll 0 0 #1A1A1A;
  box-shadow: 0 3px 5px #000000;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.header_wrapper {
  height: 64px;
}
.nav li i {
  color: #FFFFFF;
  float: left;
  left: -5px;
  top: 21px;
}
/*.nav li:hover i {
  color: #18BC9C;
}*/
.nav > li {
  float: left;
}
.nav_menu {
  float: right;
}
.navbar-header {
  float: left;
}
/**********************Horizontal Menu*******************************/

.horz_menu .hozlinks a.img_con img,.horz_menu .hozlinks a.img_con i {
  background: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #CFCFCF;
  margin: 0 10px;
  padding: 7px;
}
.hozlinks li {
  float: left;
  list-style: none outside none;
}
.menu_name {
  clear: both;
  display: block;
  text-align: center;
}
.img_con i {
  color: #868686;
  font-size: 33px;
}
.hozlinks {
  float: right;
  margin-top: 20px;
}
.navbar-collapse {
  max-height: none;
}

/**********************Media Query*******************************/
@media(max-width:990px){
.navbar-toggle {
  display: block;
}
.navbar-collapse.collapse{
	display:none !important;
}
.navbar-collapse {
  border-top: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
  max-height: 340px;
  overflow-x: visible;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-collapse.in {
  overflow-y: auto;
}
.col-md-3.sidebar {
  max-width: none;
}
}