body{margin:0px;padding:0px;}

.container{width:1170px !important;}

.search {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #E0E0E0;border-radius: 3px;margin-top: 8px;width: 180px;margin-right: 24px;}

.stext {color: #BBBBBB;font-family: 'PT Sans Caption',sans-serif;font-size: 13px;margin-bottom: 0 !important;border:1px solid #000000 !important;}

.sbutton {background: url("../images/search.png") no-repeat scroll 0 0;border: medium none;padding-top:15px;height:20px;}

.start_button{background:#70afdb;border:1px solid #5594C1;font-size:18px;font-family: 'Roboto', sans-serif;color:#ffffff;bottom: 2px;right: 22px!important;position:absolute;}

.profile_like img{float:left;}

.about_button {  float:right !important;}

.profile_view{display:table !important;margin:0 auto;}

.menudroplist.dropdown-toggle a:focus {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}

.menudroplist.dropdown-toggle a:active {background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}


/*Home Page*/

/*create_course*/

.category_option  select {outline:0px;}

/* .user_image{padding-right:5px;padding-left:5px;}

.user_text > input {float:right;} */

.profile_form {width:870px;}




